/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments";
import * as core from "../../../../core";
import * as FernRegistry from "../../../index";
import urlJoin from "url-join";

export declare namespace Templates {
    interface Options {
        environment?: core.Supplier<environments.FernRegistryEnvironment | string>;
        token?: core.Supplier<core.BearerToken | undefined>;
    }

    interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

export class Templates {
    constructor(protected readonly _options: Templates.Options = {}) {}

    /**
     * Store endpoint snippet for a particular SDK.
     *
     * @param {FernRegistry.RegisterSnippetTemplateRequest} request
     * @param {Templates.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.templates.register({
     *         orgId: FernRegistry.OrgId("string"),
     *         apiId: FernRegistry.ApiId("string"),
     *         apiDefinitionId: FernRegistry.ApiDefinitionId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *         snippet: {
     *             sdk: {
     *                 type: "typescript",
     *                 package: "string",
     *                 version: "string"
     *             },
     *             endpointId: {
     *                 path: FernRegistry.EndpointPathLiteral("string"),
     *                 method: "GET",
     *                 identifierOverride: "string"
     *             },
     *             snippetTemplate: {
     *                 type: "v1",
     *                 clientInstantiation: "string",
     *                 functionInvocation: {
     *                     type: "generic",
     *                     imports: ["string"],
     *                     isOptional: true,
     *                     templateString: "string",
     *                     templateInputs: [{
     *                             type: "template",
     *                             value: {
     *                                 "key": "value"
     *                             }
     *                         }],
     *                     inputDelimiter: "string"
     *                 }
     *             },
     *             additionalTemplates: {
     *                 "string": {
     *                     type: "v1",
     *                     clientInstantiation: "string",
     *                     functionInvocation: {
     *                         type: "generic",
     *                         imports: ["string"],
     *                         isOptional: true,
     *                         templateString: "string",
     *                         templateInputs: [{
     *                                 type: "template",
     *                                 value: {
     *                                     "key": "value"
     *                                 }
     *                             }],
     *                         inputDelimiter: "string"
     *                     }
     *                 }
     *             }
     *         }
     *     })
     */
    public async register(
        request: FernRegistry.RegisterSnippetTemplateRequest,
        requestOptions?: Templates.RequestOptions
    ): Promise<core.APIResponse<void, FernRegistry.templates.register.Error>> {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.FernRegistryEnvironment.Prod,
                "/snippet-template/register"
            ),
            method: "POST",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: undefined,
            };
        }

        return {
            ok: false,
            error: FernRegistry.templates.register.Error._unknown(_response.error),
        };
    }

    /**
     * Store endpoint snippets for a particular SDK.
     *
     * @param {FernRegistry.RegisterSnippetTemplateBatchRequest} request
     * @param {Templates.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.templates.registerBatch({
     *         orgId: FernRegistry.OrgId("string"),
     *         apiId: FernRegistry.ApiId("string"),
     *         apiDefinitionId: FernRegistry.ApiDefinitionId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *         snippets: [{
     *                 sdk: {
     *                     type: "typescript",
     *                     package: "string",
     *                     version: "string"
     *                 },
     *                 endpointId: {
     *                     path: FernRegistry.EndpointPathLiteral("string"),
     *                     method: "GET",
     *                     identifierOverride: "string"
     *                 },
     *                 snippetTemplate: {
     *                     type: "v1",
     *                     clientInstantiation: "string",
     *                     functionInvocation: {
     *                         type: "generic",
     *                         imports: ["string"],
     *                         isOptional: true,
     *                         templateString: "string",
     *                         templateInputs: [{
     *                                 type: "template",
     *                                 value: {
     *                                     "key": "value"
     *                                 }
     *                             }],
     *                         inputDelimiter: "string"
     *                     }
     *                 },
     *                 additionalTemplates: {
     *                     "string": {
     *                         type: "v1",
     *                         clientInstantiation: "string",
     *                         functionInvocation: {
     *                             type: "generic",
     *                             imports: ["string"],
     *                             isOptional: true,
     *                             templateString: "string",
     *                             templateInputs: [{
     *                                     type: "template",
     *                                     value: {
     *                                         "key": "value"
     *                                     }
     *                                 }],
     *                             inputDelimiter: "string"
     *                         }
     *                     }
     *                 }
     *             }]
     *     })
     */
    public async registerBatch(
        request: FernRegistry.RegisterSnippetTemplateBatchRequest,
        requestOptions?: Templates.RequestOptions
    ): Promise<core.APIResponse<void, FernRegistry.templates.registerBatch.Error>> {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.FernRegistryEnvironment.Prod,
                "/snippet-template/register/batch"
            ),
            method: "POST",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: undefined,
            };
        }

        return {
            ok: false,
            error: FernRegistry.templates.registerBatch.Error._unknown(_response.error),
        };
    }

    /**
     * Get the endpoint's snippet template for a particular SDK.
     *
     * @param {FernRegistry.GetSnippetTemplate} request
     * @param {Templates.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.templates.get({
     *         orgId: FernRegistry.OrgId("string"),
     *         apiId: FernRegistry.ApiId("string"),
     *         sdk: {
     *             type: "typescript",
     *             package: "string",
     *             version: "string"
     *         },
     *         endpointId: {
     *             path: FernRegistry.EndpointPathLiteral("string"),
     *             method: "GET",
     *             identifierOverride: "string"
     *         }
     *     })
     */
    public async get(
        request: FernRegistry.GetSnippetTemplate,
        requestOptions?: Templates.RequestOptions
    ): Promise<core.APIResponse<FernRegistry.EndpointSnippetTemplate, FernRegistry.templates.get.Error>> {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.FernRegistryEnvironment.Prod,
                "/snippet-template/get"
            ),
            method: "POST",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: _response.body as FernRegistry.EndpointSnippetTemplate,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.templates.get.Error)?.error) {
                case "UnauthorizedError":
                case "SnippetNotFound":
                    return {
                        ok: false,
                        error: _response.error.body as FernRegistry.templates.get.Error,
                    };
            }
        }

        return {
            ok: false,
            error: FernRegistry.templates.get.Error._unknown(_response.error),
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
