@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fern-ui/components/src/FernScrollArea";
@import "@radix-ui/colors/gray";
@import "@radix-ui/colors/gray-dark";
@import "@radix-ui/colors/gray-alpha";
@import "@radix-ui/colors/gray-dark-alpha";
@import "./index";

@layer components {
    .icon-2xl {
        @apply size-8 shrink-0;

        stroke-width: 1.5;
    }
}

@layer utilities {
    .mask-grad-y-6 {
        mask-image: linear-gradient(to bottom, transparent 0, black 24px, black calc(100% - 24px), transparent 100%);
    }
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

:root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --fern-chatbot-modal-bg: #f9fafb;
    --fern-chatbot-link: #3182ce;
    --fern-chatbot-link-hover: #2c5282;
    --tag-default: #e2e8f0;
    --border-accent-muted: #e2e8f0;
}

.dark {
    --fern-chatbot-modal-bg: #1a202c;
    --fern-chatbot-link: #63b3ed;
    --fern-chatbot-link-hover: #4299e1;
    --tag-default: #2d3748;
    --border-accent-muted: #2d3748;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: black;
}
