.fern-http-method-tag {
    align-items: center;
    display: inline-flex;
    font-family:
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        Liberation Mono,
        Courier New,
        monospace;
    justify-content: center;
    line-height: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.fern-http-method-tag.small {
    border-radius: 0.375rem;
    font-size: 0.625rem;
    height: 1rem;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

.fern-http-method-tag.large {
    border-radius: 0.5rem;
    font-size: 0.75rem;
    height: 1.5rem;
    padding: 0.25rem 0.5rem;
}

:is(.dark) .fern-http-method-tag,
:is([data-theme="dark"]) .fern-http-method-tag {
    background-color: var(--background-color-dark) !important;
    color: var(--color-dark) !important;
    border-color: var(--border-color-dark) !important;
}
