@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .fern-input-focus {
        @apply outline-tag-primary-light dark:outline-tag-primary-dark ring-accent-primary outline outline-4 outline-offset-0;
    }

    .fern-input {
        @apply form-input;
        @apply !border-none !bg-transparent;
        @apply !outline-none !ring-0;
        @apply w-full;
    }

    .fern-textarea {
        @apply form-textarea resize-none !border-none;
        @apply !outline-none !ring-0 !bg-transparent;
        @apply w-full;
    }

    .fern-textarea-group,
    .fern-input-group,
    .fern-numeric-input-group {
        @apply flex items-center overflow-hidden;
        @apply focus-within:fern-input-focus;
    }

    .fern-input-icon {
        @apply flex items-center justify-center;
        @apply w-8 h-full shrink-0;
    }

    .fern-input-icon + .fern-input {
        @apply pl-8 -ml-8;
    }

    .fern-input-right-element {
        @apply flex items-center justify-center;
        @apply min-w-8 h-full shrink-0 px-0 -ml-2;
    }

    .fern-textarea-group,
    .fern-input-group,
    .fern-numeric-input-group {
        @apply ring-default rounded-lg ring-1 ring-inset bg-white dark:bg-white/5 shadow-sm;
    }

    .fern-input-group,
    .fern-numeric-input-group {
        @apply h-8;
    }

    .fern-numeric-input-group .fern-numeric-input-step {
        @apply h-full rounded-none border-default;
    }

    .fern-numeric-input-group:focus-within .fern-numeric-input-step {
        @apply ring-accent-primary hover:bg-tag-primary text-accent-primary hover:text-accent-primary border-accent-primary;
    }

    .fern-numeric-input-group .fern-numeric-input-step:first-child {
        @apply rounded-l-md border-r;
    }

    .fern-numeric-input-group .fern-numeric-input-step:last-child {
        @apply rounded-r-md border-l;
    }

    .fern-input,
    .fern-textarea {
        @apply caret-accent-primary-light dark:caret-accent-primary-dark py-2 px-2.5 text-sm;
    }

    input.fern-input::-webkit-outer-spin-button,
    input.fern-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input.fern-input[type="number"] {
        -moz-appearance: textfield;
    }
}
