.fern-scroll-area {
    @apply h-full w-full overflow-hidden flex flex-col;
}

.fern-scroll-area-viewport {
    @apply h-full w-full shrink flex min-h-0;
    border-radius: inherit;

    > div {
        @apply h-full;
    }
}

.fern-scroll-area-scrollbar {
    @apply flex select-none touch-none my-1 mx-0.5 transition-all ease-out z-auto rounded-full;
    @apply bg-tag-default-light;
    @apply dark:bg-tag-default-dark;
}
.fern-scroll-area-scrollbar[data-orientation="vertical"] {
    @apply w-[6px];

    &:hover {
        @apply w-[10px];
    }
}
.fern-scroll-area-scrollbar[data-orientation="horizontal"] {
    @apply flex-col h-[6px];

    &:hover {
        @apply h-[10px];
    }
}

.fern-scroll-area-thumb {
    @apply flex relative;
    @apply bg-border-primary flex-1 rounded-full;
    @apply dark:bg-border-primary-dark;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.fern-scroll-area-thumb::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: 44px;
    min-height: 44px;
}
