@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    a.fern-button {
        @apply no-underline hover:no-underline;
    }

    .fern-button {
        @apply hover:transition-[background];
        @apply inline-flex items-center justify-center;
        @apply rounded-lg px-3 py-1 text-sm h-8;
        @apply focus:outline-accent-primary dark:focus:outline-accent-primary-dark;

        &.rounded {
            @apply rounded-full;
        }

        > .fern-button-content {
            @apply text-center items-center justify-center inline-flex;
            @apply gap-1.5 h-6;

            > .fa-icon,
            > svg {
                @apply size-4;
            }
        }

        &.square {
            @apply px-1;

            > .fern-button-content {
                @apply w-6;
            }
        }

        &.small {
            @apply px-2 py-1 text-xs h-6;

            > .fern-button-content {
                @apply gap-1.5 h-4;

                > .fa-icon,
                > svg {
                    @apply size-3;
                }
            }

            &.square {
                @apply px-1;

                > .fern-button-content {
                    @apply w-6;
                }
            }
        }

        &.large {
            @apply px-4 py-2 text-base h-10;

            > .fern-button-content {
                @apply gap-2 h-6;

                > .fern-button-icon {
                    @apply w-5 h-5;
                }
            }

            &.square {
                @apply px-2;

                > .fern-button-content {
                    @apply w-10;
                }
            }
        }

        &.disabled {
            @apply cursor-not-allowed bg-black/20 text-text-default-light/40 hover:text-text-default-light/40;
            @apply dark:bg-white/10 dark:text-text-default-dark/50 dark:hover:text-text-default-dark/50;
        }

        &:not(.disabled) {
            &.minimal {
                @apply bg-transparent;
                @apply text-text-default-light/60 hover:text-text-default-light/60;

                &:hover,
                &.active {
                    @apply bg-black/10;
                }

                .fa-icon {
                    @apply bg-text-default-light/60;
                }

                &:not(.primary, .success, .warning, .danger) {
                    @apply dark:text-text-default-dark/70 dark:hover:text-text-default-dark/70;

                    &:hover,
                    &.active {
                        @apply dark:bg-white/10;
                    }

                    .fa-icon {
                        @apply dark:bg-text-default-dark/70;
                    }
                }

                &.primary {
                    @apply t-default hover:t-default;

                    &:hover,
                    &.active {
                        @apply bg-tag-primary;
                    }

                    .fa-icon {
                        @apply bg-text-default-light dark:bg-text-default-dark;
                    }
                }

                &.success {
                    @apply t-success hover:t-success;

                    &:hover,
                    &.active {
                        @apply bg-tag-success;
                    }

                    .fa-icon {
                        @apply bg-intent-success-light dark:bg-intent-success-dark;
                    }
                }

                &.warning {
                    @apply t-warning hover:t-warning;

                    &:hover,
                    &.active {
                        @apply bg-tag-warning;
                    }

                    .fa-icon {
                        @apply bg-intent-warning-light dark:bg-intent-warning-dark;
                    }
                }

                &.danger {
                    @apply t-danger hover:t-danger;

                    &:hover,
                    &.active {
                        @apply bg-tag-danger;
                    }

                    .fa-icon {
                        @apply bg-intent-danger-light dark:bg-intent-danger-dark;
                    }
                }
            }

            &.filled {
                @apply bg-text-default-light/60 text-white;
                @apply dark:bg-text-default-dark/60 dark:text-black;

                &:hover,
                &.active {
                    @apply bg-text-default-light/60 text-white;
                    @apply dark:bg-text-default-dark/60 dark:text-black;
                }

                .fa-icon {
                    @apply bg-text-default-light/60 text-white;
                    @apply dark:bg-text-default-dark/60 dark:text-black;
                }

                &.primary {
                    @apply bg-accent-primary hover:bg-accent-primary text-accent-primary-contrast;
                    @apply dark:text-accent-primary-dark-contrast;

                    &:hover,
                    &.active {
                        @apply bg-accent-primary-darkened text-accent-primary-contrast;
                        @apply dark:bg-accent-primary-dark-lightened dark:text-accent-primary-dark-contrast;
                    }

                    .fa-icon {
                        @apply bg-accent-primary-contrast;
                        @apply dark:bg-accent-primary-dark-contrast;
                    }
                }

                &.success {
                    @apply bg-intent-success-light text-white;
                    @apply dark:bg-intent-success-dark dark:text-black;

                    &:hover,
                    &.active {
                        @apply bg-intent-success-light-darkened text-white;
                        @apply dark:bg-intent-success-dark-lightened dark:text-black;
                    }

                    .fa-icon {
                        @apply bg-white;
                        @apply dark:bg-black;
                    }
                }

                &.warning {
                    @apply bg-intent-warning-light text-white;
                    @apply dark:bg-intent-warning-dark dark:text-black;

                    &:hover,
                    &.active {
                        @apply bg-intent-warning-light-darkened text-white;
                        @apply dark:bg-intent-warning-dark-lightened dark:text-black;
                    }

                    .fa-icon {
                        @apply bg-white;
                        @apply dark:bg-black;
                    }
                }

                &.danger {
                    @apply bg-intent-danger-light text-white;
                    @apply dark:bg-intent-danger-dark dark:text-black;

                    &:hover,
                    &.active {
                        @apply bg-intent-danger-light-darkened text-white;
                        @apply dark:bg-intent-danger-dark-lightened dark:text-black;
                    }

                    .fa-icon {
                        @apply bg-white;
                        @apply dark:bg-black;
                    }
                }
            }

            &.outlined {
                @apply ring-1 transition-shadow transition-[background] ring-inset;
                @apply ring-text-default-light/60 text-text-default-light/60;
                @apply dark:ring-text-default-dark/60 dark:text-text-default-dark/60;

                &:hover,
                &.active {
                    @apply ring-2;
                }

                &:hover,
                .active {
                    @apply bg-black/10 text-text-default-light/60;
                    @apply dark:bg-white/10 dark:text-text-default-dark/60;
                }

                .fa-icon {
                    @apply bg-text-default-light/60;
                    @apply dark:bg-text-default-dark/60;
                }

                &.primary {
                    @apply ring-border-primary text-accent-primary;
                    @apply dark:ring-border-primary-dark;

                    &:hover,
                    .active {
                        @apply bg-tag-primary text-accent-primary;
                    }

                    .fa-icon {
                        @apply bg-accent-primary;
                    }
                }

                &.success {
                    @apply ring-border-success-light text-intent-success-light;
                    @apply dark:ring-border-success-dark dark:text-intent-success-dark;

                    &:hover,
                    .active {
                        @apply bg-tag-success text-intent-success-light;
                        @apply dark:text-intent-success-dark;
                    }

                    .fa-icon {
                        @apply bg-intent-success-light;
                        @apply dark:bg-intent-success-dark;
                    }
                }

                &.warning {
                    @apply ring-border-warning-light text-intent-warning-light;
                    @apply dark:ring-border-warning-dark dark:text-intent-warning-dark;

                    &:hover,
                    .active {
                        @apply bg-tag-warning text-intent-warning-light;
                        @apply dark:text-intent-warning-dark;
                    }

                    .fa-icon {
                        @apply bg-intent-warning-light;
                        @apply dark:bg-intent-warning-dark;
                    }
                }

                &.danger {
                    @apply ring-border-danger-light text-intent-danger-light;
                    @apply dark:ring-border-danger-dark dark:text-intent-danger-dark;

                    &:hover,
                    .active {
                        @apply bg-tag-danger text-intent-danger-light;
                        @apply dark:text-intent-danger-dark;
                    }

                    .fa-icon {
                        @apply bg-intent-danger-light;
                        @apply dark:bg-intent-danger-dark;
                    }
                }
            }
        }
    }

    .fern-button-group {
        @apply inline-flex items-stretch;

        > .fern-button {
            + .fern-button.outlined,
            + .fern-button.filled {
                @apply ml-2;
            }
        }

        > .fern-button.small {
            + .fern-button.small.outlined,
            + .fern-button.small.filled {
                @apply ml-1;
            }
        }

        > .fern-button.large {
            + .fern-button.large.outlined,
            + .fern-button.large.filled {
                @apply ml-3;
            }
        }

        > .fern-button.outlined,
        > .fern-button.filled {
            + .fern-button.minimal {
                @apply ml-2;
            }
        }
    }
}
