@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/white-alpha.css";

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/ruby.css";
@import "@radix-ui/colors/crimson.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/iris.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/jade.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/bronze.css";
@import "@radix-ui/colors/gold.css";
@import "@radix-ui/colors/brown.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/mint.css";
@import "@radix-ui/colors/sky.css";

@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/mauve-alpha.css";
@import "@radix-ui/colors/slate-alpha.css";
@import "@radix-ui/colors/sage-alpha.css";
@import "@radix-ui/colors/olive-alpha.css";
@import "@radix-ui/colors/sand-alpha.css";
@import "@radix-ui/colors/tomato-alpha.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/ruby-alpha.css";
@import "@radix-ui/colors/crimson-alpha.css";
@import "@radix-ui/colors/pink-alpha.css";
@import "@radix-ui/colors/plum-alpha.css";
@import "@radix-ui/colors/purple-alpha.css";
@import "@radix-ui/colors/violet-alpha.css";
@import "@radix-ui/colors/iris-alpha.css";
@import "@radix-ui/colors/indigo-alpha.css";
@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/cyan-alpha.css";
@import "@radix-ui/colors/teal-alpha.css";
@import "@radix-ui/colors/jade-alpha.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/grass-alpha.css";
@import "@radix-ui/colors/bronze-alpha.css";
@import "@radix-ui/colors/gold-alpha.css";
@import "@radix-ui/colors/brown-alpha.css";
@import "@radix-ui/colors/orange-alpha.css";
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/yellow-alpha.css";
@import "@radix-ui/colors/lime-alpha.css";
@import "@radix-ui/colors/mint-alpha.css";
@import "@radix-ui/colors/sky-alpha.css";

@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/mauve-dark.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/sage-dark.css";
@import "@radix-ui/colors/olive-dark.css";
@import "@radix-ui/colors/sand-dark.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/ruby-dark.css";
@import "@radix-ui/colors/crimson-dark.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/plum-dark.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/violet-dark.css";
@import "@radix-ui/colors/iris-dark.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/cyan-dark.css";
@import "@radix-ui/colors/teal-dark.css";
@import "@radix-ui/colors/jade-dark.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/grass-dark.css";
@import "@radix-ui/colors/bronze-dark.css";
@import "@radix-ui/colors/gold-dark.css";
@import "@radix-ui/colors/brown-dark.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/yellow-dark.css";
@import "@radix-ui/colors/lime-dark.css";
@import "@radix-ui/colors/mint-dark.css";
@import "@radix-ui/colors/sky-dark.css";

@import "@radix-ui/colors/gray-dark-alpha.css";
@import "@radix-ui/colors/mauve-dark-alpha.css";
@import "@radix-ui/colors/slate-dark-alpha.css";
@import "@radix-ui/colors/sage-dark-alpha.css";
@import "@radix-ui/colors/olive-dark-alpha.css";
@import "@radix-ui/colors/sand-dark-alpha.css";
@import "@radix-ui/colors/tomato-dark-alpha.css";
@import "@radix-ui/colors/red-dark-alpha.css";
@import "@radix-ui/colors/ruby-dark-alpha.css";
@import "@radix-ui/colors/crimson-dark-alpha.css";
@import "@radix-ui/colors/pink-dark-alpha.css";
@import "@radix-ui/colors/plum-dark-alpha.css";
@import "@radix-ui/colors/purple-dark-alpha.css";
@import "@radix-ui/colors/violet-dark-alpha.css";
@import "@radix-ui/colors/iris-dark-alpha.css";
@import "@radix-ui/colors/indigo-dark-alpha.css";
@import "@radix-ui/colors/blue-dark-alpha.css";
@import "@radix-ui/colors/cyan-dark-alpha.css";
@import "@radix-ui/colors/teal-dark-alpha.css";
@import "@radix-ui/colors/jade-dark-alpha.css";
@import "@radix-ui/colors/green-dark-alpha.css";
@import "@radix-ui/colors/grass-dark-alpha.css";
@import "@radix-ui/colors/bronze-dark-alpha.css";
@import "@radix-ui/colors/gold-dark-alpha.css";
@import "@radix-ui/colors/brown-dark-alpha.css";
@import "@radix-ui/colors/orange-dark-alpha.css";
@import "@radix-ui/colors/amber-dark-alpha.css";
@import "@radix-ui/colors/yellow-dark-alpha.css";
@import "@radix-ui/colors/lime-dark-alpha.css";
@import "@radix-ui/colors/mint-dark-alpha.css";
@import "@radix-ui/colors/sky-dark-alpha.css";

:root {
  --grayscale-1: var(--gray-1);
  --grayscale-2: var(--gray-2);
  --grayscale-3: var(--gray-3);
  --grayscale-4: var(--gray-4);
  --grayscale-5: var(--gray-5);
  --grayscale-6: var(--gray-6);
  --grayscale-7: var(--gray-7);
  --grayscale-8: var(--gray-8);
  --grayscale-9: var(--gray-9);
  --grayscale-10: var(--gray-10);
  --grayscale-11: var(--gray-11);
  --grayscale-12: var(--gray-12);

  --grayscale-a1: var(--gray-a1);
  --grayscale-a2: var(--gray-a2);
  --grayscale-a3: var(--gray-a3);
  --grayscale-a4: var(--gray-a4);
  --grayscale-a5: var(--gray-a5);
  --grayscale-a6: var(--gray-a6);
  --grayscale-a7: var(--gray-a7);
  --grayscale-a8: var(--gray-a8);
  --grayscale-a9: var(--gray-a9);
  --grayscale-a10: var(--gray-a10);
  --grayscale-a11: var(--gray-a11);
  --grayscale-a12: var(--gray-a12);
}
