@layer components {
  .fern-input {
    @apply form-input w-full;
    @apply border-none bg-transparent;
    @apply ring-0 outline-none;
  }

  .fern-textarea {
    @apply form-textarea w-full resize-none;
    @apply border-none bg-transparent ring-0 outline-none;
  }

  .fern-textarea-group,
  .fern-input-group,
  .fern-numeric-input-group {
    @apply flex items-center overflow-hidden;
    @apply focus-within:ring-border-primary focus-within:ring-2 focus-within:outline-none;
    @apply ring-default dark:bg-tag-default-soft rounded-lg bg-white ring-1 shadow-inner ring-inset;
  }

  .fern-input-icon {
    @apply flex items-center justify-center;
    @apply h-full w-8 shrink-0;
  }

  .fern-input-icon + .fern-input {
    @apply -ml-8 pl-8;
  }

  .fern-input-right-element {
    @apply flex items-center justify-center;
    @apply -ml-2 h-full min-w-8 shrink-0 px-0;
  }

  .fern-input-group,
  .fern-numeric-input-group {
    @apply h-10 sm:h-8;
  }

  .fern-numeric-input-group .fern-numeric-input-step {
    @apply border-default h-full rounded-none;
  }

  .fern-numeric-input-group:focus-within
    .fern-numeric-input-step:not(:disabled) {
    @apply text-accent border-primary ring-accent hover:text-accent hover:bg-tag-primary;
  }

  .fern-numeric-input-group .fern-numeric-input-step:first-child {
    @apply rounded-l-md border-r;
  }

  .fern-numeric-input-group .fern-numeric-input-step:last-child {
    @apply rounded-r-md border-l;
  }

  .fern-input,
  .fern-textarea {
    @apply caret-accent px-2.5 py-2 text-sm;
    @apply max-sm:text-base;
  }

  input.fern-input::-webkit-outer-spin-button,
  input.fern-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  input.fern-input[type="number"] {
    appearance: textfield;
  }

  .fern-input-group.error {
    background: rgba(252, 100, 100, 63%);
  }
}
