@layer components {
  .fern-input {
    @apply w-full;
    @apply border-none bg-transparent;
    @apply outline-none ring-0;
  }

  .fern-textarea {
    @apply w-full resize-none;
    @apply border-none bg-transparent outline-none ring-0;
  }

  .fern-textarea-group,
  .fern-input-group,
  .fern-numeric-input-group {
    @apply flex items-center overflow-hidden;
    @apply focus-within:ring-(--accent-a5) focus-within:outline-none focus-within:ring-2;
    @apply ring-border-default dark:bg-(--grayscale-a2) rounded-2 bg-white shadow-inner ring-1 ring-inset;
  }

  .fern-input-icon {
    @apply flex items-center justify-center;
    @apply h-full w-8 shrink-0;
  }

  .fern-input-icon + .fern-input {
    @apply -ml-8 pl-8;
  }

  .fern-input-right-element {
    @apply flex items-center justify-center;
    @apply -ml-2 h-full min-w-8 shrink-0 px-0;
  }

  .fern-input-group,
  .fern-numeric-input-group {
    @apply h-10 sm:h-8;
  }

  .fern-numeric-input-group .fern-numeric-input-step {
    @apply border-border-default h-full rounded-none;
  }

  .fern-numeric-input-group:focus-within
    .fern-numeric-input-step:not(:disabled) {
    @apply text-(color:--accent-a11) border-(--accent-a5) ring-(--accent) hover:text-(color:--accent-a11) hover:bg-(--accent-a3);
  }

  .fern-numeric-input-group .fern-numeric-input-step:first-child {
    @apply rounded-l-3/2 border-r;
  }

  .fern-numeric-input-group .fern-numeric-input-step:last-child {
    @apply rounded-r-3/2 border-l;
  }

  .fern-input,
  .fern-textarea {
    @apply caret-(--accent) px-2.5 py-2 text-sm;
    @apply max-sm:text-base;
  }

  input.fern-input::-webkit-outer-spin-button,
  input.fern-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  input.fern-input[type="number"] {
    appearance: textfield;
  }

  .fern-input-group.error {
    background: rgba(252, 100, 100, 63%);
  }
}
