@layer components {
  .fern-scroll-area {
    @apply z-0 flex h-full w-full flex-col overflow-hidden;
  }

  .fern-scroll-area-viewport {
    @apply flex h-full min-h-0 w-full shrink flex-col;

    border-radius: inherit;

    /* Stop Chrome back/forward two-finger swipe when there is a horizontal scrollbar */
    &:where(:has(.fern-scroll-area-scrollbar[data-orientation="horizontal"])) {
      overscroll-behavior-x: contain;
    }

    > div {
      display: block !important;

      /*
      TODO: this seems to be causing a bug where the scroll area always shrinks the content
      but i'm not sure why this was introduced in the first place.
      width: fit-content;
      */
      flex-grow: 1;
    }

    &[data-scrollbars="vertical"] > div {
      max-width: 100%;
    }
  }

  .fern-scroll-area-scrollbar {
    @apply z-10 m-1 flex touch-none rounded-full transition-all ease-out select-none;
    @apply bg-tag-default;
  }

  .fern-scroll-area-scrollbar[data-state="hidden"] {
    @apply opacity-0;
  }

  .fern-scroll-area-scrollbar[data-orientation="vertical"] {
    @apply my-[5px] w-[4px] hover:w-[6px];
  }

  .fern-scroll-area-scrollbar[data-orientation="horizontal"] {
    @apply mx-[5px] h-[4px] flex-col hover:h-[6px];
  }

  .fern-scroll-area-thumb {
    @apply relative z-auto flex;
    @apply bg-border-primary flex-1 rounded-full;
  }

  /* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
  .fern-scroll-area-thumb::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: 44px;
    min-height: 44px;
  }

  .fern-scroll-area-corner {
    @apply bg-transparent;
  }
}
