@layer components {
  .fern-checkbox-label {
    @apply flex cursor-pointer;
  }

  .fern-checkbox-item {
    @apply ring-default relative mt-0.5 inline-block size-4 rounded-sm ring-1 ring-inset;
  }

  .fern-checkbox-item:hover {
    @apply bg-tag-primary;
  }

  .fern-checkbox-item:focus {
    @apply outline-tag-primary outline outline-4 outline-offset-0;
  }

  .fern-checkbox-indicator {
    @apply bg-accent text-accent-contrast flex size-4 items-center justify-center rounded-sm;
  }
}
