@layer components {
  .fern-card {
    @apply text-body bg-card-background border-border-default hover:text-body shadow-card-grayscale border transition-all hover:transition-none;

    @variant dark {
      box-shadow: 0 2px 4px var(--grayscale-a3);
    }

    &.interactive {
      &.active {
        @apply shadow-card-grayscale;
      }

      @variant hover {
        @apply shadow-card-grayscale-elevated;

        border-color: var(--accent-a9);
      }
    }

    &.elevated,
    &.interactive.active {
      border-color: var(--accent-a9);
    }

    &.elevated {
      @apply shadow-card-accent-elevated;
    }

    ul:not(.list-none) {
      @apply pl-5;

      li {
        @apply list-outside;
      }
    }
  }
}
