@layer components {
  .fern-button {
    @apply transition-colors hover:transition-none;
    @apply inline-flex items-center justify-center;
    @apply h-10 rounded-lg px-3 py-1 text-sm sm:h-8;
    @apply cursor-pointer;

    &.multiline,
    &.multiline > .fern-button-content {
      height: auto !important;
    }

    &.rounded {
      @apply rounded-full;
    }

    &:not(.square):has(> .fern-button-content > .fa-icon:first-child),
    &:not(.square):has(> .fern-button-content > svg:first-child) {
      @apply pl-2;
    }

    &:not(.square):has(> .fern-button-content > .fa-icon:last-child),
    &:not(.square):has(> .fern-button-content > svg:last-child) {
      @apply pr-2;
    }

    > .fern-button-content {
      @apply inline-flex min-w-0 shrink items-center;
      @apply h-6 gap-1.5;

      > .fa-icon,
      > svg {
        @apply size-icon-md shrink-0;
      }

      .fern-button-text {
        @apply min-w-0 shrink;
      }
    }

    &:not(.multiline) {
      .fern-button-text {
        @apply truncate;
      }
    }

    &:not(.text-left, .text-right) > .fern-button-content {
      @apply justify-center text-center;
    }

    &.text-left > .fern-button-content {
      @apply flex-1 justify-start;

      .fern-button-text {
        @apply flex-1;
      }
    }

    &.square {
      @apply px-1;

      > .fern-button-content {
        @apply h-7 w-7 sm:h-6 sm:w-6;
      }
    }

    &.small {
      @apply h-7 px-2 py-1 text-xs sm:h-6;

      &:not(.square):has(> .fern-button-content > .fa-icon:first-child),
      &:not(.square):has(> .fern-button-content > svg:first-child) {
        @apply pl-1.5;
      }

      &:not(.square):has(> .fern-button-content > .fa-icon:last-child),
      &:not(.square):has(> .fern-button-content > svg:last-child) {
        @apply pr-1.5;
      }

      > .fern-button-content {
        @apply h-4 gap-1.5;

        > .fa-icon,
        > svg {
          @apply size-icon-sm;
        }
      }

      &.square {
        @apply px-1;

        > .fern-button-content {
          @apply w-6 sm:w-4;
        }
      }
    }

    &.large {
      @apply h-11 px-3 py-2 text-base sm:h-10 lg:px-4;

      &:not(.square):has(> .fern-button-content > .fa-icon:first-child),
      &:not(.square):has(> .fern-button-content > svg:first-child) {
        @apply pl-3;
      }

      &:not(.square):has(> .fern-button-content > .fa-icon:last-child),
      &:not(.square):has(> .fern-button-content > svg:last-child) {
        @apply pr-3;
      }

      > .fern-button-content {
        @apply h-6 gap-2;

        > .fa-icon,
        > svg {
          @apply size-icon-lg;
        }
      }

      &.square {
        @apply px-2;

        > .fern-button-content {
          @apply w-7 sm:w-6;
        }
      }
    }

    &[disabled] {
      @apply text-text-default/40 hover:text-text-default/40 cursor-not-allowed bg-black/20;
      @apply dark:text-text-default/50 dark:hover:text-text-default/50 dark:bg-white/10;
    }

    &:not([disabled]) {
      &.minimal {
        @apply t-muted bg-transparent;

        &:hover {
          @apply t-default;
        }

        // @apply t-muted hover:t-default;
        @apply hover:bg-tag-default data-[selected=true]:bg-tag-default data-[state=checked]:bg-tag-default data-[state=on]:bg-tag-default data-[state=open]:bg-tag-default data-[state=opening]:bg-tag-default;

        .fa-icon {
          @apply bg-text-default/60;
        }

        svg {
          @apply text-text-default/60;
        }

        &:not(.primary, .success, .warning, .danger) {
          .fa-icon {
            @apply dark:bg-text-default/70;
          }

          svg {
            @apply dark:text-text-default/70;
          }
        }

        &.primary {
          @apply t-accent hover:t-accent;
          @apply hover:bg-tag-primary data-[selected=true]:bg-tag-primary data-[state=checked]:bg-tag-primary data-[state=on]:bg-tag-primary data-[state=open]:bg-tag-primary data-[state=opening]:bg-tag-primary;

          .fa-icon {
            @apply bg-accent-aa;
          }

          svg {
            @apply text-accent-aa;
          }
        }

        &.success {
          @apply t-success hover:t-success;
          @apply hover:bg-tag-success data-[selected=true]:bg-tag-success data-[state=checked]:bg-tag-success data-[state=on]:bg-tag-success data-[state=open]:bg-tag-success data-[state=opening]:bg-tag-success;

          .fa-icon {
            @apply bg-intent-success;
          }

          svg {
            @apply text-intent-success;
          }
        }

        &.warning {
          @apply t-warning hover:t-warning;
          @apply hover:bg-tag-warning data-[selected=true]:bg-tag-warning data-[state=checked]:bg-tag-warning data-[state=on]:bg-tag-warning data-[state=open]:bg-tag-warning data-[state=opening]:bg-tag-warning;

          .fa-icon {
            @apply bg-intent-warning;
          }

          svg {
            @apply text-intent-warning;
          }
        }

        &.danger {
          @apply t-danger hover:t-danger;
          @apply hover:bg-tag-danger data-[selected=true]:bg-tag-danger data-[state=checked]:bg-tag-danger data-[state=on]:bg-tag-danger data-[state=open]:bg-tag-danger data-[state=opening]:bg-tag-danger;

          .fa-icon {
            @apply bg-intent-danger;
          }

          svg {
            @apply text-intent-danger;
          }
        }
      }

      &.filled {
        @apply t-default bg-text-default/60;

        &:hover,
        &[data-state="on"],
        &[data-state="checked"],
        &[data-state="open"],
        &[data-state="opening"] {
          @apply t-default bg-text-default/60;
        }

        .fa-icon {
          @apply t-default bg-text-default/60;
        }

        svg {
          @apply text-text-default/60;
        }

        &.primary {
          @apply t-accent-contrast bg-accent hover:bg-accent;

          &:hover,
          &[data-state="on"],
          &[data-state="checked"],
          &[data-state="open"],
          &[data-state="opening"] {
            @apply t-accent-contrast bg-accent-tinted;
          }

          .fa-icon {
            @apply bg-accent-contrast;
          }

          svg {
            @apply text-accent-contrast;
          }
        }

        &.success {
          @apply bg-intent-success text-white dark:text-black;

          &:hover,
          &[data-state="on"],
          &[data-state="checked"],
          &[data-state="open"],
          &[data-state="opening"] {
            @apply bg-intent-success-lightened text-white dark:text-black;
          }
        }

        &.warning {
          @apply bg-intent-warning text-white dark:text-black;

          &:hover,
          &[data-state="on"],
          &[data-state="checked"],
          &[data-state="open"],
          &[data-state="opening"] {
            @apply bg-intent-warning-lightened text-white dark:text-black;
          }
        }

        &.danger {
          @apply bg-intent-danger text-white dark:text-black;

          &:hover,
          &[data-state="on"],
          &[data-state="checked"],
          &[data-state="open"],
          &[data-state="opening"] {
            @apply bg-intent-danger-lightened text-white dark:text-black;
          }
        }

        &.success,
        &.warning,
        &.danger {
          .fa-icon {
            @apply bg-accent-contrast;
          }

          svg {
            @apply text-accent-contrast;
          }
        }
      }

      &.outlined {
        @apply ring-1 ring-inset transition-[box-shadow,background] hover:transition-none;
        @apply t-default ring-default;

        &:hover,
        &[data-state="on"],
        &[data-state="checked"],
        &[data-state="open"],
        &[data-state="opening"] {
          @apply t-default bg-tag-default;
        }

        .fa-icon {
          @apply bg-text-default/60;
        }

        svg {
          @apply text-text-default/60;
        }

        &.primary {
          @apply t-accent ring-border-primary;

          .fa-icon {
            @apply bg-accent-aa;
          }

          svg {
            @apply text-accent-aa;
          }

          &:hover,
          &[data-state="on"],
          &[data-state="checked"],
          &[data-state="open"],
          &[data-state="opening"] {
            @apply t-accent-aaa bg-tag-primary;

            .fa-icon {
              @apply bg-accent-aaa;
            }

            svg {
              @apply text-accent-aaa;
            }
          }
        }

        &.success {
          @apply text-intent-success ring-border-success;

          &:hover,
          &[data-state="on"],
          &[data-state="checked"],
          &[data-state="open"],
          &[data-state="opening"] {
            @apply bg-tag-success text-intent-success;
          }

          .fa-icon {
            @apply bg-intent-success;
          }

          svg {
            @apply text-intent-success;
          }
        }

        &.warning {
          @apply text-intent-warning ring-border-warning;

          &:hover,
          &[data-state="on"],
          &[data-state="checked"],
          &[data-state="open"],
          &[data-state="opening"] {
            @apply bg-tag-warning text-intent-warning;
          }

          .fa-icon {
            @apply bg-intent-warning;
          }

          svg {
            @apply text-intent-warning;
          }
        }

        &.danger {
          @apply text-intent-danger ring-border-danger;

          &:hover,
          &[data-state="on"],
          &[data-state="checked"],
          &[data-state="open"],
          &[data-state="opening"] {
            @apply bg-tag-danger text-intent-danger;
          }

          .fa-icon {
            @apply bg-intent-danger;
          }

          svg {
            @apply text-intent-danger;
          }
        }
      }
    }
  }

  .fern-button-group {
    @apply inline-flex items-center;

    > .fern-button:has(+ .fern-button.outlined, + .fern-button.filled),
    > .fern-button.outlined:has(+ .fern-button.minimal),
    > .fern-button.filled:has(+ .fern-button.minimal) {
      @apply mr-2;

      &.small {
        @apply mr-1;
      }

      &.large {
        @apply mr-3;
      }
    }
  }

  .fern-copy-button {
    @apply backdrop-blur;
  }
}
