@layer components {
  .fern-dropdown {
    @apply relative z-50;
    @apply animate-popover;
    @apply min-w-[var(--radix-dropdown-menu-trigger-width)];
    @apply border-default flex max-h-[300px] flex-col rounded-lg border bg-background-translucent backdrop-blur will-change-[opacity,transform];
    @apply shadow-xl;

    .fern-dropdown-item {
      @apply flex justify-start py-1 px-2 rounded text-sm w-full cursor-default items-center text-left;
      @apply data-[highlighted]:bg-accent data-[highlighted]:t-accent-contrast will-change-[background-color,color];

      .fern-dropdown-item-indicator {
        @apply flex-none w-4 h-full flex items-center justify-center mr-1;
      }
    }
  }
}
