@layer components {
  .fern-card {
    @apply t-default bg-card border border-card-border transition-all hover:t-default hover:transition-none;

    &.interactive {
      @apply shadow-card cursor-pointer;
      @apply hover:shadow-card-elevated hover:border-accent;
      @apply active:border-primary active:shadow-card-elevated;

      &.active {
        @apply border-primary shadow-card-elevated;
      }
    }

    &.elevated {
      @apply border-primary shadow-card-elevated;
    }

    li {
      @apply list-outside;
    }

    ul {
      @apply pl-5;
    }
  }
}
