@layer base {
  kbd {
    font-family:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace !important;
    font-variant-numeric: slashed-zero;
    font-weight: 700;
  }
}

@layer components {
  .fern-kbd {
    @apply rounded-md border border-[var(--grayscale-a6)] bg-[var(--grayscale-1)] px-1.5 py-0.5 text-xs text-[var(--grayscale-a12)];
  }
}
