@layer base {
  kbd {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace !important;
    font-variant-numeric: slashed-zero;
    font-weight: 700;
  }
}

@layer components {
  .fern-kbd {
    @apply border-grayscale-a6 bg-grayscale-1 text-grayscale-a12 rounded-md border px-1.5 py-0.5 text-xs;
  }
}
