@utility mask-grad-top-* {
  mask-image: linear-gradient(
    to bottom,
    transparent 0,
    black --spacing(integer)
  );
}

@utility mask-grad-bottom-* {
  mask-image: linear-gradient(to top, transparent 0, black --spacing(integer));
}

@utility mask-grad-y-* {
  mask-image: linear-gradient(
    to bottom,
    transparent 0,
    black --spacing(integer),
    black calc(100% - --spacing(integer)),
    transparent 100%
  );
}

@utility clipped-background {
  @apply pointer-events-none absolute top-0 -z-10 h-full w-full overflow-hidden;

  clip-path: inset(0);
}

@utility description-mask {
  @apply line-clamp-3 overflow-hidden;

  text-overflow: -o-ellipsis-lastline;
}

@utility bg-search-dialog {
  background-color: var(
    --bg-color-search-dialog,
    var(--color-background-translucent)
  );
}

@utility m-mdx {
  @apply mt-4 mb-6 first:mt-0;
}

@layer utilities {
  @keyframes collapsible-closed {
    0% {
      height: var(--radix-collapsible-content-height);
      opacity: 1;
    }

    100% {
      height: 0;
      opacity: 0;
    }
  }

  @keyframes collapsible-open {
    0% {
      height: 0;
      opacity: 0;
    }

    100% {
      height: var(--radix-collapsible-content-height);
      opacity: 1;
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-100%);
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0);
    }
  }

  .fern-collapsible {
    overflow: hidden;

    &[data-state="open"] {
      animation: collapsible-open 0.18s var(--collapse-ease) none;

      .fern-collapsible-child {
        animation: slide-down 0.18s var(--collapse-ease) none;
        width: var(--radix-collapsible-content-width);
      }
    }

    &[data-state="closed"] {
      animation: collapsible-closed 0.18s var(--collapse-ease) none;

      .fern-collapsible-child {
        animation: slide-up 0.18s var(--collapse-ease) none;
        width: var(--radix-collapsible-content-width);
      }
    }
  }
}
