Dockerfile
/node_modules
**/node_modules
*.log
.DS_Store
.env
.next
.turbo
**/.next
**/.turbo
**/dist
**/build
**/lib
**/public/build
/.cache
/public/build
/build
**/.cache
*.tsbuildinfo
**/*.tsbuildinfo
**/tsconfig.tsbuildinfo
**/Dockerfile
tsconfig.tsbuildinfo
