# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
packages/**/build
packages/**/lib
!packages/fern-dashboard/src/lib
packages/**/dist
packages/**/tsconfig*tsbuildinfo
packages/**/out
servers/**/build
servers/**/lib
servers/**/dist
servers/**/tsconfig*tsbuildinfo
servers/**/out
clis/**/dist
docker/build

# next
.next
next-env.d.ts
.vercel

# misc
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# yarn v2
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# environments
.env*.local
.vercel

# turbo
.turbo
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

*storybook.log
storybook-static/

#ide
.idea/
*.cookie

# script outputs
domains.txt
preview.txt
last-deploy.txt
deployment-url.txt

# next.js analysis
analyze

test-results