service: "fern-bot"
frameworkVersion: "3"
plugins:
  - "serverless-esbuild"
  - "serverless-step-functions"
provider:
  name: aws
  runtime: nodejs18.x
  deploymentMethod: direct
  region: "us-east-1"
  # 900 second timeout, e.g. 15 minutes
  timeout: 900
  # 10GB memory
  memorySize: 10240
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: "1"
    NODE_OPTIONS: "--enable-source-maps --stack-trace-limit=1000 -r @sentry/aws-serverless/awslambda-auto"
    SENTRY_DSN: "https://12538df95a0d9a56afa7d8180956e9c4@o4507138224160768.ingest.us.sentry.io/4507888612605952"
    SENTRY_ENVIRONMENT: ${opt:stage, 'dev'}
    GITHUB_APP_LOGIN_NAME: ${env:GITHUB_APP_LOGIN_NAME, 'fern-api[bot]'}
    GITHUB_APP_LOGIN_ID: ${env:GITHUB_APP_LOGIN_ID, 'placeholder'}
    GITHUB_APP_ID: ${env:GITHUB_APP_ID, 'placeholder'}
    GITHUB_APP_PRIVATE_KEY: ${env:GITHUB_APP_PRIVATE_KEY, 'placeholder'}
    GITHUB_APP_CLIENT_ID: ${env:GITHUB_APP_CLIENT_ID, 'placeholder'}
    GITHUB_APP_CLIENT_SECRET: ${env:GITHUB_APP_CLIENT_SECRET, 'placeholder'}
    GITHUB_APP_WEBHOOK_SECRET: ${env:GITHUB_APP_WEBHOOK_SECRET, 'placeholder'}
    CO_API_KEY: ${env:CO_API_KEY, 'placeholder'}
    DEFAULT_VENUS_ORIGIN: ${env:DEFAULT_VENUS_ORIGIN, 'placeholder'}
    DEFAULT_FDR_ORIGIN: ${env:DEFAULT_FDR_ORIGIN, 'placeholder'}
    REPO_TO_RUN_ON: ${env:REPO_TO_RUN_ON, 'OMIT'}
  # Roles for the lambda functions
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - s3:ListBucket
          Resource: arn:aws:s3:::fern-bot-${opt:stage}
        - Effect: "Allow"
          Action:
            - s3:GetObject
            - s3:PutObject
            - s3:DeleteObject
          Resource: arn:aws:s3:::fern-bot-${opt:stage}/*

functions:
  # ========== Updater Step Function ============
  # The functions needed for the step function
  #
  # Gets metadata on repo installations for the github app
  updateRepoDataset:
    # 900 second timeout, e.g. 15 minutes
    timeout: 900
    # 10GB memory
    memorySize: 10240
    # 10GB storage
    ephemeralStorageSize: 10240
    handler: "src/functions/update-repo-data/updateRepoData.handler"
    # Adding a layer to have git available in the lambda
    # https://github.com/lambci/git-lambda-layer
    layers:
      - arn:aws:lambda:us-east-1:553035198032:layer:git-lambda2:8
      # Sentry layer for error tracking: https://docs.sentry.io/platforms/javascript/guides/aws-lambda/install/cjs-layer/
      - arn:aws:lambda:us-east-1:943013980633:layer:SentryNodeServerlessSDK:269
    environment:
      REPO_DATA_S3_BUCKET: "fern-bot-${opt:stage}"
      REPO_DATA_S3_KEY: "lambdas/repos.csv"

  # Processes one repo at a time, from the updateRepoDataset metadata
  updateOpenApiSpec:
    timeout: 900
    memorySize: 5120
    ephemeralStorageSize: 10240
    handler: "src/functions/oas-cron/updateOpenApiSpec.handler"
    layers:
      - arn:aws:lambda:us-east-1:553035198032:layer:git-lambda2:8
      # Sentry layer for error tracking: https://docs.sentry.io/platforms/javascript/guides/aws-lambda/install/cjs-layer/
      - arn:aws:lambda:us-east-1:943013980633:layer:SentryNodeServerlessSDK:269

  updateGeneratorVersion:
    timeout: 900
    memorySize: 5120
    ephemeralStorageSize: 10240
    handler: "src/functions/generator-updates/updateGeneratorVersion.handler"
    layers:
      - arn:aws:lambda:us-east-1:553035198032:layer:git-lambda2:8
      # Sentry layer for error tracking: https://docs.sentry.io/platforms/javascript/guides/aws-lambda/install/cjs-layer/
      - arn:aws:lambda:us-east-1:943013980633:layer:SentryNodeServerlessSDK:269

  # =============================================

  # For on-demand invoking update, especially useful for triggering one-off updates
  updateOpenApiSpecs:
    timeout: 900
    memorySize: 10240
    ephemeralStorageSize: 10240
    handler: "src/functions/oas-cron/updateOpenApiSpecs.handler"
    layers:
      - arn:aws:lambda:us-east-1:553035198032:layer:git-lambda2:8
      # Sentry layer for error tracking: https://docs.sentry.io/platforms/javascript/guides/aws-lambda/install/cjs-layer/
      - arn:aws:lambda:us-east-1:943013980633:layer:SentryNodeServerlessSDK:269

  updateGeneratorVersions:
    timeout: 900
    memorySize: 10240
    ephemeralStorageSize: 10240
    handler: "src/functions/generator-updates/updateGeneratorVersions.handler"
    layers:
      - arn:aws:lambda:us-east-1:553035198032:layer:git-lambda2:8
      # Sentry layer for error tracking: https://docs.sentry.io/platforms/javascript/guides/aws-lambda/install/cjs-layer/
      - arn:aws:lambda:us-east-1:943013980633:layer:SentryNodeServerlessSDK:269

stepFunctions:
  stateMachines:
    updateSpecs:
      name: updateSpecs-${opt:stage}
      events:
        - schedule:
            rate: cron(0 0 * * ? *)
            enabled: true
      definition:
        StartAt: UpdateRepoDataInS3
        States:
          UpdateRepoDataInS3:
            Type: Task
            Resource:
              Fn::Sub: "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:fern-bot-${opt:stage}-updateRepoDataset"
            Next: Parallelize
          Parallelize:
            Type: Parallel
            Branches:
              - StartAt: UpdateSpecsBranch
                States:
                  UpdateSpecsBranch:
                    Type: Map
                    MaxConcurrency: 50
                    End: true
                    ItemReader:
                      ReaderConfig:
                        InputType: CSV
                        CSVHeaderLocation: FIRST_ROW
                      Resource: "arn:aws:states:::s3:getObject"
                      Parameters:
                        Bucket: "fern-bot-${opt:stage}"
                        Key: "lambdas/repos.csv"
                    ItemProcessor:
                      ProcessorConfig:
                        Mode: DISTRIBUTED
                        ExecutionType: STANDARD
                      StartAt: HandleRepoForSpec
                      States:
                        HandleRepoForSpec:
                          Type: Task
                          Resource: "arn:aws:states:::lambda:invoke"
                          Parameters:
                            "Payload.$": "$"
                            FunctionName:
                              Fn::GetAtt: [updateOpenApiSpec, Arn]
                          End: true
                          # Try to discard whatever result AWS has for us
                          # since we'll hit a size limit otherwise, and
                          # the output is useless to us.
                          ResultPath: null
                          OutputPath: null
              - StartAt: UpdateGeneratorsBranch
                States:
                  UpdateGeneratorsBranch:
                    Type: Map
                    End: true
                    MaxConcurrency: 50
                    ItemReader:
                      ReaderConfig:
                        InputType: CSV
                        CSVHeaderLocation: FIRST_ROW
                      Resource: "arn:aws:states:::s3:getObject"
                      Parameters:
                        Bucket: "fern-bot-${opt:stage}"
                        Key: "lambdas/repos.csv"
                    ItemProcessor:
                      ProcessorConfig:
                        Mode: DISTRIBUTED
                        ExecutionType: STANDARD
                      StartAt: HandleRepoForGenerator
                      States:
                        HandleRepoForGenerator:
                          Type: Task
                          Resource: "arn:aws:states:::lambda:invoke"
                          Parameters:
                            "Payload.$": "$"
                            FunctionName:
                              Fn::GetAtt: [updateGeneratorVersion, Arn]
                          End: true
                          # Try to discard whatever result AWS has for us
                          # since we'll hit a size limit otherwise, and
                          # the output is useless to us.
                          ResultPath: null
                          OutputPath: null
            End: true
            # Same as above, try to discard the result
            ResultPath: null
            OutputPath: null

resources:
  Resources:
    BotBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: fern-bot-${opt:stage}

custom:
  esbuild:
    minify: true
    bundle: true
    sourcemap: true
    target: "node18"
    platform: "node"
    concurrency: 10
    packager: pnpm
    external:
      - fern-api
      - fern
    packagerOptions:
      scripts:
        - npm install -g fern-api
