@layer components {
  .fern-changelog {
    @apply flex justify-between px-4 md:px-6 lg:px-8;

    > main {
      @apply mx-auto max-w-screen-lg w-full break-words;
    }
  }

  .fern-changelog-entry {
    @apply flex items-stretch;

    &:is(article) {
      @apply py-8 lg:py-16;
    }
  }

  .fern-changelog.full-width {
    @apply pt-12 lg:pt-24;

    .fern-changelog-content {
      @apply mx-auto relative max-w-content-width min-w-0 shrink flex-auto;

      .fern-changelog-date {
        @apply t-muted text-base mb-8 lg:hidden;
      }
    }

    .fern-changelog-entry > aside {
      @apply hidden lg:block flex-initial w-64 shrink-0;

      .fern-changelog-date {
        @apply sticky top-header-offset-padded t-muted text-base mb-8;
      }
    }
  }

  .fern-changelog:not(.full-width) {
    @apply pt-8;

    > main {
      @apply lg:ml-8;
    }

    .fern-changelog-entry {
      @apply flex-row-reverse;
    }

    .fern-changelog-content {
      @apply relative mr-6 max-w-content-width min-w-0 shrink flex-auto;

      .fern-changelog-date {
        @apply t-muted text-base mb-8 xl:hidden;
      }
    }

    .fern-changelog-entry > aside {
      @apply -mt-2 w-72 pl-4 text-right hidden xl:block;

      .fern-changelog-date {
        @apply sticky t-muted text-base top-header-offset-padded;
      }
    }
  }
}
