@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;

        /* background-color: var(--accent-primary); */
    }

    /* 
    html.dark {
        background-color: var(--accent-primary-dark);
    } */

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    ::selection {
        @apply bg-accent-highlight/20 dark:bg-accent-highlight-dark/20;
    }

    html,
    body {
        @apply text-text-primary-light dark:text-text-primary-dark;

        font-family: var(--typography-body-font-family) !important;
        font-size: 16px !important;
    }

    code,
    pre,
    .typography-font-code {
        font-family: var(--typography-code-font-family);
    }

    code.inline-code {
        @apply text-[0.875em];
    }

    a.link {
        @apply font-medium  text-text-primary-light dark:text-text-primary-dark hover:text-accent-primary hover:dark:text-accent-primary-dark underline underline-offset-4 decoration-1 hover:decoration-2 decoration-accent-primary dark:decoration-accent-primary-dark;
    }

    /* provides comfortable padding above anchor links, to avoid intersecting with header */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply scroll-mt-20 tracking-tight mt-8;

        font-family: var(--typography-heading-font-family);
    }

    h1 {
        @apply text-[2.25rem] font-extrabold;
    }

    h2 {
        @apply text-[1.5rem] font-bold;
    }

    h3 {
        @apply text-[1.25rem] font-semibold;
    }

    h4 {
        @apply text-[1.125rem] font-semibold;
    }

    h5 {
        @apply text-[1rem] font-semibold;
    }

    h6 {
        @apply text-[0.875rem] font-semibold;
    }

    .clipped-background {
        @apply pointer-events-none absolute -z-10 h-full w-full overflow-hidden;

        clip-path: inset(0);
    }

    .hide-scrollbar:not(:hover)::-webkit-scrollbar {
        display: none;
    }
}
