@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./base";
@import "@fern-ui/components/src/_.scss";

@layer base {
    * {
        @apply border-border;
        @apply text-foreground;
    }
    html,
    body {
        @apply t-default;

        font-family: var(--typography-body-font-family, var(--body-font-fallback)) !important;
        font-size: 16px !important;
    }

    code,
    pre,
    .font-mono {
        font-family: var(--typography-code-font-family, var(--code-font-fallback)) !important;
    }
    body {
        @apply bg-background text-foreground;
    }
    h1 {
        @apply text-[2.25rem] font-extrabold leading-tight;
    }

    h2 {
        @apply text-[1.5rem] font-bold leading-tight;
    }

    h3 {
        @apply text-[1.25rem] font-semibold leading-tight;
    }

    h4 {
        @apply text-[1.125rem] font-semibold leading-tight;
    }

    h5 {
        @apply text-[1rem] font-semibold;
    }

    h6 {
        @apply text-[0.875rem] font-semibold;
    }
}
