@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

@layer base {
    :root {
        --typography-code-font-family: ui-monospace, sfmono-regular, menlo, monaco, consolas, liberation mono,
            courier new, monospace;

        --typography-body-font-family: "InterVariable", "Inter", sans-serif;

        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    html,
    body {
        @apply t-default;

        font-family: var(--typography-body-font-family, var(--body-font-fallback)) !important;
        font-size: 16px !important;
    }

    code,
    pre,
    .font-mono {
        font-family: var(--typography-code-font-family, var(--code-font-fallback)) !important;
    }
    body {
        @apply bg-background text-foreground;
    }
    h1 {
        @apply text-[2.25rem] font-extrabold leading-tight;
    }

    h2 {
        @apply text-[1.5rem] font-bold leading-tight;
    }

    h3 {
        @apply text-[1.25rem] font-semibold leading-tight;
    }

    h4 {
        @apply text-[1.125rem] font-semibold leading-tight;
    }

    h5 {
        @apply text-[1rem] font-semibold;
    }

    h6 {
        @apply text-[0.875rem] font-semibold;
    }
}
