@import "./variants.scss";

.fern-docs-badge {
    align-items: center;
    display: inline-flex;
    gap: 0.25rem;
    justify-content: center;
    line-height: 1rem;
    box-sizing: border-box;
    font-weight: 600;
    white-space: nowrap;
}

.fern-docs-badge.interactive:not(:disabled):hover,
.fern-docs-badge[data-state="open"]:not(:disabled) {
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
}

.fern-docs-badge:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.fern-docs-badge.rounded {
    border-radius: 9999px !important;
}

.fern-docs-badge.small {
    border-radius: 0.25rem;
    font-size: 0.75rem;
    height: 1rem;
    padding: 0 0.375rem;
}

.fern-docs-badge.large {
    border-radius: calc(0.5rem - 2px);
    font-size: 0.875rem;
    height: 1.5rem;
    padding: 0.25rem 0.5rem;
}

.fern-docs-badge[data-badge-type="http-method"],
.fern-docs-badge[data-badge-type="status-code"] {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        Liberation Mono,
        Courier New,
        monospace !important;
    font-variant-numeric: slashed-zero;
    text-transform: uppercase;
    font-weight: 700;
}

.fern-docs-badge.small[data-http-method="PATCH"],
.fern-docs-badge.small[data-http-method="TRACE"] {
    letter-spacing: -0.025em;
}

.fern-docs-badge[data-badge-type="http-method"].small {
    font-size: 0.625rem;
    width: 2.25rem;
}

.fern-docs-badge[data-badge-type="http-method"].large {
    font-size: 0.75rem;
}

.fern-docs-badge > svg {
    width: 1.25em;
    height: 1.25em;
}
