/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as core from "../../../../core";
import * as FernGeneratorCli from "../../..";
import urlJoin from "url-join";

export declare namespace Readme {
    interface Options {
        environment: core.Supplier<string>;
        token: core.Supplier<core.BearerToken>;
    }

    interface RequestOptions {
        timeoutInSeconds?: number;
        maxRetries?: number;
    }
}

export class Readme {
    constructor(protected readonly _options: Readme.Options) {}

    /**
     * Generates a README.md using the provided configuration.
     */
    public async generate(
        request: FernGeneratorCli.GenerateReadmeRequest,
        requestOptions?: Readme.RequestOptions
    ): Promise<core.APIResponse<string, FernGeneratorCli.readme.generate.Error>> {
        const _response = await core.fetcher({
            url: urlJoin(await core.Supplier.get(this._options.environment), "/readme/generate"),
            method: "POST",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
            },
            contentType: "application/json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: _response.body as string,
            };
        }

        return {
            ok: false,
            error: FernGeneratorCli.readme.generate.Error._unknown(_response.error),
        };
    }

    protected async _getAuthorizationHeader() {
        return `Bearer ${await core.Supplier.get(this._options.token)}`;
    }
}
