/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments";
import * as core from "../../../../core";
import * as FernRegistry from "../../../index";
import urlJoin from "url-join";

export declare namespace Dashboard {
    interface Options {
        environment?: core.Supplier<environments.FernRegistryEnvironment | string>;
        token?: core.Supplier<core.BearerToken | undefined>;
    }

    interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

/**
 * APIs for the Fern Dashboard
 */
export class Dashboard {
    constructor(protected readonly _options: Dashboard.Options = {}) {}

    /**
     * Get all docs sites that belong to a given organization
     *
     * @param {FernRegistry.dashboard.GetDocsSitesForOrgRequest} request
     * @param {Dashboard.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.dashboard.getDocsSitesForOrg({
     *         orgId: FernRegistry.OrgId("string")
     *     })
     */
    public async getDocsSitesForOrg(
        request: FernRegistry.dashboard.GetDocsSitesForOrgRequest,
        requestOptions?: Dashboard.RequestOptions
    ): Promise<
        core.APIResponse<
            FernRegistry.dashboard.GetDocsSitesForOrgResponse,
            FernRegistry.dashboard.getDocsSitesForOrg.Error
        >
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.FernRegistryEnvironment.Prod,
                "/dashboard/get-docs-sites-for-org"
            ),
            method: "POST",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: _response.body as FernRegistry.dashboard.GetDocsSitesForOrgResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.dashboard.getDocsSitesForOrg.Error)?.error) {
                case "UnauthorizedError":
                case "UserNotInOrgError":
                    return {
                        ok: false,
                        error: _response.error.body as FernRegistry.dashboard.getDocsSitesForOrg.Error,
                    };
            }
        }

        return {
            ok: false,
            error: FernRegistry.dashboard.getDocsSitesForOrg.Error._unknown(_response.error),
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
