.show-properties-button {
    display: flex;
    flex-direction: column;
    min-width: 0;

    &::before {
        content: attr(data-show-text);
        display: block;
        height: 0;
        visibility: hidden;
    }
}

.internal-type-definition-container {
    @apply mt-2 flex flex-col;

    .internal-type-definition-container:not(.enum-container) {
        @apply -mr-3;
    }

    .internal-type-definition-container[data-expanded="true"]:not(.enum-container) {
        > .internal-type-definition-content {
            @apply border-r-0 rounded-r-none;
        }
    }
}
