@layer components {
  .card-icon {
    @apply size-6;
  }

  .card-icon > svg,
  .card-icon > .fa-icon,
  .card-icon > img {
    @apply size-full;
  }

  .card-icon.fa-icon {
    @apply bg-accent;
  }

  a.fern-card {
    text-decoration: unset;
  }
}
