/* Hide scrollbar for Chrome, Safari and Opera */
.url-overflow::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.url-overflow {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.url-overflow.right-mask {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 100%) 85%, transparent 100%);
}

.url-overflow.left-mask {
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 100%) 85%, transparent 100%);
}

.url-overflow.left-mask.right-mask {
    // this didn't work:
    // mask-image: linear-gradient(to right, rgba(0, 0, 0, 100%) 80%, transparent 100%),
    //     linear-gradient(to left, rgba(0, 0, 0, 100%) 80%, transparent 100%);

    // this worked:
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        rgba(0, 0, 0, 100%) 15%,
        rgba(0, 0, 0, 100%) 85%,
        transparent 100%
    );
}
