@layer base {
  html,
  body {
    @apply font-body text-body text-base;
  }

  code,
  pre {
    @apply font-mono;
  }

  /* provides comfortable padding above anchor links, to avoid intersecting with header */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-mt-4;

    font-family: var(--typography-heading-font-family);

    &:first-child {
      @apply mt-0;
    }
  }

  html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;

    @apply outline-transparent;
    @apply focus:outline-border-primary focus-visible:outline-border-primary;
  }

  ::selection {
    @apply bg-accent-highlight;
  }

  code.inline-code {
    @apply text-[0.875em];
  }

  h1 {
    @apply font-extrabold leading-tight;
    @apply text-4xl;
  }

  h2 {
    @apply font-bold leading-tight;
    @apply text-2xl;
  }

  h3 {
    @apply font-semibold leading-tight;
    @apply text-xl;
  }

  h4 {
    @apply font-semibold leading-tight;
    @apply text-lg;
  }

  h5 {
    @apply font-semibold;
    @apply text-base;
  }

  h6 {
    @apply font-semibold;
    @apply text-sm;
  }

  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

  hr {
    @apply border-border-default;
  }
}
