info:
    title: Schematic API
    version: "0.1"
    description: Schematic API
openapi: 3.0.0
security:
    - ApiKeyAuth: []
servers:
    - url: https://api.schematichq.com
components:
    securitySchemes:
        ApiKeyAuth:
            type: apiKey
            in: header
            name: X-Schematic-Api-Key
    responses:
        BadRequest:
            description: Bad request
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ApiError'
        Conflict:
            description: Conflict
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ApiError'
        Forbidden:
            description: Forbidden
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ApiError'
        NotFound:
            description: Not found
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ApiError'
        ServerError:
            description: Server error
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ApiError'
        Unauthorized:
            description: Unauthorized
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ApiError'
        UnprocessableEntity:
            description: Unprocessable entity
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ApiError'
    schemas:
        ApiError:
            type: object
            properties:
                error:
                    type: string
                    description: Error message
            required:
                - error
        ApiKeyCreateResponseData:
            type: object
            description: The created resource
            properties:
                created_at:
                    type: string
                    format: date-time
                description:
                    type: string
                    nullable: true
                environment_id:
                    type: string
                    nullable: true
                id:
                    type: string
                last_used_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                scopes:
                    type: array
                    items:
                        type: string
                secret:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - name
                - scopes
                - created_at
                - updated_at
                - secret
            title: ApiKeyCreateResponseData
        ApiKeyRequestListResponseData:
            type: object
            properties:
                api_key_id:
                    type: string
                ended_at:
                    type: string
                    format: date-time
                    nullable: true
                environment_id:
                    type: string
                    nullable: true
                id:
                    type: string
                method:
                    type: string
                req_body:
                    type: string
                    nullable: true
                request_type:
                    type: string
                    nullable: true
                resource_id:
                    type: integer
                    nullable: true
                resource_id_string:
                    type: string
                    nullable: true
                resource_name:
                    type: string
                    nullable: true
                resource_type:
                    type: string
                    nullable: true
                resp_code:
                    type: integer
                    nullable: true
                secondary_resource:
                    type: string
                    nullable: true
                started_at:
                    type: string
                    format: date-time
                url:
                    type: string
                user_name:
                    type: string
                    nullable: true
            required:
                - api_key_id
                - method
                - id
                - started_at
                - url
            title: ApiKeyRequestListResponseData
        ApiKeyRequestResponseData:
            type: object
            description: The returned resource
            properties:
                api_key_id:
                    type: string
                ended_at:
                    type: string
                    format: date-time
                    nullable: true
                environment_id:
                    type: string
                    nullable: true
                id:
                    type: string
                method:
                    type: string
                req_body:
                    type: string
                    nullable: true
                request_type:
                    type: string
                    nullable: true
                resource_id:
                    type: integer
                    nullable: true
                resource_id_string:
                    type: string
                    nullable: true
                resource_name:
                    type: string
                    nullable: true
                resource_type:
                    type: string
                    nullable: true
                resp_body:
                    type: string
                    nullable: true
                resp_code:
                    type: integer
                    nullable: true
                secondary_resource:
                    type: string
                    nullable: true
                started_at:
                    type: string
                    format: date-time
                url:
                    type: string
                user_agent:
                    type: string
                    nullable: true
                user_id:
                    type: string
                    nullable: true
                user_name:
                    type: string
                    nullable: true
            required:
                - api_key_id
                - method
                - id
                - started_at
                - url
            title: ApiKeyRequestResponseData
        ApiKeyResponseData:
            type: object
            description: The updated resource
            properties:
                created_at:
                    type: string
                    format: date-time
                description:
                    type: string
                    nullable: true
                environment_id:
                    type: string
                    nullable: true
                id:
                    type: string
                last_used_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                scopes:
                    type: array
                    items:
                        type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - name
                - scopes
                - created_at
                - updated_at
            title: ApiKeyResponseData
        AudienceRequestBody:
            type: object
            properties:
                condition_groups:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionGroupRequestBody'
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionRequestBody'
                limit:
                    type: integer
                    description: Page limit (default 100)
                    nullable: true
                offset:
                    type: integer
                    description: Page offset (default 0)
                    nullable: true
                q:
                    type: string
                    nullable: true
            required:
                - conditions
                - condition_groups
            title: AudienceRequestBody
        BillingProductResponseData:
            type: object
            properties:
                account_id:
                    type: string
                created_at:
                    type: string
                    format: date-time
                currency:
                    type: string
                deleted_at:
                    type: string
                    format: date-time
                    nullable: true
                environment_id:
                    type: string
                external_id:
                    type: string
                name:
                    type: string
                price:
                    type: number
                product_id:
                    type: string
                quantity:
                    type: number
                updated_at:
                    type: string
                    format: date-time
            required:
                - product_id
                - external_id
                - account_id
                - environment_id
                - name
                - price
                - currency
                - quantity
                - created_at
                - updated_at
            title: BillingProductResponseData
        BillingSubscriptionResponseData:
            type: object
            description: The created resource
            properties:
                deleted_at:
                    type: string
                    format: date-time
                    nullable: true
                expired_at:
                    type: string
                    format: date-time
                    nullable: true
                external_id:
                    type: string
                id:
                    type: integer
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - external_id
                - updated_at
            title: BillingSubscriptionResponseData
        CheckFlagOutputWithFlagKey:
            type: object
            properties:
                company_id:
                    type: string
                    nullable: true
                error:
                    type: string
                    nullable: true
                flag:
                    type: string
                reason:
                    type: string
                rule_id:
                    type: string
                    nullable: true
                user_id:
                    type: string
                    nullable: true
                value:
                    type: boolean
            required:
                - reason
                - value
                - flag
            title: CheckFlagOutputWithFlagKey
        CheckFlagRequestBody:
            type: object
            properties:
                company:
                    type: object
                    nullable: true
                user:
                    type: object
                    nullable: true
            title: CheckFlagRequestBody
        CheckFlagResponseData:
            type: object
            description: The returned resource
            properties:
                company_id:
                    type: string
                    nullable: true
                error:
                    type: string
                    nullable: true
                reason:
                    type: string
                rule_id:
                    type: string
                    nullable: true
                user_id:
                    type: string
                    nullable: true
                value:
                    type: boolean
            required:
                - reason
                - value
            title: CheckFlagResponseData
        CheckFlagsResponseData:
            type: object
            description: The created resource
            properties:
                flags:
                    type: array
                    items:
                        $ref: '#/components/schemas/CheckFlagOutputWithFlagKey'
            required:
                - flags
            title: CheckFlagsResponseData
        CompanyDetailResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                entity_traits:
                    type: array
                    items:
                        $ref: '#/components/schemas/EntityTraitDetailResponseData'
                environment_id:
                    type: string
                id:
                    type: string
                keys:
                    type: array
                    items:
                        $ref: '#/components/schemas/EntityKeyDetailResponseData'
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                logo_url:
                    type: string
                    nullable: true
                name:
                    type: string
                plans:
                    type: array
                    items:
                        $ref: '#/components/schemas/PreviewObject'
                traits:
                    type: object
                    description: A map of trait names to trait values
                updated_at:
                    type: string
                    format: date-time
                user_count:
                    type: integer
            required:
                - created_at
                - environment_id
                - id
                - name
                - updated_at
                - keys
                - entity_traits
                - plans
                - user_count
            title: CompanyDetailResponseData
        CompanyMembershipDetailResponseData:
            type: object
            properties:
                company:
                    $ref: '#/components/schemas/CompanyResponseData'
                company_id:
                    type: string
                created_at:
                    type: string
                    format: date-time
                id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                user_id:
                    type: string
            required:
                - id
                - company_id
                - user_id
                - created_at
                - updated_at
            title: CompanyMembershipDetailResponseData
        CompanyMembershipResponseData:
            type: object
            properties:
                company_id:
                    type: string
                created_at:
                    type: string
                    format: date-time
                id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                user_id:
                    type: string
            required:
                - id
                - company_id
                - user_id
                - created_at
                - updated_at
            title: CompanyMembershipResponseData
        CompanyOverrideResponseData:
            type: object
            description: The updated resource
            properties:
                company:
                    $ref: '#/components/schemas/CompanyDetailResponseData'
                company_id:
                    type: string
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                feature:
                    $ref: '#/components/schemas/FeatureResponseData'
                feature_id:
                    type: string
                id:
                    type: string
                metric_period:
                    type: string
                    nullable: true
                rule_id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait:
                    $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
            required:
                - company_id
                - created_at
                - environment_id
                - feature_id
                - id
                - rule_id
                - updated_at
                - value_type
            title: CompanyOverrideResponseData
        CompanyPlanResponseData:
            type: object
            properties:
                company_id:
                    type: string
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                id:
                    type: string
                plan_id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - company_id
                - plan_id
                - created_at
                - updated_at
            title: CompanyPlanResponseData
        CompanyResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                id:
                    type: string
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                logo_url:
                    type: string
                    nullable: true
                name:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - created_at
                - environment_id
                - id
                - name
                - updated_at
            title: CompanyResponseData
        CompanySubscriptionResponseData:
            type: object
            properties:
                customer_external_id:
                    type: string
                expired_at:
                    type: string
                    format: date-time
                    nullable: true
                interval:
                    type: string
                products:
                    type: array
                    items:
                        $ref: '#/components/schemas/BillingProductResponseData'
                subscription_external_id:
                    type: string
            required:
                - subscription_external_id
                - customer_external_id
                - interval
                - products
            title: CompanySubscriptionResponseData
        CountResponse:
            type: object
            description: The created resource
            properties:
                count:
                    type: integer
            required:
                - count
            title: CountResponse
        CreateApiKeyRequestBody:
            type: object
            properties:
                description:
                    type: string
                    nullable: true
                environment_id:
                    type: string
                    nullable: true
                name:
                    type: string
            required:
                - name
            title: CreateApiKeyRequestBody
        CreateBillingProductRequestBody:
            type: object
            properties:
                currency:
                    type: string
                external_id:
                    type: string
                name:
                    type: string
                price:
                    type: number
                quantity:
                    type: integer
            required:
                - external_id
                - name
                - price
                - currency
                - quantity
            title: CreateBillingProductRequestBody
        CreateBillingSubscriptionsRequestBody:
            type: object
            properties:
                customer_external_id:
                    type: string
                expired_at:
                    type: string
                    format: date-time
                interval:
                    type: string
                    nullable: true
                product_external_ids:
                    type: array
                    items:
                        type: string
                subscription_external_id:
                    type: string
            required:
                - customer_external_id
                - subscription_external_id
                - expired_at
                - product_external_ids
            title: CreateBillingSubscriptionsRequestBody
        CreateCompanyOverrideRequestBody:
            type: object
            properties:
                company_id:
                    type: string
                feature_id:
                    type: string
                metric_period:
                    type: string
                    nullable: true
                    enum:
                        - current_month
                        - current_week
                        - current_day
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
                    enum:
                        - Boolean
                        - Numeric
                        - Trait
                        - Unlimited
            required:
                - company_id
                - feature_id
                - value_type
            title: CreateCompanyOverrideRequestBody
        CreateEntityTraitDefinitionRequestBody:
            type: object
            properties:
                display_name:
                    type: string
                    nullable: true
                entity_type:
                    type: string
                    enum:
                        - company
                        - user
                hierarchy:
                    type: array
                    items:
                        type: string
                trait_type:
                    type: string
                    enum:
                        - boolean
                        - currency
                        - date
                        - number
                        - string
                        - url
            required:
                - entity_type
                - hierarchy
                - trait_type
            title: CreateEntityTraitDefinitionRequestBody
        CreateEnvironmentRequestBody:
            type: object
            properties:
                environment_type:
                    type: string
                    enum:
                        - development
                        - staging
                        - production
                name:
                    type: string
            required:
                - name
                - environment_type
            title: CreateEnvironmentRequestBody
        CreateEventBatchRequestBody:
            type: object
            properties:
                events:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateEventRequestBody'
            required:
                - events
            title: CreateEventBatchRequestBody
        CreateEventRequestBody:
            type: object
            properties:
                body:
                    type: object
                    oneOf:
                        - type: object
                          properties:
                            company:
                                type: object
                                description: Key-value pairs to identify company associated with track event
                            event:
                                type: string
                                description: The name of the type of track event
                            traits:
                                type: object
                                description: A map of trait names to trait values
                            user:
                                type: object
                                description: Key-value pairs to identify user associated with track event
                          required:
                            - event
                          title: EventBodyTrack
                        - type: object
                          properties:
                            company:
                                type: object
                                description: Information about the company associated with the user; required only if it is a new user
                                properties:
                                    keys:
                                        type: object
                                        description: Key-value pairs to identify the company
                                    name:
                                        type: string
                                        description: The display name of the company; required only if it is a new company
                                    traits:
                                        type: object
                                        description: A map of company trait names to trait values
                                required:
                                    - keys
                                title: EventBodyIdentifyCompany
                            keys:
                                type: object
                                description: Key-value pairs to identify the user
                            name:
                                type: string
                                description: The display name of the user being identified; required only if it is a new user
                            traits:
                                type: object
                                description: A map of user trait names to trait values
                          required:
                            - keys
                          title: EventBodyIdentify
                    title: EventBody
                event_type:
                    type: string
                    description: Either 'identify' or 'track'
                    enum:
                        - identify
                        - track
                sent_at:
                    type: string
                    description: Optionally provide a timestamp at which the event was sent to Schematic
                    format: date-time
                    nullable: true
            required:
                - event_type
            title: CreateEventRequestBody
        CreateFeatureRequestBody:
            type: object
            properties:
                description:
                    type: string
                event_subtype:
                    type: string
                    nullable: true
                feature_type:
                    type: string
                    enum:
                        - boolean
                        - event
                        - trait
                flag:
                    $ref: '#/components/schemas/CreateOrUpdateFlagRequestBody'
                lifecycle_phase:
                    type: string
                    nullable: true
                name:
                    type: string
                trait_id:
                    type: string
                    nullable: true
            required:
                - description
                - feature_type
                - name
            title: CreateFeatureRequestBody
        CreateFlagRequestBody:
            type: object
            properties:
                default_value:
                    type: boolean
                description:
                    type: string
                feature_id:
                    type: string
                    nullable: true
                flag_type:
                    type: string
                key:
                    type: string
                name:
                    type: string
            required:
                - default_value
                - description
                - flag_type
                - key
                - name
            title: CreateFlagRequestBody
        CreateOrUpdateConditionGroupRequestBody:
            type: object
            properties:
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionRequestBody'
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                    nullable: true
                plan_id:
                    type: string
                    nullable: true
            required:
                - conditions
            title: CreateOrUpdateConditionGroupRequestBody
        CreateOrUpdateConditionRequestBody:
            type: object
            properties:
                comparison_trait_id:
                    type: string
                    description: Optionally provide a trait ID to compare a metric or trait value against instead of a value
                    nullable: true
                condition_type:
                    type: string
                    enum:
                        - company
                        - metric
                        - trait
                        - user
                        - plan
                        - billing_product
                event_subtype:
                    type: string
                    description: Name of track event type used to measure this condition
                    nullable: true
                id:
                    type: string
                    nullable: true
                metric_period:
                    type: string
                    description: Period of time over which to measure the track event metric
                    nullable: true
                    enum:
                        - current_month
                        - current_week
                        - current_day
                metric_value:
                    type: integer
                    description: Value to compare the track event metric against
                operator:
                    type: string
                    enum:
                        - eq
                        - ne
                        - gt
                        - gte
                        - lt
                        - lte
                resource_ids:
                    type: array
                    description: List of resource IDs (companies, users, or plans) targeted by this condition
                    items:
                        type: string
                trait_id:
                    type: string
                    description: ID of trait to use to measure this condition
                    nullable: true
                trait_value:
                    type: string
                    description: Value to compare the trait value against
                    nullable: true
            required:
                - condition_type
                - operator
                - resource_ids
                - metric_value
            title: CreateOrUpdateConditionRequestBody
        CreateOrUpdateFlagRequestBody:
            type: object
            properties:
                default_value:
                    type: boolean
                description:
                    type: string
                feature_id:
                    type: string
                    nullable: true
                flag_type:
                    type: string
                id:
                    type: string
                    nullable: true
                key:
                    type: string
                name:
                    type: string
            required:
                - default_value
                - description
                - flag_type
                - key
                - name
            title: CreateOrUpdateFlagRequestBody
        CreateOrUpdateRuleRequestBody:
            type: object
            properties:
                condition_groups:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionGroupRequestBody'
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionRequestBody'
                id:
                    type: string
                    nullable: true
                name:
                    type: string
                priority:
                    type: integer
                rule_type:
                    type: string
                    nullable: true
                    enum:
                        - global_override
                        - company_override
                        - plan_entitlement
                        - standard
                        - default
                        - plan_audience
                value:
                    type: boolean
            required:
                - condition_groups
                - conditions
                - name
                - priority
                - value
            title: CreateOrUpdateRuleRequestBody
        CreatePlanEntitlementRequestBody:
            type: object
            properties:
                feature_id:
                    type: string
                metric_period:
                    type: string
                    nullable: true
                    enum:
                        - current_month
                        - current_week
                        - current_day
                plan_id:
                    type: string
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
                    enum:
                        - Boolean
                        - Numeric
                        - Trait
                        - Unlimited
            required:
                - plan_id
                - feature_id
                - value_type
            title: CreatePlanEntitlementRequestBody
        CreatePlanRequestBody:
            type: object
            properties:
                description:
                    type: string
                name:
                    type: string
                plan_type:
                    type: string
                    enum:
                        - product
                        - pricing_plan
                        - add_on
                        - overage
                        - billable_metric
                        - other
            required:
                - description
                - name
                - plan_type
            title: CreatePlanRequestBody
        CreateReqCommon:
            type: object
            properties:
                feature_id:
                    type: string
                metric_period:
                    type: string
                    nullable: true
                    enum:
                        - current_month
                        - current_week
                        - current_day
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
                    enum:
                        - Boolean
                        - Numeric
                        - Trait
                        - Unlimited
            required:
                - feature_id
                - value_type
            title: CreateReqCommon
        CreateWebhookRequestBody:
            type: object
            properties:
                name:
                    type: string
                request_types:
                    type: array
                    items:
                        type: string
                url:
                    type: string
            required:
                - name
                - url
                - request_types
            title: CreateWebhookRequestBody
        DeleteResponse:
            type: object
            properties:
                deleted:
                    type: boolean
                    description: Whether the delete was successful
        EntityKeyDefinitionResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                entity_type:
                    type: string
                id:
                    type: string
                key:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - entity_type
                - key
                - created_at
                - updated_at
            title: EntityKeyDefinitionResponseData
        EntityKeyDetailResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                definition:
                    $ref: '#/components/schemas/EntityKeyDefinitionResponseData'
                definition_id:
                    type: string
                entity_id:
                    type: string
                entity_type:
                    type: string
                environment_id:
                    type: string
                id:
                    type: string
                key:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value:
                    type: string
            required:
                - id
                - environment_id
                - definition_id
                - entity_type
                - entity_id
                - key
                - value
                - created_at
                - updated_at
            title: EntityKeyDetailResponseData
        EntityKeyResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                definition_id:
                    type: string
                entity_id:
                    type: string
                entity_type:
                    type: string
                environment_id:
                    type: string
                id:
                    type: string
                key:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value:
                    type: string
            required:
                - id
                - environment_id
                - definition_id
                - entity_type
                - entity_id
                - key
                - value
                - created_at
                - updated_at
            title: EntityKeyResponseData
        EntityTraitDefinitionResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                display_name:
                    type: string
                entity_type:
                    type: string
                hierarchy:
                    type: array
                    items:
                        type: string
                id:
                    type: string
                trait_type:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - created_at
                - display_name
                - entity_type
                - hierarchy
                - id
                - trait_type
                - updated_at
            title: EntityTraitDefinitionResponseData
        EntityTraitDetailResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                definition:
                    $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
                definition_id:
                    type: string
                environment_id:
                    type: string
                id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value:
                    type: string
            required:
                - id
                - environment_id
                - definition_id
                - value
                - created_at
                - updated_at
            title: EntityTraitDetailResponseData
        EntityTraitResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                definition_id:
                    type: string
                environment_id:
                    type: string
                id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value:
                    type: string
            required:
                - id
                - environment_id
                - definition_id
                - value
                - created_at
                - updated_at
            title: EntityTraitResponseData
        EntityTraitValue:
            type: object
            properties:
                definition_id:
                    type: string
                value:
                    type: string
            required:
                - definition_id
                - value
            title: EntityTraitValue
        EnvironmentDetailResponseData:
            type: object
            description: The created resource
            properties:
                api_keys:
                    type: array
                    items:
                        $ref: '#/components/schemas/ApiKeyResponseData'
                created_at:
                    type: string
                    format: date-time
                environment_type:
                    type: string
                id:
                    type: string
                name:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - name
                - environment_type
                - created_at
                - updated_at
                - api_keys
            title: EnvironmentDetailResponseData
        EnvironmentResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                environment_type:
                    type: string
                id:
                    type: string
                name:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - name
                - environment_type
                - created_at
                - updated_at
            title: EnvironmentResponseData
        EventDetailResponseData:
            type: object
            properties:
                api_key:
                    type: string
                    nullable: true
                body:
                    type: object
                body_preview:
                    type: string
                captured_at:
                    type: string
                    format: date-time
                company:
                    $ref: '#/components/schemas/PreviewObject'
                company_id:
                    type: string
                    nullable: true
                enriched_at:
                    type: string
                    format: date-time
                    nullable: true
                environment_id:
                    type: string
                    nullable: true
                error_message:
                    type: string
                    nullable: true
                feature_ids:
                    type: array
                    items:
                        type: string
                features:
                    type: array
                    items:
                        $ref: '#/components/schemas/PreviewObject'
                id:
                    type: string
                loaded_at:
                    type: string
                    format: date-time
                    nullable: true
                processed_at:
                    type: string
                    format: date-time
                    nullable: true
                sent_at:
                    type: string
                    format: date-time
                    nullable: true
                status:
                    type: string
                subtype:
                    type: string
                    nullable: true
                type:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                user:
                    $ref: '#/components/schemas/PreviewObject'
                user_id:
                    type: string
                    nullable: true
            required:
                - body
                - body_preview
                - captured_at
                - type
                - feature_ids
                - id
                - status
                - updated_at
                - features
            title: EventDetailResponseData
        EventResponseData:
            type: object
            properties:
                api_key:
                    type: string
                    nullable: true
                body:
                    type: object
                body_preview:
                    type: string
                captured_at:
                    type: string
                    format: date-time
                company_id:
                    type: string
                    nullable: true
                enriched_at:
                    type: string
                    format: date-time
                    nullable: true
                environment_id:
                    type: string
                    nullable: true
                error_message:
                    type: string
                    nullable: true
                feature_ids:
                    type: array
                    items:
                        type: string
                id:
                    type: string
                loaded_at:
                    type: string
                    format: date-time
                    nullable: true
                processed_at:
                    type: string
                    format: date-time
                    nullable: true
                sent_at:
                    type: string
                    format: date-time
                    nullable: true
                status:
                    type: string
                subtype:
                    type: string
                    nullable: true
                type:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                user_id:
                    type: string
                    nullable: true
            required:
                - body
                - body_preview
                - captured_at
                - type
                - feature_ids
                - id
                - status
                - updated_at
            title: EventResponseData
        EventSummaryResponseData:
            type: object
            properties:
                company_count:
                    type: integer
                environment_id:
                    type: string
                event_count:
                    type: integer
                event_subtype:
                    type: string
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                user_count:
                    type: integer
            required:
                - company_count
                - environment_id
                - event_count
                - event_subtype
                - user_count
            title: EventSummaryResponseData
        FeatureCompanyResponseData:
            type: object
            properties:
                access:
                    type: boolean
                    description: Whether further usage is permitted.
                allocation:
                    type: integer
                    description: The maximum amount of usage that is permitted; a null value indicates that unlimited usage is permitted.
                    nullable: true
                company:
                    $ref: '#/components/schemas/CompanyDetailResponseData'
                entitlement_id:
                    type: string
                entitlement_type:
                    type: string
                feature:
                    $ref: '#/components/schemas/FeatureDetailResponseData'
                period:
                    type: string
                    description: The period over which usage is measured.
                    nullable: true
                plan:
                    $ref: '#/components/schemas/PlanResponseData'
                usage:
                    type: integer
                    description: The amount of usage that has been consumed; a null value indicates that usage is not being measured.
                    nullable: true
            required:
                - access
                - entitlement_id
                - entitlement_type
            title: FeatureCompanyResponseData
        FeatureCompanyUserResponseData:
            type: object
            properties:
                access:
                    type: boolean
                    description: Whether further usage is permitted.
                allocation:
                    type: integer
                    description: The maximum amount of usage that is permitted; a null value indicates that unlimited usage is permitted.
                    nullable: true
                company:
                    $ref: '#/components/schemas/CompanyDetailResponseData'
                entitlement_id:
                    type: string
                entitlement_type:
                    type: string
                feature:
                    $ref: '#/components/schemas/FeatureDetailResponseData'
                period:
                    type: string
                    description: The period over which usage is measured.
                    nullable: true
                plan:
                    $ref: '#/components/schemas/PlanResponseData'
                usage:
                    type: integer
                    description: The amount of usage that has been consumed; a null value indicates that usage is not being measured.
                    nullable: true
                user:
                    $ref: '#/components/schemas/UserResponseData'
            required:
                - access
                - entitlement_id
                - entitlement_type
            title: FeatureCompanyUserResponseData
        FeatureDetailResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                description:
                    type: string
                event_subtype:
                    type: string
                    nullable: true
                event_summary:
                    $ref: '#/components/schemas/EventSummaryResponseData'
                feature_type:
                    type: string
                flags:
                    type: array
                    items:
                        $ref: '#/components/schemas/FlagDetailResponseData'
                id:
                    type: string
                lifecycle_phase:
                    type: string
                    nullable: true
                name:
                    type: string
                plans:
                    type: array
                    items:
                        $ref: '#/components/schemas/PreviewObject'
                trait:
                    $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
                trait_id:
                    type: string
                    nullable: true
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - name
                - description
                - feature_type
                - created_at
                - updated_at
                - flags
                - plans
            title: FeatureDetailResponseData
        FeatureResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                description:
                    type: string
                event_subtype:
                    type: string
                    nullable: true
                feature_type:
                    type: string
                id:
                    type: string
                lifecycle_phase:
                    type: string
                    nullable: true
                name:
                    type: string
                trait_id:
                    type: string
                    nullable: true
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - name
                - description
                - feature_type
                - created_at
                - updated_at
            title: FeatureResponseData
        FeatureUsageDetailResponseData:
            type: object
            description: The returned resource
            properties:
                features:
                    type: array
                    items:
                        $ref: '#/components/schemas/FeatureUsageResponseData'
            required:
                - features
            title: FeatureUsageDetailResponseData
        FeatureUsageResponseData:
            type: object
            properties:
                access:
                    type: boolean
                    description: Whether further usage is permitted.
                allocation:
                    type: integer
                    description: The maximum amount of usage that is permitted; a null value indicates that unlimited usage is permitted.
                    nullable: true
                entitlement_id:
                    type: string
                entitlement_type:
                    type: string
                feature:
                    $ref: '#/components/schemas/FeatureDetailResponseData'
                period:
                    type: string
                    description: The period over which usage is measured.
                    nullable: true
                plan:
                    $ref: '#/components/schemas/PlanResponseData'
                usage:
                    type: integer
                    description: The amount of usage that has been consumed; a null value indicates that usage is not being measured.
                    nullable: true
            required:
                - access
                - entitlement_id
                - entitlement_type
            title: FeatureUsageResponseData
        FlagCheckLogDetailResponseData:
            type: object
            properties:
                check_status:
                    type: string
                company:
                    $ref: '#/components/schemas/CompanyResponseData'
                company_id:
                    type: string
                    nullable: true
                created_at:
                    type: string
                    format: date-time
                environment:
                    $ref: '#/components/schemas/EnvironmentResponseData'
                environment_id:
                    type: string
                error:
                    type: string
                    nullable: true
                flag:
                    $ref: '#/components/schemas/FlagResponseData'
                flag_id:
                    type: string
                    nullable: true
                flag_key:
                    type: string
                id:
                    type: string
                reason:
                    type: string
                req_company:
                    type: object
                    nullable: true
                req_user:
                    type: object
                    nullable: true
                rule:
                    $ref: '#/components/schemas/RuleResponseData'
                rule_id:
                    type: string
                    nullable: true
                updated_at:
                    type: string
                    format: date-time
                user:
                    $ref: '#/components/schemas/UserResponseData'
                user_id:
                    type: string
                    nullable: true
                value:
                    type: boolean
            required:
                - check_status
                - created_at
                - environment_id
                - flag_key
                - id
                - reason
                - updated_at
                - value
            title: FlagCheckLogDetailResponseData
        FlagCheckLogResponseData:
            type: object
            properties:
                check_status:
                    type: string
                company_id:
                    type: string
                    nullable: true
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                error:
                    type: string
                    nullable: true
                flag_id:
                    type: string
                    nullable: true
                flag_key:
                    type: string
                id:
                    type: string
                reason:
                    type: string
                req_company:
                    type: object
                    nullable: true
                req_user:
                    type: object
                    nullable: true
                rule_id:
                    type: string
                    nullable: true
                updated_at:
                    type: string
                    format: date-time
                user_id:
                    type: string
                    nullable: true
                value:
                    type: boolean
            required:
                - check_status
                - created_at
                - environment_id
                - flag_key
                - id
                - reason
                - updated_at
                - value
            title: FlagCheckLogResponseData
        FlagDetailResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                default_value:
                    type: boolean
                description:
                    type: string
                feature:
                    $ref: '#/components/schemas/FeatureResponseData'
                feature_id:
                    type: string
                    nullable: true
                flag_type:
                    type: string
                id:
                    type: string
                key:
                    type: string
                latest_check:
                    $ref: '#/components/schemas/FlagCheckLogResponseData'
                name:
                    type: string
                rules:
                    type: array
                    items:
                        $ref: '#/components/schemas/RuleDetailResponseData'
                updated_at:
                    type: string
                    format: date-time
            required:
                - created_at
                - default_value
                - description
                - flag_type
                - id
                - key
                - name
                - updated_at
                - rules
            title: FlagDetailResponseData
        FlagResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                default_value:
                    type: boolean
                description:
                    type: string
                feature_id:
                    type: string
                    nullable: true
                flag_type:
                    type: string
                id:
                    type: string
                key:
                    type: string
                name:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - created_at
                - default_value
                - description
                - flag_type
                - id
                - key
                - name
                - updated_at
            title: FlagResponseData
        GetOrCreateCompanyMembershipRequestBody:
            type: object
            properties:
                company_id:
                    type: string
                user_id:
                    type: string
            required:
                - company_id
                - user_id
            title: GetOrCreateCompanyMembershipRequestBody
        KeysRequestBody:
            type: object
            properties:
                keys:
                    type: object
            required:
                - keys
            title: KeysRequestBody
        MetricCountsHourlyResponseData:
            type: object
            properties:
                company_id:
                    type: string
                    nullable: true
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                event_subtype:
                    type: string
                start_time:
                    type: string
                    format: date-time
                user_id:
                    type: string
                    nullable: true
                value:
                    type: integer
            required:
                - environment_id
                - event_subtype
                - start_time
                - value
                - created_at
            title: MetricCountsHourlyResponseData
        PaginationFilter:
            type: object
            properties:
                limit:
                    type: integer
                    description: Page limit (default 100)
                    nullable: true
                offset:
                    type: integer
                    description: Page offset (default 0)
                    nullable: true
            title: PaginationFilter
        PlanAudienceDetailResponseData:
            type: object
            description: The updated resource
            properties:
                condition_groups:
                    type: array
                    items:
                        $ref: '#/components/schemas/RuleConditionGroupDetailResponseData'
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/RuleConditionDetailResponseData'
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                name:
                    type: string
                plan_id:
                    type: string
                    nullable: true
                priority:
                    type: integer
                rule_type:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value:
                    type: boolean
            required:
                - id
                - environment_id
                - priority
                - name
                - rule_type
                - value
                - created_at
                - updated_at
                - conditions
                - condition_groups
            title: PlanAudienceDetailResponseData
        PlanAudienceResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                name:
                    type: string
                plan_id:
                    type: string
                    nullable: true
                priority:
                    type: integer
                rule_type:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value:
                    type: boolean
            required:
                - id
                - environment_id
                - priority
                - name
                - rule_type
                - value
                - created_at
                - updated_at
            title: PlanAudienceResponseData
        PlanDetailResponseData:
            type: object
            description: The updated resource
            properties:
                company_count:
                    type: integer
                created_at:
                    type: string
                    format: date-time
                description:
                    type: string
                features:
                    type: array
                    items:
                        $ref: '#/components/schemas/FeatureDetailResponseData'
                id:
                    type: string
                name:
                    type: string
                plan_type:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - created_at
                - description
                - id
                - name
                - plan_type
                - updated_at
                - company_count
                - features
            title: PlanDetailResponseData
        PlanEntitlementResponseData:
            type: object
            description: The updated resource
            properties:
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                feature:
                    $ref: '#/components/schemas/FeatureResponseData'
                feature_id:
                    type: string
                id:
                    type: string
                metric_period:
                    type: string
                    nullable: true
                plan:
                    $ref: '#/components/schemas/PlanResponseData'
                plan_id:
                    type: string
                rule_id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait:
                    $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
            required:
                - created_at
                - environment_id
                - feature_id
                - id
                - plan_id
                - rule_id
                - updated_at
                - value_type
            title: PlanEntitlementResponseData
        PlanResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                description:
                    type: string
                id:
                    type: string
                name:
                    type: string
                plan_type:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - created_at
                - description
                - id
                - name
                - plan_type
                - updated_at
            title: PlanResponseData
        PreviewObject:
            type: object
            properties:
                id:
                    type: string
                image_url:
                    type: string
                    nullable: true
                name:
                    type: string
            required:
                - id
                - name
            title: PreviewObject
        RawEventBatchResponseData:
            type: object
            description: The created resource
            properties:
                events:
                    type: array
                    items:
                        $ref: '#/components/schemas/RawEventResponseData'
            required:
                - events
            title: RawEventBatchResponseData
        RawEventResponseData:
            type: object
            properties:
                captured_at:
                    type: string
                    format: date-time
                event_id:
                    type: string
                    nullable: true
                remote_addr:
                    type: string
                remote_ip:
                    type: string
                user_agent:
                    type: string
            required:
                - captured_at
                - remote_addr
                - remote_ip
                - user_agent
            title: RawEventResponseData
        RuleConditionDetailResponseData:
            type: object
            properties:
                comparison_trait:
                    $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
                comparison_trait_id:
                    type: string
                    nullable: true
                condition_group_id:
                    type: string
                    nullable: true
                condition_type:
                    type: string
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                event_subtype:
                    type: string
                    nullable: true
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                metric_period:
                    type: string
                    nullable: true
                metric_value:
                    type: integer
                operator:
                    type: string
                plan_id:
                    type: string
                    nullable: true
                resource_ids:
                    type: array
                    items:
                        type: string
                resources:
                    type: array
                    items:
                        $ref: '#/components/schemas/RuleConditionResourceResponseData'
                rule_id:
                    type: string
                trait:
                    $ref: '#/components/schemas/EntityTraitDefinitionResponseData'
                trait_entity_type:
                    type: string
                    nullable: true
                trait_id:
                    type: string
                    nullable: true
                trait_value:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - rule_id
                - condition_type
                - operator
                - created_at
                - updated_at
                - resource_ids
                - metric_value
                - trait_value
                - resources
            title: RuleConditionDetailResponseData
        RuleConditionGroupDetailResponseData:
            type: object
            properties:
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/RuleConditionDetailResponseData'
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                plan_id:
                    type: string
                    nullable: true
                rule_id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - rule_id
                - created_at
                - updated_at
                - conditions
            title: RuleConditionGroupDetailResponseData
        RuleConditionGroupResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                plan_id:
                    type: string
                    nullable: true
                rule_id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - rule_id
                - created_at
                - updated_at
            title: RuleConditionGroupResponseData
        RuleConditionResourceResponseData:
            type: object
            properties:
                id:
                    type: string
                name:
                    type: string
            required:
                - id
                - name
            title: RuleConditionResourceResponseData
        RuleConditionResponseData:
            type: object
            properties:
                comparison_trait_id:
                    type: string
                    nullable: true
                condition_group_id:
                    type: string
                    nullable: true
                condition_type:
                    type: string
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                event_subtype:
                    type: string
                    nullable: true
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                metric_period:
                    type: string
                    nullable: true
                metric_value:
                    type: integer
                operator:
                    type: string
                plan_id:
                    type: string
                    nullable: true
                resource_ids:
                    type: array
                    items:
                        type: string
                rule_id:
                    type: string
                trait_entity_type:
                    type: string
                    nullable: true
                trait_id:
                    type: string
                    nullable: true
                trait_value:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - rule_id
                - condition_type
                - operator
                - created_at
                - updated_at
                - resource_ids
                - metric_value
                - trait_value
            title: RuleConditionResponseData
        RuleDetailResponseData:
            type: object
            properties:
                condition_groups:
                    type: array
                    items:
                        $ref: '#/components/schemas/RuleConditionGroupDetailResponseData'
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/RuleConditionDetailResponseData'
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                name:
                    type: string
                plan_id:
                    type: string
                    nullable: true
                priority:
                    type: integer
                rule_type:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value:
                    type: boolean
            required:
                - id
                - environment_id
                - priority
                - name
                - rule_type
                - value
                - created_at
                - updated_at
                - conditions
                - condition_groups
            title: RuleDetailResponseData
        RuleResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                name:
                    type: string
                plan_id:
                    type: string
                    nullable: true
                priority:
                    type: integer
                rule_type:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value:
                    type: boolean
            required:
                - id
                - environment_id
                - priority
                - name
                - rule_type
                - value
                - created_at
                - updated_at
            title: RuleResponseData
        RulesDetailResponseData:
            type: object
            description: The updated resource
            properties:
                Flag:
                    $ref: '#/components/schemas/FlagResponseData'
                rules:
                    type: array
                    items:
                        $ref: '#/components/schemas/RuleDetailResponseData'
            required:
                - rules
            title: RulesDetailResponseData
        SegmentStatusResp:
            type: object
            description: The returned resource
            properties:
                connected:
                    type: boolean
                environment_id:
                    type: string
                last_event_at:
                    type: string
                    format: date-time
                    nullable: true
            required:
                - connected
                - environment_id
            title: SegmentStatusResp
        UpdateApiKeyRequestBody:
            type: object
            properties:
                description:
                    type: string
                    nullable: true
                name:
                    type: string
                    nullable: true
            title: UpdateApiKeyRequestBody
        UpdateAudienceRequestBody:
            type: object
            properties:
                condition_groups:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionGroupRequestBody'
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionRequestBody'
            required:
                - conditions
                - condition_groups
            title: UpdateAudienceRequestBody
        UpdateCompanyOverrideRequestBody:
            type: object
            properties:
                metric_period:
                    type: string
                    nullable: true
                    enum:
                        - current_month
                        - current_week
                        - current_day
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
                    enum:
                        - Boolean
                        - Numeric
                        - Trait
                        - Unlimited
            required:
                - value_type
            title: UpdateCompanyOverrideRequestBody
        UpdateEntityTraitDefinitionRequestBody:
            type: object
            properties:
                display_name:
                    type: string
                    nullable: true
                trait_type:
                    type: string
                    enum:
                        - boolean
                        - currency
                        - date
                        - number
                        - string
                        - url
            required:
                - trait_type
            title: UpdateEntityTraitDefinitionRequestBody
        UpdateEnvironmentRequestBody:
            type: object
            properties:
                environment_type:
                    type: string
                    nullable: true
                    enum:
                        - development
                        - staging
                        - production
                name:
                    type: string
                    nullable: true
            title: UpdateEnvironmentRequestBody
        UpdateFeatureRequestBody:
            type: object
            properties:
                description:
                    type: string
                    nullable: true
                event_subtype:
                    type: string
                    nullable: true
                feature_type:
                    type: string
                    nullable: true
                    enum:
                        - boolean
                        - event
                        - trait
                flag:
                    $ref: '#/components/schemas/CreateOrUpdateFlagRequestBody'
                lifecycle_phase:
                    type: string
                    nullable: true
                name:
                    type: string
                    nullable: true
                trait_id:
                    type: string
                    nullable: true
            title: UpdateFeatureRequestBody
        UpdateFlagRulesRequestBody:
            type: object
            properties:
                rules:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateRuleRequestBody'
            required:
                - rules
            title: UpdateFlagRulesRequestBody
        UpdatePlanEntitlementRequestBody:
            type: object
            properties:
                metric_period:
                    type: string
                    nullable: true
                    enum:
                        - current_month
                        - current_week
                        - current_day
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
                    enum:
                        - Boolean
                        - Numeric
                        - Trait
                        - Unlimited
            required:
                - value_type
            title: UpdatePlanEntitlementRequestBody
        UpdatePlanRequestBody:
            type: object
            properties:
                description:
                    type: string
                    nullable: true
                name:
                    type: string
                plan_type:
                    type: string
                    nullable: true
                    enum:
                        - product
                        - pricing_plan
                        - add_on
                        - overage
                        - billable_metric
                        - other
            required:
                - name
            title: UpdatePlanRequestBody
        UpdateReqCommon:
            type: object
            properties:
                metric_period:
                    type: string
                    nullable: true
                    enum:
                        - current_month
                        - current_week
                        - current_day
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
                    enum:
                        - Boolean
                        - Numeric
                        - Trait
                        - Unlimited
            required:
                - value_type
            title: UpdateReqCommon
        UpdateRuleRequestBody:
            type: object
            properties:
                condition_groups:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionGroupRequestBody'
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionRequestBody'
                name:
                    type: string
                priority:
                    type: integer
                value:
                    type: boolean
            required:
                - condition_groups
                - conditions
                - name
                - priority
                - value
            title: UpdateRuleRequestBody
        UpdateWebhookRequestBody:
            type: object
            properties:
                name:
                    type: string
                    nullable: true
                request_types:
                    type: array
                    items:
                        type: string
                url:
                    type: string
                    nullable: true
            title: UpdateWebhookRequestBody
        UpsertCompanyRequestBody:
            type: object
            properties:
                id:
                    type: string
                    nullable: true
                keys:
                    type: object
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                    nullable: true
                traits:
                    type: object
                    description: A map of trait names to trait values
                update_only:
                    type: boolean
                    nullable: true
            required:
                - keys
            title: UpsertCompanyRequestBody
        UpsertTraitRequestBody:
            type: object
            properties:
                incr:
                    type: integer
                    description: Amount to increment the trait by (positive or negative)
                    nullable: true
                keys:
                    type: object
                    description: Key/value pairs too identify a company or user
                set:
                    type: string
                    description: Value to set the trait to
                    nullable: true
                trait:
                    type: string
                    description: Name of the trait to update
                update_only:
                    type: boolean
                    description: Unless this is set, the company or user will be created if it does not already exist
                    nullable: true
            required:
                - keys
                - trait
            title: UpsertTraitRequestBody
        UpsertUserRequestBody:
            type: object
            properties:
                company:
                    type: object
                    description: Optionally specify company using key/value pairs
                company_id:
                    type: string
                    description: Optionally specify company using Schematic company ID
                    nullable: true
                keys:
                    type: object
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                    nullable: true
                traits:
                    type: object
                    description: A map of trait names to trait values
                update_only:
                    type: boolean
                    nullable: true
            required:
                - keys
                - company
            title: UpsertUserRequestBody
        UpsertUserSubRequestBody:
            type: object
            properties:
                company_id:
                    type: string
                    description: Optionally specify company using Schematic company ID
                    nullable: true
                keys:
                    type: object
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                    nullable: true
                traits:
                    type: object
                    description: A map of trait names to trait values
                update_only:
                    type: boolean
                    nullable: true
            required:
                - keys
            title: UpsertUserSubRequestBody
        UserDetailResponseData:
            type: object
            properties:
                company_memberships:
                    type: array
                    items:
                        $ref: '#/components/schemas/CompanyMembershipDetailResponseData'
                created_at:
                    type: string
                    format: date-time
                entity_traits:
                    type: array
                    items:
                        $ref: '#/components/schemas/EntityTraitDetailResponseData'
                environment_id:
                    type: string
                id:
                    type: string
                keys:
                    type: array
                    items:
                        $ref: '#/components/schemas/EntityKeyDetailResponseData'
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                traits:
                    type: object
                    description: A map of trait names to trait values
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - name
                - created_at
                - updated_at
                - keys
                - entity_traits
                - company_memberships
            title: UserDetailResponseData
        UserResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                id:
                    type: string
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - name
                - created_at
                - updated_at
            title: UserResponseData
        WebhookEventResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                id:
                    type: string
                request_type:
                    type: string
                response_code:
                    type: integer
                    nullable: true
                sent_at:
                    type: string
                    format: date-time
                    nullable: true
                status:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                webhook_id:
                    type: string
            required:
                - id
                - webhook_id
                - request_type
                - status
                - created_at
                - updated_at
            title: WebhookEventResponseData
        WebhookResponseData:
            type: object
            description: The updated resource
            properties:
                created_at:
                    type: string
                    format: date-time
                id:
                    type: string
                name:
                    type: string
                request_types:
                    type: array
                    items:
                        type: string
                status:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                url:
                    type: string
            required:
                - id
                - name
                - url
                - status
                - request_types
                - created_at
                - updated_at
            title: WebhookResponseData
paths:
    /api-keys:
        get:
            operationId: listApiKeys
[...]
