@import "tailwindcss";
@import "../../../components/src/index.css";
@import "../../../syntax-highlighter/src/index.css";
@import "../../../search-ui/src/index.css";
@import "../components/index.scss";
@import "../mdx/components/index.scss";

@plugin "@tailwindcss/typography";
@config "./tailwind.config.ts";

@source "../components";
@source "../mdx/components";
@source "../../../components/src";
@source "../../../search-ui/src/components";
@source "../../../syntax-highlighter/src";

:root {
  --page-padding: 1rem;
  --page-margin: calc((100vw - var(--page-width)) / 2);
  --aside-offset: max(0px, calc(var(--page-margin) - var(--page-padding)));
  --sticky-aside-width: calc(
    var(--spacing-sidebar-width) + var(--aside-offset)
  );
  --bprogress-color: var(--accent);
}

@media (min-width: 768px) {
  :root {
    --page-padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --page-padding: 2rem;
  }
}

@theme inline {
  --spacing-page-padding: var(--page-padding);
  --spacing-page-width-padded: calc(
    var(--spacing-page-width) + var(--spacing-page-padding) * 2
  );
}
