@import "tailwindcss";
@import "../components/css/rmiz.scss";
@import "../components/css/base.scss";
@import "@fern-docs/components/src/index.css";
@import "@fern-docs/syntax-highlighter/src/index.css";
@import "@fern-docs/search-ui/src/index.css";
@import "../components/css/components.scss";
@import "../components/api-reference/index.scss";
@import "../components/playground/index.scss";
@import "../components/components/index.scss";
@import "../components/mdx/components/index.scss";
@import "../components/changelog/index.scss";
@import "../components/themes/index.scss";
@import "../components/sidebar/index.scss";

@plugin "@tailwindcss/typography";
@config "../../../components/tailwind.config.ts";

@source "../components";
@source "../../../components/src";
@source "../../../search-ui/src/components";
@source "../../../syntax-highlighter/src";

:root {
  --page-padding: 1rem;
}

@media (min-width: 768px) {
  :root {
    --page-padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --page-padding: 2rem;
  }
}

@theme inline {
  --spacing-page-padding: var(--page-padding);
  --spacing-page-width-padded: calc(
    var(--spacing-page-width) + var(--spacing-page-padding) * 2
  );
}
