@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/mauve-alpha.css";
@import "@radix-ui/colors/slate-alpha.css";
@import "@radix-ui/colors/sage-alpha.css";
@import "@radix-ui/colors/olive-alpha.css";
@import "@radix-ui/colors/sand-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/grass-alpha.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/mauve-dark.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/sage-dark.css";
@import "@radix-ui/colors/olive-dark.css";
@import "@radix-ui/colors/sand-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";
@import "@radix-ui/colors/mauve-dark-alpha.css";
@import "@radix-ui/colors/slate-dark-alpha.css";
@import "@radix-ui/colors/sage-dark-alpha.css";
@import "@radix-ui/colors/olive-dark-alpha.css";
@import "@radix-ui/colors/sand-dark-alpha.css";
@import "@radix-ui/colors/green-dark-alpha.css";
@import "@radix-ui/colors/grass-dark-alpha.css";
@import "@radix-ui/colors/red-dark-alpha.css";
@import "@radix-ui/colors/amber-dark-alpha.css";
@import "@radix-ui/colors/blue-dark-alpha.css";
@import "@fern-ui/components/src/index";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }

    /*
    html.dark {
        background-color: var(--accent);
    } */

    *,
    *::before,
    *::after {
        box-sizing: inherit;

        @apply outline-transparent;
        @apply focus:outline-border-accent-muted focus-visible:outline-border-accent-muted;
    }

    ::selection {
        @apply bg-accent-highlight;
    }

    html,
    body {
        @apply t-default;

        font-family: var(--typography-body-font-family, var(--body-font-fallback)) !important;
        font-size: 16px !important;
    }

    code,
    pre,
    .font-mono {
        font-family: var(--typography-code-font-family, var(--code-font-fallback)) !important;
    }

    code.inline-code {
        @apply text-[0.875em];
    }

    /* provides comfortable padding above anchor links, to avoid intersecting with header */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply scroll-mt-header-height-padded;

        font-family: var(--typography-heading-font-family);

        &:first-child {
            @apply mt-0;
        }
    }

    h1 {
        @apply text-[2.25rem] font-extrabold leading-tight;
    }

    h2 {
        @apply text-[1.5rem] font-bold leading-tight;
    }

    h3 {
        @apply text-[1.25rem] font-semibold leading-tight;
    }

    h4 {
        @apply text-[1.125rem] font-semibold leading-tight;
    }

    h5 {
        @apply text-[1rem] font-semibold;
    }

    h6 {
        @apply text-[0.875rem] font-semibold;
    }

    .clipped-background {
        @apply pointer-events-none absolute -z-10 h-full w-full overflow-hidden;

        clip-path: inset(0);
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .description-mask {
        @apply overflow-hidden line-clamp-3;

        text-overflow: -o-ellipsis-lastline;
    }

    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }

    hr {
        @apply border-default;
    }

    .fern-main {
        @apply relative w-full min-w-0 flex-1 mt-header-height;
    }
}

@layer components {
    .fa-icon {
        @apply size-4 inline-block bg-intent-default;

        background-color: var(--fa-icon-dark, var(--gray-a11));
    }

    .mask-grad-top-1 {
        mask-image: linear-gradient(to bottom, transparent 0, black 4px);
    }

    .mask-grad-top-2 {
        mask-image: linear-gradient(to bottom, transparent 0, black 8px);
    }

    .mask-grad-top-3 {
        mask-image: linear-gradient(to bottom, transparent 0, black 12px);
    }

    .mask-grad-top-4 {
        mask-image: linear-gradient(to bottom, transparent 0, black 16px);
    }

    .mask-grad-top-5 {
        mask-image: linear-gradient(to bottom, transparent 0, black 20px);
    }

    .mask-grad-top-6 {
        mask-image: linear-gradient(to bottom, transparent 0, black 24px);
    }

    .mask-grad-y-6 {
        mask-image: linear-gradient(to bottom, transparent 0, black 24px, black calc(100% - 24px), transparent 100%);
    }

    .mask-grad-top-7 {
        mask-image: linear-gradient(to bottom, transparent 0, black 28px);
    }

    .mask-grad-top-8 {
        mask-image: linear-gradient(to bottom, transparent 0, black 32px);
    }

    .mask-grad-bottom-6 {
        mask-image: linear-gradient(to top, transparent 0, black 24px);
    }

    .mask-grad-bottom-7 {
        mask-image: linear-gradient(to top, transparent 0, black 28px);
    }

    .mask-grad-bottom-8 {
        mask-image: linear-gradient(to top, transparent 0, black 32px);
    }

    .mask-grad-bottom-9 {
        mask-image: linear-gradient(to top, transparent 0, black 36px);
    }

    .mask-grad-bottom-10 {
        mask-image: linear-gradient(to top, transparent 0, black 40px);
    }

    .fern-search-bar {
        @apply cursor-pointer;
        @apply text-sm border-default flex items-center rounded-lg border-none px-2.5 py-2 t-muted;
        @apply bg-tag-default;
        @apply hover:bg-tag-default-hover transition-[background,shadow];
        @apply ring-inset ring-default hover:ring-default ring-1;

        .search-placeholder {
            @apply inline-flex flex-1 items-center space-x-2.5;

            span {
                @apply text-faded;
            }
        }

        .keyboard-shortcut-hint {
            @apply t-muted ring-default shadow-card-light inline-flex size-5 items-center justify-center rounded ring-1 font-mono text-xs leading-none;
            @apply dark:shadow-card-dark bg-card;
        }

        &:hover .keyboard-shortcut-hint {
            @apply ring-default;
        }

        &:disabled {
            @apply shadow-none bg-tag-default-soft cursor-default;
        }
    }

    .fern-sidebar-heading {
        @apply flex min-h-[32px] lg:min-h-[36px] mb-1;
    }

    .fern-sidebar-group {
        @apply list-none;
        @apply max-lg:-mx-4;

        .fern-sidebar-group {
            @apply max-lg:mx-0;
        }
    }

    .fern-sidebar-item {
        @apply scroll-my-32;
    }

    .fern-sidebar-link-container {
        @apply items-stretch relative flex min-h-[36px];
        @apply data-[state=active]:t-accent-aaa;
        @apply data-[state=inactive]:hover:t-accent-aaa;

        &:not(.top-level) {
            @apply data-[state=inactive]:t-muted;
        }
    }

    .fern-sidebar-link-indent {
        @apply relative flex-none w-4 lg:w-3 shrink-0 border-l;
    }

    .fern-sidebar-link-container[data-state="active"] .fern-sidebar-link-indent {
        @apply border-border-concealed md:border-border-accent-muted;
    }

    .fern-sidebar-link-container[data-state="inactive"] .fern-sidebar-link-indent {
        @apply border-border-concealed md:border-default lg:opacity-60;
    }

    .fern-sidebar-link {
        @apply text-left relative inline-flex flex-1 content-between items-stretch lg:px-3 max-lg:px-4;
        @apply max-lg:rounded-none lg:rounded-lg;
    }

    .fern-sidebar-link-container[data-state="active"] .fern-sidebar-link {
        @apply bg-tag-primary;
    }

    .fern-sidebar-link-container[data-state="inactive"] .fern-sidebar-link {
        @apply hover:bg-tag-default transition-colors;
    }

    .fern-sidebar-link-content {
        @apply inline-flex flex-1 items-center py-2.5 sm:py-2;
    }

    .fern-sidebar-link-text {
        @apply flex-1 text-base leading-6 lg:text-sm lg:leading-5;
    }

    .fern-sidebar-link-expand {
        @apply relative flex w-10 lg:w-6 justify-center items-center transition-colors rounded-none ease-out;
        @apply lg:rounded-lg;

        &:last-child {
            @apply flex lg:hidden -mr-3;
        }

        &:not(:last-child) {
            @apply hidden lg:flex -ml-3;
        }
    }

    .fern-sidebar-link-indent + .fern-sidebar-link-expand {
        @apply lg:rounded-l-none;
    }

    .fern-sidebar-link-expand[data-state="active"] {
        @apply after:content-[''] after:absolute after:inset-1 after:rounded-xl lg:after:rounded-md after:bg-tag-primary t-accent after:pointer-events-none;
    }

    .fern-segmented-control {
        @apply bg-white dark:bg-white/5 rounded-[10px] shadow-sm h-9;
        @apply space-x-px p-0.5 flex items-center ring-1 ring-inset ring-concealed;

        > .fern-button {
            @apply rounded-lg shrink min-w-0;
        }
    }

    .fern-button-group {
        @apply inline-flex items-stretch;

        > .fern-button {
            + .fern-button.outlined,
            + .fern-button.filled {
                @apply ml-2;
            }
        }

        > .fern-button.small {
            + .fern-button.small.outlined,
            + .fern-button.small.filled {
                @apply ml-1;
            }
        }

        > .fern-button.large {
            + .fern-button.large.outlined,
            + .fern-button.large.filled {
                @apply ml-3;
            }
        }

        > .fern-button.outlined,
        > .fern-button.filled {
            + .fern-button.minimal {
                @apply ml-2;
            }
        }
    }

    .fern-card {
        @apply border-default t-default hover:t-default border bg-card;

        &.interactive {
            @apply cursor-pointer shadow-card;
            @apply hover:shadow-card-elevated hover:border-accent transition-all;
            @apply active:shadow-card-elevated active:border-primary;

            &.active {
                @apply shadow-card-elevated border-primary;
            }
        }

        &.elevated {
            @apply shadow-card-elevated border-primary transition-all;
        }
    }

    .fern-mdx-link {
        @apply hover:t-accent underline underline-offset-4 decoration-1 hover:decoration-2 decoration-accent-aa;
        @apply font-semibold;

        h1 &,
        h2 &,
        h3 &,
        h4 &,
        h5 &,
        h6 & {
            font-weight: inherit;
        }

        svg.external-link-icon {
            @apply ml-0.5 inline-block t-muted;
        }

        &:hover {
            svg.external-link-icon {
                @apply t-accent;
            }
        }
    }

    .fern-api-property-key {
        @apply font-mono t-default font-semibold text-sm;
    }

    .custom-backdrop [data-rmiz-modal-overlay="visible"] {
        @apply bg-text-default/20;
    }
}
