@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/mauve-alpha.css";
@import "@radix-ui/colors/slate-alpha.css";
@import "@radix-ui/colors/sage-alpha.css";
@import "@radix-ui/colors/olive-alpha.css";
@import "@radix-ui/colors/sand-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/grass-alpha.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/mauve-dark.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/sage-dark.css";
@import "@radix-ui/colors/olive-dark.css";
@import "@radix-ui/colors/sand-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";
@import "@radix-ui/colors/mauve-dark-alpha.css";
@import "@radix-ui/colors/slate-dark-alpha.css";
@import "@radix-ui/colors/sage-dark-alpha.css";
@import "@radix-ui/colors/olive-dark-alpha.css";
@import "@radix-ui/colors/sand-dark-alpha.css";
@import "@radix-ui/colors/green-dark-alpha.css";
@import "@radix-ui/colors/grass-dark-alpha.css";
@import "@radix-ui/colors/red-dark-alpha.css";
@import "@radix-ui/colors/amber-dark-alpha.css";
@import "@radix-ui/colors/blue-dark-alpha.css";
@import "@fern-ui/components/src/index";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body,
    #docs-content {
        font-family: var(--typography-body-font-family, var(--body-font-fallback)) !important;
    }

    code,
    pre,
    .font-mono {
        font-family: var(--typography-code-font-family, var(--code-font-fallback)) !important;
    }

    /* provides comfortable padding above anchor links, to avoid intersecting with header */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply scroll-mt-header-height-padded font-normal;

        font-family: var(--typography-heading-font-family);

        &:first-child {
            @apply mt-0;
        }
    }

    .clipped-background {
        @apply pointer-events-none absolute -z-10 h-full w-full overflow-hidden;

        clip-path: inset(0);
    }

    .description-mask {
        @apply overflow-hidden line-clamp-3;

        text-overflow: -o-ellipsis-lastline;
    }

    .fern-main {
        @apply relative w-full min-w-0 flex-1 lg:mt-header-height mt-header-height-real;
    }
}

@layer components {
    .mask-grad-top-1 {
        mask-image: linear-gradient(to bottom, transparent 0, black 4px);
    }

    .mask-grad-top-2 {
        mask-image: linear-gradient(to bottom, transparent 0, black 8px);
    }

    .mask-grad-top-3 {
        mask-image: linear-gradient(to bottom, transparent 0, black 12px);
    }

    .mask-grad-top-4 {
        mask-image: linear-gradient(to bottom, transparent 0, black 16px);
    }

    .mask-grad-top-5 {
        mask-image: linear-gradient(to bottom, transparent 0, black 20px);
    }

    .mask-grad-top-6 {
        mask-image: linear-gradient(to bottom, transparent 0, black 24px);
    }

    .mask-grad-y-6 {
        mask-image: linear-gradient(to bottom, transparent 0, black 24px, black calc(100% - 24px), transparent 100%);
    }

    .mask-grad-top-7 {
        mask-image: linear-gradient(to bottom, transparent 0, black 28px);
    }

    .mask-grad-top-8 {
        mask-image: linear-gradient(to bottom, transparent 0, black 32px);
    }

    .mask-grad-bottom-6 {
        mask-image: linear-gradient(to top, transparent 0, black 24px);
    }

    .mask-grad-bottom-7 {
        mask-image: linear-gradient(to top, transparent 0, black 28px);
    }

    .mask-grad-bottom-8 {
        mask-image: linear-gradient(to top, transparent 0, black 32px);
    }

    .mask-grad-bottom-9 {
        mask-image: linear-gradient(to top, transparent 0, black 36px);
    }

    .mask-grad-bottom-10 {
        mask-image: linear-gradient(to top, transparent 0, black 40px);
    }

    .mask-grad-right-6 {
        mask-image: linear-gradient(to left, transparent 0, black 24px);
    }

    .fern-search-bar {
        @apply cursor-text text-left;
        background-color: #f1f3f4;
        border-radius: 4px;
        width: 200px;
        padding: 8px;
        height: 36px;
        font-size: 16px;
        line-height: 20px;

        .search-placeholder {
            @apply flex items-center;
            color: rgb(95, 99, 104);
        }

        .keyboard-shortcut-hint {
            display: none;
        }
    }

    .fern-sidebar-heading {
        @apply font-semibold t-muted;
    }

    .fern-sidebar-heading,
    .fern-sidebar-link-container {
        @apply pl-6 pr-2 py-1 mr-2 rounded-r-[12px] flex items-center;
        font-size: 13px;
        line-height: 16px;
    }

    .fern-sidebar-group {
        @apply list-none;
        @apply max-lg:-mx-4;

        .fern-sidebar-group {
            @apply max-lg:mx-0;
        }
    }

    .fern-sidebar-link-indent {
        @apply relative flex-none w-4 shrink-0;
    }

    .fern-sidebar-link {
        @apply text-left relative inline-flex flex-1 content-between items-stretch;
        @apply max-lg:rounded-none lg:rounded-md;
    }

    .fern-sidebar-link-container[data-state="active"] {
        @apply bg-tag-primary text-accent-aa font-medium;
    }
    .fern-sidebar-link-container[data-state="active"]:hover {
        @apply text-accent;
    }

    .fern-sidebar-link-container[data-state="inactive"] {
        @apply hover:bg-tag-default transition-colors;
    }

    .fern-sidebar-link-content {
        @apply inline-flex flex-1 items-center;
    }

    .fern-sidebar-link-text {
        @apply flex-1 overflow-x-clip;
    }

    .fern-sidebar-link-expand {
        @apply relative flex w-10 lg:w-6 justify-center items-center transition-colors rounded-none ease-out;
        @apply lg:rounded-md -ml-6;

        &:last-child {
            @apply flex -mr-3 ml-1;
        }
    }

    .fern-sidebar-link-expand[data-state="active"] {
        @apply after:content-[''] after:absolute after:inset-1 after:rounded-xl lg:after:rounded-md after:bg-tag-primary t-accent after:pointer-events-none;
    }

    .fern-mdx-link {
        @apply hover:t-accent underline underline-offset-4 decoration-1 hover:decoration-2 decoration-accent-aa;
        @apply font-semibold;

        h1 &,
        h2 &,
        h3 &,
        h4 &,
        h5 &,
        h6 & {
            font-weight: inherit;
        }

        svg.external-link-icon {
            @apply ml-0.5 inline-block t-muted;
        }

        &:hover {
            svg.external-link-icon {
                @apply t-accent;
            }
        }
    }

    .fern-api-property-key {
        @apply font-mono t-default font-semibold text-sm;
    }

    .custom-backdrop [data-rmiz-modal-overlay="visible"] {
        @apply bg-text-default/20;
    }

    .fern-tabs {
        @apply flex h-full text-sm px-[6px] t-muted;

        .fern-tab {
            @apply h-full relative flex items-center;

            a,
            button {
                @apply px-[18px] h-full inline-flex items-center;

                &:before {
                    @apply absolute inset-x-[22px] bottom-0 h-[3px] rounded-t-[3px];
                }
            }

            a[data-state="active"],
            button[data-state="active"] {
                @apply t-default;
            }

            &.accented {
                a[data-state="active"],
                button[data-state="active"] {
                    @apply t-accent;
                }
            }

            a[data-state="active"]:before,
            button[data-state="active"]:before {
                content: "";
                @apply bg-accent;
            }

            a:not([data-state="active"]):hover:before,
            button:not([data-state="active"]):hover:before {
                content: "";
                @apply bg-grayscale-9;
            }
        }
    }

    // .fern-tabs.fern-snippet-examples {
    //     @apply w-full border-b border-default -mb-6 h-10 text-sm px-0;

    //     button {
    //         @apply px-[12px];

    //         &:before {
    //             @apply h-[2px] rounded-t-[2px];
    //         }
    //     }
    // }
}
