@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/gray-dark-alpha.css";
@import "@radix-ui/colors/green-dark-alpha.css";
@import "@radix-ui/colors/red-dark-alpha.css";
@import "@radix-ui/colors/amber-dark-alpha.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }

    /* 
    html.dark {
        background-color: var(--accent-primary-dark);
    } */

    *,
    *::before,
    *::after {
        box-sizing: inherit;

        @apply focus:outline-accent-primary dark:focus:outline-accent-primary-dark;
    }

    ::selection {
        @apply bg-accent-highlight;
    }

    html,
    body {
        @apply text-text-default-light dark:text-text-default-dark;

        font-family: var(--typography-body-font-family) !important;
        font-size: 16px !important;
    }

    code,
    pre,
    .font-mono {
        font-family: var(--typography-code-font-family);
    }

    code.inline-code {
        @apply text-[0.875em];
    }

    /* provides comfortable padding above anchor links, to avoid intersecting with header */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply scroll-mt-header-height-padded tracking-tight mt-8;

        font-family: var(--typography-heading-font-family);
    }

    h1 {
        @apply text-[2.25rem] font-extrabold;
    }

    h2 {
        @apply text-[1.5rem] font-bold;
    }

    h3 {
        @apply text-[1.25rem] font-semibold;
    }

    h4 {
        @apply text-[1.125rem] font-semibold;
    }

    h5 {
        @apply text-[1rem] font-semibold;
    }

    h6 {
        @apply text-[0.875rem] font-semibold;
    }

    .clipped-background {
        @apply pointer-events-none absolute -z-10 h-full w-full overflow-hidden;

        clip-path: inset(0);
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .bp5-dark .bp5-control .bp5-control-indicator {
        @apply ring-1 ring-accent-primary-dark !important;
    }

    .light .bp5-control input:checked ~ .bp5-control-indicator {
        @apply bg-accent-primary-light !important;
    }

    .bp5-dark .bp5-control input:checked ~ .bp5-control-indicator {
        @apply bg-accent-primary-dark !important;
    }

    .light input.bp5-input:focus {
        @apply ring-1 ring-accent-primary !important;
    }

    .bp5-dark .bp5-input:focus {
        @apply ring-1 ring-accent-primary-dark !important;
    }

    .bp5-dark .bp5-segmented-control {
        @apply bg-tag-primary-dark !important;
    }

    .light .bp5-segmented-control {
        @apply bg-tag-primary-light !important;
    }

    .description-mask {
        @apply overflow-hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: -o-ellipsis-lastline;
    }
}
