:root {
  --shiki-dark: white;
}

@layer components {
  .code-block-root {
    @apply flex w-full flex-col overflow-hidden;

    counter-reset: code-block-line;
    background-color: unset !important;
  }

  .code-block-root > .fern-scroll-area {
    @apply min-h-0 shrink;
  }

  .code-block {
    @apply py-3 font-mono;
  }

  .code-block,
  .code-block.text-sm,
  .code-block.text-xs,
  .code-block.text-base {
    @apply leading-relaxed;
  }

  .code-block.text-xs {
    @apply py-2;
  }

  .code-block-line-group {
    @apply min-w-full border-spacing-0;
  }

  .code-block-line-gutter {
    @apply w-0 select-none p-0 align-top;
  }

  .code-block-line-gutter > span {
    @apply pl-3;
    color: var(--grayscale-a9, var(--gray-a9));
  }

  .code-block-line-content {
    @apply px-3 py-0;
  }

  .code-block-line-group.word-wrap .code-block-line-content {
    @apply whitespace-pre-wrap break-all;
  }

  .code-block-line-group.highlight-focus .code-block-line:not(.highlight) {
    @apply opacity-40 blur-[1.5px] transition-[filter,opacity] dark:opacity-50;
  }

  .code-block:hover
    .code-block-line-group.highlight-focus
    .code-block-line:not(.highlight) {
    @apply opacity-100 blur-0 dark:opacity-100;
  }

  .code-block-line-group:not(.highlight-focus) .code-block-line.highlight {
    @apply shadow-transparent transition-[background,shadow];
    background-color: var(--accent-2);
  }

  .code-block-line-group:not(.highlight-focus)
    .code-block-line:not(.highlight)
    + .code-block-line.highlight,
  .code-block-line-group:not(.highlight-focus)
    .code-block-line.highlight:first-child {
    box-shadow: inset 0 1px 0 0 rgba(var(--accent), 0.2);
  }

  :is(.dark)
    .code-block-line-group:not(.highlight-focus)
    .code-block-line:not(.highlight)
    + .code-block-line.highlight,
  :is(.dark)
    .code-block-line-group:not(.highlight-focus)
    .code-block-line.highlight:first-child {
    box-shadow: inset 0 1px 0 0 rgba(var(--accent), 0.33);
  }

  .code-block-line-group:not(.highlight-focus)
    .code-block-line.highlight:has(+ .code-block-line:not(.highlight)),
  .code-block-line-group:not(.highlight-focus)
    .code-block-line.highlight:last-child {
    box-shadow: inset 0 -1px 0 0 rgba(var(--accent), 0.2);
  }

  :is(.dark)
    .code-block-line-group:not(.highlight-focus)
    .code-block-line.highlight:has(+ .code-block-line:not(.highlight)),
  :is(.dark)
    .code-block-line-group:not(.highlight-focus)
    .code-block-line.highlight:last-child {
    box-shadow: inset 0 -1px 0 0 rgba(var(--accent), 0.33);
  }

  .code-block-line-group:not(.highlight-focus)
    .code-block-line:not(.highlight)
    + .code-block-line.highlight:has(+ .code-block-line:not(.highlight)),
  .code-block-line-group:not(.highlight-focus)
    .code-block-line.highlight:first-child:has(
      + .code-block-line:not(.highlight)
    ),
  .code-block-line-group:not(.highlight-focus)
    .code-block-line:not(.highlight)
    + .code-block-line.highlight:last-child {
    box-shadow:
      inset 0 -1px 0 0 rgba(var(--accent), 0.2),
      inset 0 1px 0 0 rgba(var(--accent), 0.2);
  }

  :is(.dark)
    .code-block-line-group:not(.highlight-focus)
    .code-block-line:not(.highlight)
    + .code-block-line.highlight:has(+ .code-block-line:not(.highlight)),
  :is(.dark)
    .code-block-line-group:not(.highlight-focus)
    .code-block-line.highlight:first-child:has(
      + .code-block-line:not(.highlight)
    ),
  :is(.dark)
    .code-block-line-group:not(.highlight-focus)
    .code-block-line:not(.highlight)
    + .code-block-line.highlight:last-child {
    box-shadow:
      inset 0 -1px 0 0 rgba(var(--accent), 0.33),
      inset 0 1px 0 0 rgba(var(--accent), 0.33);
  }

  :is(.dark) .code-block-root,
  :is(.dark) .code-block-root .code-block-line-content span {
    color: var(--shiki-dark) !important;

    /* background-color: var(--shiki-dark-bg) !important; */

    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
