.fern-search-hit-title {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.fern-search-hit-title.deprecated {
    opacity: 0.7;
    text-decoration: line-through;
}

.fern-search-hit-breadcrumb,
.fern-search-hit-snippet,
.fern-search-hit-endpoint-path {
    overflow: hidden;
    overflow-wrap: break-word;
    color: var(--grayscale-a11);
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fern-search-hit-highlighted {
    font-weight: 600;
}

.fern-search-hit-snippet {
    font-size: 0.875rem;
    line-height: 1.375;
}

.fern-search-hit-breadcrumb,
.fern-search-hit-endpoint-path {
    font-size: 0.75rem;
}

.fern-search-hit-endpoint-path {
    font-family: var(--font-mono);
}
