{
  "openapi": "3.0.2",
  "servers": [
    {
      "url": "https://api.sandbox.primer.io",
      "x-fern-server-name": "Production"
    },
    {
      "url": "https://api.primer.io",
      "x-fern-server-name": "Sandbox"
    }
  ],
  "info": {
    "x-logo": {
      "url": "https://apidocs.primer.io/docs/assets/images/primer-logo.svg"
    },
    "title": "Primer API",
    "version": "2.2"
  },
  "tags": [
    {
      "name": "Client Session API"
    },
    {
      "name": "Payments API"
    },
    {
      "name": "Payment Methods API"
    },
    {
      "name": "Observability API"
    },
    {
      "name": "Loyalty API"
    }
  ],
  "security": [{ "ApiKeyAuth": [] }],
  "paths": {
    "/client-session": {
      "post": {
        "tags": ["Client Session API"],
        "summary": "Create a client session",
        "description": "Creating a client session generates a client token: a temporary key used to initialize [Universal Checkout](https://primer.io/docs/accept-payments/setup-universal-checkout/installation/web) and authenticate it against your account.\n\nUniversal Checkout automatically retrieves all the settings from the client session and the Dashboard to configure the payment methods and the checkout experience.\n\n<b>Note:</b>\nWhen creating a Client Session, please make sure to provide `currencyCode`, `orderId`, and at least one of `amount` or `lineItems`. \nIf any of these are not yet available, you can provide them w\nhen making the payment request.\n\n<code>POST /client-session</code> does not have required fields as all fields are not always known when a client session is created. \nUse <code>PATCH /client-session</code> to update the parameters throughout the checkout session.\n\nClient tokens expire after 24 hours.\n",
        "operationId": "create_client_side_token_client_session_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientSessionAPIRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientSessionWithTokenAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "ClientSessionValidationError",
                    "description": "The client token is invalid.",
                    "recoverySuggestion": "Please provide a valid client token.",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "RequestValidationError",
                    "description": "We were unable to validate your request, please check your payload against https://primer.io/docs/api",
                    "diagnosticsId": "1234567898",
                    "validationErrors": [
                      {
                        "model": "ClientSessionAPIRequest",
                        "errors": [
                          {
                            "path": "$.customerId",
                            "description": "Value must be a valid string"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Client Session API"],
        "summary": "Retrieve a client session",
        "description": "This API call retrieves all the details associated with the client session corresponding to the client token that is provided in the request. The fields with empty values are excluded from the response.\n",
        "operationId": "retrieve_client_side_token_client_session_get",
        "parameters": [
          {
            "description": "Client token corresponding to the client session to retrieve",
            "schema": {
              "title": "Client Token",
              "type": "string",
              "description": "Client token"
            },
            "name": "clientToken",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientSessionAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Client Session API"],
        "summary": "Update client session",
        "description": "You can update a clients session created earlier with the `PATCH /client-session` [API call](#operation/create_client_side_token_client_session_post).\n\nThe only required field for the request is `clientToken`. Other supported request fields are same as for the `POST /client-session` [API call](#operation/create_client_side_token_client_session_post).\n\nYou need to specify only the fields you wish to update. However, if the items that are to be updated are of type `array`, then you need to provide the complete array along with modified items.\n\nIf you wish to update nested fields on the client session, such as the customer `emailAddress` field, you can pass the `customer` object with only one field, `emailAddress`, to update.\n\nIf you simply wish to clear the value of the field, pass `null` as your input.\n\nYou can update `paymentMethod.vaultOnSuccess` field but updating of the `paymentMethod.options` field through `PATCH /client-session` is not supported.\n\nThe response will contain all the fields of the client session including the ones that were changed.\n",
        "operationId": "update_client_side_token_client_session_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientSessionUpdateAPIRequest",
                "title": "Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientSessionAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments": {
      "get": {
        "tags": ["Payments API"],
        "summary": "Search & list payments",
        "description": "<p/>\n\nRetrieve a list of your payments.\n\nResults are paginated, they will only return up to 100 payments maximum.\nTo access the next page of result, set the `cursor` query parameter to the value of `nextCursor` in\nyour current result payload. Use `prevCursor` to go back to the previous page.\n\n**Note:** this endpoint returns a list of\nsummarized payments. Not all payments attributes are present. You can use\nthe query parameters to filter payments. You can separate multiple query parameters with the `&` symbol.\nQuery parameters with types of the form \"Array of strings\" (such as the status parameter) can be specified as a comma-separated list.\n\n**Note:** payments will be available within a minute from being created.\n",
        "operationId": "list_payments_payments_get",
        "parameters": [
          {
            "description": "Filter payments by their status.",
            "required": false,
            "schema": {
              "title": "Payment status",
              "type": "array",
              "items": { "$ref": "#/components/schemas/PaymentStatus" },
              "description": "Filter payments by their status."
            },
            "name": "status",
            "in": "query"
          },
          {
            "description": "Filter payments by their payment method type.",
            "required": false,
            "schema": {
              "title": "Payment method type",
              "type": "array",
              "items": { "$ref": "#/components/schemas/PaymentMethodTypeEnum" },
              "description": "Filter payments by their payment method type."
            },
            "name": "payment_method_type",
            "in": "query"
          },
          {
            "description": "Filter payments by their payment processor.",
            "required": false,
            "schema": {
              "title": "Payment processor",
              "type": "array",
              "items": { "type": "string" },
              "description": "Filter payments by their payment processor."
            },
            "name": "processor",
            "in": "query"
          },
          {
            "description": "Filter payments by their payment currency.\ne.g. use `USD` for US dollars.\n",
            "required": false,
            "schema": {
              "title": "Payment currency",
              "type": "array",
              "items": { "type": "string" },
              "description": "Filter payments by their payment currency.\n\nUse the 3-letter currency code in [ISO 4217 format](https://en.wikipedia.org/wiki/ISO_4217#Active_codes).\ne.g. use `USD` for US dollars.\"\n"
            },
            "name": "currency_code",
            "in": "query"
          },
          {
            "description": "Return only payments from this date (inclusive).",
            "required": false,
            "schema": {
              "title": "Payment date",
              "type": "string",
              "description": "Return only payments from this date (inclusive).",
              "format": "date-time"
            },
            "name": "from_date",
            "in": "query"
          },
          {
            "description": "Return only payments up to this date (inclusive).",
            "required": false,
            "schema": {
              "title": "Payment date",
              "type": "string",
              "description": "Return only payments up to this date (inclusive).",
              "format": "date-time"
            },
            "name": "to_date",
            "in": "query"
          },
          {
            "description": "Return payments related to this order ID.",
            "required": false,
            "schema": {
              "title": "Payment order ID",
              "type": "string",
              "description": "Return payments related to this order ID."
            },
            "name": "order_id",
            "in": "query"
          },
          {
            "description": "Return payments of this amount minimum (inclusive).",
            "required": false,
            "schema": {
              "title": "Payment amount",
              "type": "integer",
              "description": "Return payments of this amount minimum (inclusive)."
            },
            "name": "min_amount",
            "in": "query"
          },
          {
            "description": "Return payments of this amount max (inclusive).",
            "required": false,
            "schema": {
              "title": "Payment amount",
              "type": "integer",
              "description": "Return payments of this amount max (inclusive)."
            },
            "name": "max_amount",
            "in": "query"
          },
          {
            "description": "ID of the customer that has made the payment.",
            "required": false,
            "schema": {
              "title": "Customer ID",
              "type": "array",
              "items": { "type": "string" },
              "description": "ID of the customer that has made the payment."
            },
            "name": "customer_id",
            "in": "query"
          },
          {
            "description": "ID of the merchant involved in the payment.",
            "required": false,
            "schema": {
              "title": "Merchant ID",
              "type": "array",
              "items": { "type": "string" },
              "description": "ID of the merchant involved in the payment."
            },
            "name": "merchant_id",
            "in": "query"
          },
          {
            "description": "Email of the customer that has made the payment.",
            "required": false,
            "schema": {
              "title": "Customer email address",
              "type": "array",
              "items": { "type": "string" },
              "description": "Email of the customer that has made the payment."
            },
            "name": "customer_email_address",
            "in": "query"
          },
          {
            "description": "Last 4 digits of the card used for the payment.",
            "required": false,
            "schema": {
              "title": "Last 4 digits",
              "type": "array",
              "items": { "type": "string" },
              "description": "Last 4 digits of the card used for the payment."
            },
            "name": "last_4_digits",
            "in": "query"
          },
          {
            "description": "Paypal email address associated with the payment.",
            "required": false,
            "schema": {
              "title": "Paypal email",
              "type": "array",
              "items": { "type": "string" },
              "description": "Paypal email address associated with the payment."
            },
            "name": "paypal_email",
            "in": "query"
          },
          {
            "description": "Klarna email address associated with the payment.",
            "required": false,
            "schema": {
              "title": "Klarna email",
              "type": "array",
              "items": { "type": "string" },
              "description": "Klarna email address associated with the payment."
            },
            "name": "klarna_email",
            "in": "query"
          },
          {
            "description": "Maximum number of payments to return per page.",
            "required": false,
            "schema": {
              "title": "Limit result set",
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "description": "Maximum number of payments to return per page.",
              "default": 100
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "If results are paginated, pass the `nextCursor` to access next page.",
            "required": false,
            "schema": {
              "title": "Page cursor",
              "type": "string",
              "description": "If results are paginated, pass the `nextCursor` to access next page."
            },
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentListAPIResponse"
                }
              }
            }
          },
          "422": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "RequestValidationError",
                    "description": "Invalid type for `currencyCode`",
                    "recoverySuggestion": "The currency code must be a valid value",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Payments API"],
        "summary": "Create a payment",
        "description": "<p/>\n\nCreate and authorize a payment for a given customer order. You\nshould provide a payment method token here to avoid PCI implications.\n\nIf only a payment method token is passed, the values passed with the Client Session is used to determine the amount, currency etc.\nNote: `amount`, `currencyCode` and `orderId` are required during payment creation. Make sure to pass these fields when creating a client session, or if not yet available, when creating a payment.\n\nAll fields provided on this request will take preference over any field on the `order` associated with the client session. E.g. if you pass `amount` on this request, it will override the `amount` on the `order` associated with the Client Session.\nParameters that are not on this request will be fetched from previously created Client Session and merged. E.g. if you specify `customer.billingAddress` in Client Session and then pass `customer.emailAddress` data with this request, it will automatically merge the `customer` fields and use both `billingAddress` and `emailAddress` for later calculations.\n",
        "operationId": "create_payment_payments_post",
        "parameters": [
          {
            "required": false,
            "schema": { "title": "X-Idempotency-Key", "type": "string" },
            "name": "X-Idempotency-Key",
            "description": "Optional key to make the request idempotent. Learn more in the [Idempotency Key guide](../docs#idempotency-key).",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentCreationAPIRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentAPIResponse" },
                "example": {
                  "id": "kHdEw9EG",
                  "date": "2021-02-21T15:36:16.367687",
                  "status": "AUTHORIZED",
                  "orderId": "order-abc",
                  "currencyCode": "EUR",
                  "amount": 42,
                  "customerId": "customer-123",
                  "customer": { "email": "customer123@gmail.com" },
                  "paymentMethod": {
                    "paymentType": "SUBSCRIPTION",
                    "paymentMethodToken": "heNwnqaeRiqvY1UcslfQc3wxNjEzOTIxNjc4",
                    "isVaulted": true,
                    "authorizationType": "FINAL",
                    "descriptor": "Purchase: Socks",
                    "analyticsId": "VtkMDAxZW5isH0HsbbNxZ3lo",
                    "paymentMethodType": "PAYMENT_CARD",
                    "paymentMethodData": {
                      "first6Digits": "411111",
                      "last4Digits": "1111",
                      "expirationMonth": "12",
                      "expirationYear": "2030",
                      "cardholderName": "John Biggins",
                      "network": "Visa",
                      "isNetworkTokenized": false,
                      "binData": {
                        "network": "VISA",
                        "regionalRestriction": "UNKNOWN",
                        "accountNumberType": "UNKNOWN",
                        "accountFundingType": "UNKNOWN",
                        "prepaidReloadableIndicator": "NOT_APPLICABLE",
                        "productUsageType": "UNKNOWN",
                        "productCode": "VISA",
                        "productName": "VISA"
                      }
                    }
                  },
                  "processor": {
                    "name": "STRIPE",
                    "processorMerchantId": "acct_stripe_1234",
                    "amountCaptured": 0,
                    "amountRefunded": 0
                  },
                  "transactions": [
                    {
                      "type": "SALE",
                      "processorStatus": "AUTHORIZED",
                      "processorName": "STRIPE",
                      "processorMerchantId": "acct_stripe_1234",
                      "processorTransactionId": "54c4eb5b3ef8a"
                    }
                  ],
                  "metadata": { "productId": 123, "merchantId": "a13bsd62s" },
                  "riskData": {
                    "fraudCheck": {
                      "source": "FRAUD_PROVIDER",
                      "preAuthorizationResult": "THREE_DS",
                      "postAuthorizationResult": "ACCEPT"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "PaymentError",
                    "description": "The payment could not be created.",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "RequestValidationError",
                    "description": "Missing fields for payment.",
                    "recoverySuggestion": "When creating a payment `amount` must either be provided via the Client Session or the Payment request.",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/{id}/authorize": {
      "post": {
        "tags": ["Payments API"],
        "summary": "Authorize a payment",
        "description": "<p/>\n\nManually authorize a payment using a provided processor. This is useful if you want to authorize a payment without a workflow action.\nThe processor merchant ID must be provided which can be found on the [Integrations page](https://dashboard.primer.io/integrations).\nThe processor name is optional but it must be provided if your account has multiple processors configured which share the same merchant IDs.\n",
        "operationId": "authorize_payment_payments__id__authorize_post",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Payment ID", "type": "string" },
            "name": "id",
            "description": "ID of the payment to authorize.",
            "in": "path"
          },
          {
            "required": false,
            "schema": { "title": "X-Idempotency-Key", "type": "string" },
            "name": "X-Idempotency-Key",
            "description": "Optional key to make the request idempotent. Learn more in the [Idempotency Key guide](../docs#idempotency-key).",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentAuthorizationAPIRequest"
              },
              "example": {
                "processor": { "processorMerchantId": "acct_myprocessor_1234" }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentAPIResponse" },
                "example": {
                  "id": "kHdEw9EG",
                  "date": "2021-02-21T15:36:16.367687",
                  "status": "AUTHORIZED",
                  "orderId": "order-abc",
                  "customerId": "customer-123",
                  "currencyCode": "EUR",
                  "amount": 42,
                  "paymentMethod": {
                    "paymentType": "SUBSCRIPTION",
                    "paymentMethodToken": "heNwnqaeRiqvY1UcslfQc3wxNjEzOTIxNjc4",
                    "isVaulted": true,
                    "authorizationType": "FINAL",
                    "descriptor": "Purchase: Socks",
                    "analyticsId": "VtkMDAxZW5isH0HsbbNxZ3lo",
                    "paymentMethodType": "PAYMENT_CARD",
                    "paymentMethodData": {
                      "first6Digits": "411111",
                      "last4Digits": "1111",
                      "expirationMonth": "12",
                      "expirationYear": "2030",
                      "cardholderName": "John Biggins",
                      "network": "Visa",
                      "isNetworkTokenized": false,
                      "binData": {
                        "network": "VISA",
                        "regionalRestriction": "UNKNOWN",
                        "accountNumberType": "UNKNOWN",
                        "accountFundingType": "UNKNOWN",
                        "prepaidReloadableIndicator": "NOT_APPLICABLE",
                        "productUsageType": "UNKNOWN",
                        "productCode": "VISA",
                        "productName": "VISA"
                      }
                    }
                  },
                  "processor": {
                    "name": "MYPROCESSOR",
                    "processorMerchantId": "acct_myprocessor_1234",
                    "amountCaptured": 42,
                    "amountRefunded": 0
                  },
                  "customer": { "email": "customer123@gmail.com" },
                  "metadata": { "productId": 123, "merchantId": "a13bsd62s" },
                  "transactions": [
                    {
                      "type": "SALE",
                      "processorStatus": "AUTHORIZED",
                      "processorName": "MYPROCESSOR",
                      "processorMerchantId": "acct_myprocessor_1234",
                      "processorTransactionId": "54c4eb5b3ef8a"
                    }
                  ],
                  "riskData": {
                    "fraudCheck": {
                      "source": "FRAUD_PROVIDER",
                      "preAuthorizationResult": "THREE_DS",
                      "postAuthorizationResult": "ACCEPT"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "examples": {
                  "PaymentAlreadyAuthorized": {
                    "value": {
                      "error": {
                        "errorId": "PaymentAlreadyAuthorized",
                        "description": "The payment has already been authorized",
                        "diagnosticsId": "1234567898"
                      }
                    }
                  },
                  "InvalidPaymentStatus": {
                    "value": {
                      "error": {
                        "errorId": "InvalidPaymentStatus",
                        "description": "A settled payment cannot be authorized",
                        "diagnosticsId": "1234567898"
                      }
                    }
                  },
                  "MerchantAccountNotFound": {
                    "value": {
                      "error": {
                        "errorId": "MerchantAccountNotFound",
                        "description": "The merchant account could not be found",
                        "diagnosticsId": "1234567898"
                      }
                    }
                  },
                  "MerchantAccountConflict": {
                    "value": {
                      "error": {
                        "errorId": "MerchantAccountConflict",
                        "description": "More than one merchant account was found for the provided processor merchant ID",
                        "diagnosticsId": "1234567898"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "PaymentNotFoundError",
                    "description": "The payment could not be found",
                    "diagnosticsId": "1234567898",
                    "validationErrors": []
                  }
                }
              }
            }
          },
          "409": {
            "description": "Idempotency key already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "IdempotencyKeyAlreadyExists",
                    "description": "The idempotency key \"1234567898\" already exists for transaction",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "RequestValidationError",
                    "description": "We were unable to validate your request, please check your payload against https://primer.io/docs/api",
                    "diagnosticsId": "1234567898",
                    "validationErrors": [
                      {
                        "model": "PaymentAuthorizationAPIRequest",
                        "errors": [
                          {
                            "path": "$.processor.processorMerchantId",
                            "description": "Value must be a valid string"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/{id}/capture": {
      "post": {
        "tags": ["Payments API"],
        "summary": "Capture a payment",
        "description": "<p/>\n\nIf you have successfully authorized a payment, you can now\nfully capture, or partially capture funds from the authorized payment, depending\non whether your selected payment processor supports it. The payment will\nbe updated to `SETTLED` or `SETTLING`, depending on the payment method type.\n\nThe payload sent in this capture request is completely optional. If you don't\nsend a payload with the capture request, the full amount that was authorized\nwill be sent for capture. Below are the available payload attributes, which\ngive you more granular control when capturing funds, if you require it.\n",
        "operationId": "capture_payment_payments__id__capture_post",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Payment ID", "type": "string" },
            "name": "id",
            "description": "ID of the payment to capture.",
            "in": "path"
          },
          {
            "required": false,
            "schema": { "title": "X-Idempotency-Key", "type": "string" },
            "name": "X-Idempotency-Key",
            "description": "Optional key to make the request idempotent. Learn more in the [Idempotency Key guide](../docs#idempotency-key).",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentCaptureAPIRequest",
                "title": "Data",
                "default": { "final": true }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentAPIResponse" },
                "example": {
                  "id": "kHdEw9EG",
                  "date": "2021-02-21T15:36:16.367687",
                  "status": "SETTLED",
                  "orderId": "order-abc",
                  "customerId": "customer-123",
                  "currencyCode": "EUR",
                  "amount": 42,
                  "paymentMethod": {
                    "paymentType": "SUBSCRIPTION",
                    "paymentMethodToken": "heNwnqaeRiqvY1UcslfQc3wxNjEzOTIxNjc4",
                    "isVaulted": true,
                    "authorizationType": "FINAL",
                    "descriptor": "Purchase: Socks",
                    "analyticsId": "VtkMDAxZW5isH0HsbbNxZ3lo",
                    "paymentMethodType": "PAYMENT_CARD",
                    "paymentMethodData": {
                      "first6Digits": "411111",
                      "last4Digits": "1111",
                      "expirationMonth": "12",
                      "expirationYear": "2030",
                      "cardholderName": "John Biggins",
                      "network": "Visa",
                      "isNetworkTokenized": false,
                      "binData": {
                        "network": "VISA",
                        "regionalRestriction": "UNKNOWN",
                        "accountNumberType": "UNKNOWN",
                        "accountFundingType": "UNKNOWN",
                        "prepaidReloadableIndicator": "NOT_APPLICABLE",
                        "productUsageType": "UNKNOWN",
                        "productCode": "VISA",
                        "productName": "VISA"
                      }
                    }
                  },
                  "processor": {
                    "name": "STRIPE",
                    "processorMerchantId": "acct_stripe_1234",
                    "amountCaptured": 42,
                    "amountRefunded": 0
                  },
                  "transactions": [
                    {
                      "type": "SALE",
                      "processorStatus": "SETTLED",
                      "processorName": "STRIPE",
                      "processorMerchantId": "acct_stripe_1234",
                      "processorTransactionId": "54c4eb5b3ef8a"
                    }
                  ],
                  "customer": { "email": "customer123@gmail.com" },
                  "metadata": { "productId": 123, "merchantId": "a13bsd62s" },
                  "riskData": {
                    "fraudCheck": {
                      "source": "FRAUD_PROVIDER",
                      "preAuthorizationResult": "THREE_DS",
                      "postAuthorizationResult": "ACCEPT"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "PaymentError",
                    "description": "The payment could not be found",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "RequestValidationError",
                    "description": "We were unable to validate your request, please check your payload against https://primer.io/docs/api",
                    "diagnosticsId": "1234567898",
                    "validationErrors": [
                      {
                        "model": "PaymentCaptureAPIRequest",
                        "errors": [
                          {
                            "path": "$.amount",
                            "description": "Value must be a valid integer"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/{id}/cancel": {
      "post": {
        "tags": ["Payments API"],
        "summary": "Cancel a payment",
        "description": "<p/>\n\nProvided the payment has not reached `SETTLED` status, Primer will\nsend a \"void\" request to the payment processor, thereby cancelling the payment\nand releasing the hold on customer funds. Upon success, the payment will transition\nto `CANCELLED`. The payload is optional.\n",
        "operationId": "cancel_payment_payments__id__cancel_post",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Payment ID", "type": "string" },
            "name": "id",
            "description": "ID of payment to cancel.",
            "in": "path"
          },
          {
            "required": false,
            "schema": { "title": "X-Idempotency-Key", "type": "string" },
            "name": "X-Idempotency-Key",
            "description": "Optional key to make the request idempotent. Learn more in the [Idempotency Key guide](../docs#idempotency-key).",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentCancelAPIRequest",
                "title": "Data",
                "default": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentAPIResponse" },
                "example": {
                  "id": "kHdEw9EG",
                  "date": "2021-02-21T15:36:16.367687",
                  "status": "CANCELLED",
                  "orderId": "order-abc",
                  "customerId": "customer-123",
                  "currencyCode": "EUR",
                  "amount": 42,
                  "paymentMethod": {
                    "paymentType": "SUBSCRIPTION",
                    "paymentMethodToken": "heNwnqaeRiqvY1UcslfQc3wxNjEzOTIxNjc4",
                    "isVaulted": true,
                    "authorizationType": "FINAL",
                    "descriptor": "Purchase: Socks",
                    "analyticsId": "VtkMDAxZW5isH0HsbbNxZ3lo",
                    "paymentMethodType": "PAYMENT_CARD",
                    "paymentMethodData": {
                      "first6Digits": "411111",
                      "last4Digits": "1111",
                      "expirationMonth": "12",
                      "expirationYear": "2030",
                      "cardholderName": "John Biggins",
                      "network": "Visa",
                      "isNetworkTokenized": false,
                      "binData": {
                        "network": "VISA",
                        "regionalRestriction": "UNKNOWN",
                        "accountNumberType": "UNKNOWN",
                        "accountFundingType": "UNKNOWN",
                        "prepaidReloadableIndicator": "NOT_APPLICABLE",
                        "productUsageType": "UNKNOWN",
                        "productCode": "VISA",
                        "productName": "VISA"
                      }
                    }
                  },
                  "processor": {
                    "name": "STRIPE",
                    "processorMerchantId": "acct_stripe_1234",
                    "amountCaptured": 0,
                    "amountRefunded": 0
                  },
                  "transactions": [
                    {
                      "type": "SALE",
                      "processorStatus": "CANCELLED",
                      "processorName": "STRIPE",
                      "processorMerchantId": "acct_stripe_1234",
                      "processorTransactionId": "54c4eb5b3ef8a"
                    }
                  ],
                  "customer": { "email": "customer123@gmail.com" },
                  "metadata": { "productId": 123, "merchantId": "a13bsd62s" },
                  "riskData": {
                    "fraudCheck": {
                      "source": "FRAUD_PROVIDER",
                      "preAuthorizationResult": "THREE_DS",
                      "postAuthorizationResult": "ACCEPT"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "PaymentError",
                    "description": "The payment could not be found",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/{id}/refund": {
      "post": {
        "tags": ["Payments API"],
        "summary": "Refund a payment",
        "description": "<p/>\n\nBy default, this request will refund the full amount.\n\nOptionally, pass in a lesser amount for a partial refund.\n",
        "operationId": "refund_payment_payments__id__refund_post",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Payment ID", "type": "string" },
            "name": "id",
            "description": "ID of payment to refund.",
            "in": "path"
          },
          {
            "required": false,
            "schema": { "title": "X-Idempotency-Key", "type": "string" },
            "name": "X-Idempotency-Key",
            "description": "Optional key to make the request idempotent. Learn more in the [Idempotency Key guide](../docs#idempotency-key).",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRefundAPIRequest",
                "title": "Data",
                "default": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentAPIResponse" },
                "example": {
                  "id": "kHdEw9EG",
                  "date": "2021-02-21T15:36:16.367687",
                  "status": "SETTLED",
                  "orderId": "order-abc",
                  "customerId": "customer-123",
                  "currencyCode": "EUR",
                  "amount": 42,
                  "paymentMethod": {
                    "paymentType": "SUBSCRIPTION",
                    "paymentMethodToken": "heNwnqaeRiqvY1UcslfQc3wxNjEzOTIxNjc4",
                    "isVaulted": true,
                    "authorizationType": "FINAL",
                    "descriptor": "Purchase: Socks",
                    "analyticsId": "VtkMDAxZW5isH0HsbbNxZ3lo",
                    "paymentMethodType": "PAYMENT_CARD",
                    "paymentMethodData": {
                      "first6Digits": "411111",
                      "last4Digits": "1111",
                      "expirationMonth": "12",
                      "expirationYear": "2030",
                      "cardholderName": "John Biggins",
                      "network": "Visa",
                      "isNetworkTokenized": false,
                      "binData": {
                        "network": "VISA",
                        "regionalRestriction": "UNKNOWN",
                        "accountNumberType": "UNKNOWN",
                        "accountFundingType": "UNKNOWN",
                        "prepaidReloadableIndicator": "NOT_APPLICABLE",
                        "productUsageType": "UNKNOWN",
                        "productCode": "VISA",
                        "productName": "VISA"
                      }
                    }
                  },
                  "processor": {
                    "name": "STRIPE",
                    "processorMerchantId": "acct_stripe_1234",
                    "amountCaptured": 42,
                    "amountRefunded": 42
                  },
                  "transactions": [
                    {
                      "type": "SALE",
                      "processorStatus": "SETTLED",
                      "processorName": "STRIPE",
                      "processorMerchantId": "acct_stripe_1234",
                      "processorTransactionId": "54c4eb5b3ef8a"
                    },
                    {
                      "type": "REFUND",
                      "processorStatus": "SETTLED",
                      "processorName": "STRIPE",
                      "processorMerchantId": "acct_stripe_1234",
                      "processorTransactionId": "54c4eb5b3ef8a"
                    }
                  ],
                  "customer": { "email": "customer123@gmail.com" },
                  "metadata": { "productId": 123, "merchantId": "a13bsd62s" },
                  "riskData": {
                    "fraudCheck": {
                      "source": "FRAUD_PROVIDER",
                      "preAuthorizationResult": "THREE_DS",
                      "postAuthorizationResult": "ACCEPT"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "PaymentError",
                    "description": "The payment could not be found",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "RequestValidationError",
                    "description": "We were unable to validate your request, please check your payload against https://primer.io/docs/api",
                    "diagnosticsId": "1234567898",
                    "validationErrors": [
                      {
                        "model": "PaymentCaptureAPIRequest",
                        "errors": [
                          {
                            "path": "$.amount",
                            "description": "Value must be a valid integer"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/{id}/resume": {
      "post": {
        "tags": ["Payments API"],
        "summary": "Resume a payment",
        "description": "<p/>\n\nResume a payment's workflow execution from a paused state. This\nis usually required when a Workflow was paused in order to get further information\nfrom the customer, or when waiting for an asynchronous response from a third\nparty connection.\n",
        "operationId": "resume_payment_payments__id__resume_post",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Payment ID", "type": "string" },
            "name": "id",
            "description": "ID of payment to resume.",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentResumeAPIRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentAPIResponse" },
                "example": {
                  "id": "kHdEw9EG",
                  "date": "2021-02-21T15:36:16.367687",
                  "status": "AUTHORIZED",
                  "orderId": "order-abc",
                  "customerId": "customer-123",
                  "currencyCode": "EUR",
                  "amount": 42,
                  "paymentMethod": {
                    "paymentType": "SUBSCRIPTION",
                    "paymentMethodToken": "heNwnqaeRiqvY1UcslfQc3wxNjEzOTIxNjc4",
                    "isVaulted": true,
                    "authorizationType": "FINAL",
                    "descriptor": "Purchase: Socks",
                    "analyticsId": "VtkMDAxZW5isH0HsbbNxZ3lo",
                    "paymentMethodType": "PAYMENT_CARD",
                    "paymentMethodData": {
                      "first6Digits": "411111",
                      "last4Digits": "1111",
                      "expirationMonth": "12",
                      "expirationYear": "2030",
                      "cardholderName": "John Biggins",
                      "network": "Visa",
                      "isNetworkTokenized": false,
                      "binData": {
                        "network": "VISA",
                        "regionalRestriction": "UNKNOWN",
                        "accountNumberType": "UNKNOWN",
                        "accountFundingType": "UNKNOWN",
                        "prepaidReloadableIndicator": "NOT_APPLICABLE",
                        "productUsageType": "UNKNOWN",
                        "productCode": "VISA",
                        "productName": "VISA"
                      }
                    }
                  },
                  "processor": {
                    "name": "STRIPE",
                    "processorMerchantId": "acct_stripe_1234",
                    "amountCaptured": 0,
                    "amountRefunded": 0
                  },
                  "transactions": [
                    {
                      "type": "SALE",
                      "processorStatus": "AUTHORIZED",
                      "processorName": "STRIPE",
                      "processorMerchantId": "acct_stripe_1234",
                      "processorTransactionId": "54c4eb5b3ef8a"
                    }
                  ],
                  "customer": { "email": "customer123@gmail.com" },
                  "metadata": { "productId": 123, "merchantId": "a13bsd62s" },
                  "riskData": {
                    "fraudCheck": {
                      "source": "FRAUD_PROVIDER",
                      "preAuthorizationResult": "THREE_DS",
                      "postAuthorizationResult": "ACCEPT"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "PaymentError",
                    "description": "The payment could not be found",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/{id}/adjust-authorization": {
      "post": {
        "tags": ["Payments API"],
        "summary": "Adjust authorized amount",
        "description": "<p/>\n\nAdjust authorized amount. This is only possible if `authorizationType` was set to \n`ESTIMATED` when the payment was created, and the mechanism is supported by the payment method.\n",
        "operationId": "adjust_authorization_payments__id__adjust_authorization_post",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Payment ID", "type": "string" },
            "name": "id",
            "description": "ID of payment for adjusting authorization.",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentAdjustAuthorizationAPIRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentAPIResponse" },
                "example": {
                  "id": "kHdEw9EG",
                  "date": "2021-02-21T15:36:16.367687",
                  "status": "AUTHORIZED",
                  "orderId": "order-abc",
                  "customerId": "customer-123",
                  "currencyCode": "EUR",
                  "amount": 42,
                  "paymentMethod": {
                    "paymentMethodToken": "heNwnqaeRiqvY1UcslfQc3wxNjEzOTIxNjc4",
                    "authorizationType": "ESTIMATED",
                    "isVaulted": true,
                    "descriptor": "Purchase: Socks",
                    "analyticsId": "VtkMDAxZW5isH0HsbbNxZ3lo",
                    "paymentMethodType": "PAYMENT_CARD",
                    "paymentMethodData": {
                      "first6Digits": "411111",
                      "last4Digits": "1111",
                      "expirationMonth": "12",
                      "expirationYear": "2030",
                      "cardholderName": "John Biggins",
                      "network": "Visa",
                      "isNetworkTokenized": false,
                      "binData": {
                        "network": "VISA",
                        "regionalRestriction": "UNKNOWN",
                        "accountNumberType": "UNKNOWN",
                        "accountFundingType": "UNKNOWN",
                        "prepaidReloadableIndicator": "NOT_APPLICABLE",
                        "productUsageType": "UNKNOWN",
                        "productCode": "VISA",
                        "productName": "VISA"
                      }
                    }
                  },
                  "processor": {
                    "name": "STRIPE",
                    "processorMerchantId": "acct_stripe_1234",
                    "amountCaptured": 0,
                    "amountRefunded": 0
                  },
                  "transactions": [
                    {
                      "type": "SALE",
                      "processorStatus": "AUTHORIZED",
                      "processorName": "STRIPE",
                      "processorMerchantId": "acct_stripe_1234",
                      "processorTransactionId": "54c4eb5b3ef8a"
                    }
                  ],
                  "customer": { "email": "customer123@gmail.com" },
                  "metadata": { "productId": 123, "merchantId": "a13bsd62s" },
                  "riskData": {
                    "fraudCheck": {
                      "source": "FRAUD_PROVIDER",
                      "preAuthorizationResult": "THREE_DS",
                      "postAuthorizationResult": "ACCEPT"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "examples": {
                  "IncorrectPaymentAuthorizationType": {
                    "summary": "Incorrect authorization type",
                    "value": {
                      "error": {
                        "errorId": "IncorrectPaymentAuthorizationType",
                        "description": "Adjust authorization is only allowed on payments where authorizationType is set to estimated and not final.",
                        "diagnosticsId": "1234567898"
                      }
                    }
                  },
                  "PaymentIsNotAuthorized": {
                    "summary": "Payment is not authorized",
                    "value": {
                      "error": {
                        "errorId": "PaymentIsNotAuthorizedYet",
                        "description": "Adjust Authorization is only allowed on authorized payments.",
                        "diagnosticsId": "1234567898"
                      }
                    }
                  },
                  "AdjustAuthorizationNonCardPayment": {
                    "summary": "Adjust Authorization with non-card payment",
                    "value": {
                      "error": {
                        "errorId": "AdjustAuthorizationNonCardPayment",
                        "description": "Adjust Authorization is only available on card payments.",
                        "diagnosticsId": "1234567898"
                      }
                    }
                  },
                  "AdjustAuthorizationNotSupported": {
                    "summary": "Processor doesn't support authorization adjust",
                    "value": {
                      "error": {
                        "errorId": "AdjustAuthorizationNotSupported",
                        "description": "Adjust Authorization for processor X is not supported.",
                        "diagnosticsId": "1234567898"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "EntityNotFound",
                    "description": "No matching Payment could be found.",
                    "diagnosticsId": "1234567898",
                    "validationErrors": []
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{id}": {
      "get": {
        "tags": ["Payments API"],
        "summary": "Get a payment",
        "description": "<p/>\n\nRetrieve a payment by its ID.\n",
        "operationId": "get_payment_by_id_payments__id__get",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Payment ID", "type": "string" },
            "name": "id",
            "description": "ID of payment to retrieve.",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentAPIResponse" },
                "example": {
                  "id": "kHdEw9EG",
                  "date": "2021-02-21T15:36:16.367687",
                  "status": "AUTHORIZED",
                  "orderId": "order-abc",
                  "customerId": "customer-123",
                  "currencyCode": "EUR",
                  "amount": 42,
                  "paymentMethod": {
                    "paymentType": "SUBSCRIPTION",
                    "paymentMethodToken": "heNwnqaeRiqvY1UcslfQc3wxNjEzOTIxNjc4",
                    "isVaulted": true,
                    "authorizationType": "FINAL",
                    "descriptor": "Purchase: Socks",
                    "analyticsId": "VtkMDAxZW5isH0HsbbNxZ3lo",
                    "paymentMethodType": "PAYMENT_CARD",
                    "paymentMethodData": {
                      "first6Digits": "411111",
                      "last4Digits": "1111",
                      "expirationMonth": "12",
                      "expirationYear": "2030",
                      "cardholderName": "John Biggins",
                      "network": "Visa",
                      "isNetworkTokenized": false,
                      "binData": {
                        "network": "VISA",
                        "regionalRestriction": "UNKNOWN",
                        "accountNumberType": "UNKNOWN",
                        "accountFundingType": "UNKNOWN",
                        "prepaidReloadableIndicator": "NOT_APPLICABLE",
                        "productUsageType": "UNKNOWN",
                        "productCode": "VISA",
                        "productName": "VISA"
                      }
                    }
                  },
                  "processor": {
                    "name": "STRIPE",
                    "processorMerchantId": "acct_stripe_1234",
                    "amountCaptured": 0,
                    "amountRefunded": 0
                  },
                  "transactions": [
                    {
                      "type": "SALE",
                      "processorStatus": "AUTHORIZED",
                      "processorName": "STRIPE",
                      "processorMerchantId": "acct_stripe_1234",
                      "processorTransactionId": "54c4eb5b3ef8a"
                    }
                  ],
                  "customer": { "email": "customer123@gmail.com" },
                  "metadata": { "productId": 123, "merchantId": "a13bsd62s" }
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "PaymentError",
                    "description": "The payment could not be found",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payment-instruments/{paymentMethodToken}/vault": {
      "post": {
        "tags": ["Payment Methods API"],
        "summary": "Save a payment method token",
        "description": "<p/>\n\nSave a `SINGLE_USE` payment method token so it can be used\nagain later. You can optionally choose to verify the payment method\nbefore vaulting. If verification fails, no payment method data will\nbe vaulted. Verification can minimise fraud and boost subscription\nrates for recurring payments.\n\nIf you try to vault an already vaulted token, you will get the existing vaulted token back.\n",
        "operationId": "vault_payment_method_payment_methods__token__vault_post",
        "parameters": [
          {
            "description": "Payment method token to store.",
            "required": true,
            "schema": {
              "title": "Payment Method Token",
              "type": "string",
              "description": "Payment method token"
            },
            "name": "paymentMethodToken",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VaultPaymentMethodAPIRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifiedMerchantPaymentMethodTokenAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "FailedVerification",
                    "description": "Payment method could not be verified",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "RequestValidationError",
                    "description": "We were unable to validate your request, please check your payload against https://primer.io/docs/api",
                    "diagnosticsId": "1234567898",
                    "validationErrors": [
                      {
                        "model": "VaultPaymentInstrumentAPIRequest",
                        "errors": [
                          {
                            "path": "$.customerId",
                            "description": "Ensure this value has at least 1 characters"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payment-instruments": {
      "get": {
        "tags": ["Payment Methods API"],
        "summary": "List saved payment methods",
        "description": "Retrieve a list of stored payment methods for a customer.",
        "operationId": "get_payment_methods_payment_methods_get",
        "parameters": [
          {
            "description": "Return payment methods for this customer ID.",
            "required": true,
            "schema": {
              "title": "Customer ID",
              "type": "string",
              "description": "Return payment methods for this customer ID."
            },
            "name": "customer_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifiedMerchantPaymentMethodTokenListAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment-instruments/{paymentMethodToken}": {
      "delete": {
        "tags": ["Payment Methods API"],
        "summary": "Delete a saved payment method",
        "description": "Delete a saved payment method.",
        "operationId": "delete_payment_method_payment_methods__token__delete",
        "parameters": [
          {
            "description": "Saved payment method token to delete.",
            "required": true,
            "schema": {
              "title": "Payment Method Token",
              "type": "string",
              "description": "Payment method token"
            },
            "name": "paymentMethodToken",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifiedMerchantPaymentMethodTokenAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "InvalidPaymentInstrumentToken",
                    "description": "Invalid payment instrument.",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payment-instruments/{paymentMethodToken}/default": {
      "post": {
        "tags": ["Payment Methods API"],
        "summary": "Update the default saved payment method",
        "description": "Update a saved payment method to be the default stored payment method for a customer.",
        "operationId": "set_payment_method_default_payment_methods__token__default_post",
        "parameters": [
          {
            "description": "Saved payment method token to set to default.",
            "required": true,
            "schema": {
              "title": "Token",
              "type": "string",
              "description": "Payment method token"
            },
            "name": "paymentMethodToken",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantPaymentMethodTokenAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "InvalidPaymentInstrumentToken",
                    "description": "Invalid payment instrument.",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/observability/payments": {
      "post": {
        "summary": "Create an external payment",
        "operationId": "external_payment",
        "description": "The Observability API is currently in beta. Please contact [support@primer.io](mailto:support@primer.io) for access.\n\nCreating a payment with the Observability API sends external payments data to Primer to populate [Observability Payment Insights dashboards](https://primer.io/observability). Payments created through the [Payments API](/reference/create_payment_payments_post) will be automatically populated and do not need to be sent in the Observability API.\n\nCreate an API key with the `observability-payments:write` scope.\n\nEach record must be created with a unique `paymentId`. To update a payment record with new data use the `PATCH` endpoint.\n",
        "tags": ["Observability API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsInsightsPayment"
              },
              "examples": {
                "CreatePaymentExample": {
                  "value": {
                    "paymentId": "IHQlakKC",
                    "currencyCode": "EUR",
                    "amount": 700,
                    "createdAt": "2022-12-22T17:27:08Z",
                    "processor": {
                      "name": "STRIPE",
                      "merchantId": "processor-merchant-id-1"
                    },
                    "status": "DECLINED",
                    "statusReason": {
                      "type": "APPLICATION_ERROR",
                      "declineType": "HARD_DECLINE",
                      "code": "EXPIRED_CARD"
                    },
                    "metadata": { "key-123": "value-123" },
                    "paymentType": "FIRST_PAYMENT",
                    "order": { "id": "order-abc", "countryCode": "GB" },
                    "descriptor": "Authorized ticket charge",
                    "paymentMethod": {
                      "paymentMethodType": "PAYMENT_CARD",
                      "threeDSecureAuthentication": {
                        "transStatus": "A",
                        "transStatusReason": "01",
                        "responseCode": "NOT_PERFORMED",
                        "eci": "02",
                        "challengeIssued": false,
                        "protocolVersion": "2.1.0",
                        "reasonCode": "NOT_SUPPORTED_BY_ISSUER",
                        "reasonText": "Access Not Authorized"
                      },
                      "data": {
                        "first6Digits": "220073",
                        "binData": {
                          "network": "VISA",
                          "issuerCountryCode": "GB",
                          "issuerName": "121 FINANCIAL CREDIT UNION",
                          "productUsageType": "BUSINESS",
                          "accountFundingType": "PREPAID"
                        }
                      }
                    }
                  },
                  "summary": "Create payment example"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsInsightsPayment"
                },
                "examples": {
                  "CreatePaymentExample": {
                    "value": {
                      "paymentId": "IHQlakKC",
                      "currencyCode": "EUR",
                      "amount": 700,
                      "createdAt": "2022-12-22T17:27:08Z",
                      "processor": {
                        "name": "STRIPE",
                        "merchantId": "processor-merchant-id-1"
                      },
                      "status": "DECLINED",
                      "statusReason": {
                        "type": "APPLICATION_ERROR",
                        "declineType": "HARD_DECLINE",
                        "code": "EXPIRED_CARD"
                      },
                      "metadata": { "key-123": "value-123" },
                      "paymentType": "FIRST_PAYMENT",
                      "order": { "id": "order-abc", "countryCode": "GB" },
                      "descriptor": "Authorized ticket charge",
                      "paymentMethod": {
                        "paymentMethodType": "PAYMENT_CARD",
                        "threeDSecureAuthentication": {
                          "transStatus": "A",
                          "transStatusReason": "01",
                          "responseCode": "NOT_PERFORMED",
                          "eci": "02",
                          "challengeIssued": false,
                          "protocolVersion": "2.1.0",
                          "reasonCode": "NOT_SUPPORTED_BY_ISSUER",
                          "reasonText": "Access Not Authorized"
                        },
                        "data": {
                          "first6Digits": "220073",
                          "binData": {
                            "network": "VISA",
                            "issuerCountryCode": "GB",
                            "issuerName": "121 FINANCIAL CREDIT UNION",
                            "productUsageType": "BUSINESS",
                            "accountFundingType": "PREPAID"
                          }
                        }
                      }
                    },
                    "summary": "Create payment example"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/observability/payments/{paymentId}": {
      "patch": {
        "summary": "Update an external payment",
        "operationId": "external_payment_update",
        "description": "The Observability API is currently in beta. Please contact [support@primer.io](mailto:support@primer.io) for access.\n\nYou can update payments created earlier through the Observability API with this endpoint. The only required field for the request is `paymentId`. Other supported request fields are the same as for the [create an external payment](/reference/external_payment) API call.\n\nIf you wish to update nested fields on the payment, you only need to pass the fields that you wish to update. For example to update the processor name, you would pass in `processor.name` only.\n\nThe response will contain all the fields of the payment including the ones that were changed.\n",
        "parameters": [
          {
            "in": "path",
            "name": "paymentId",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "tags": ["Observability API"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsInsightsPatchedPayment"
              },
              "examples": {
                "CreatePaymentExample": {
                  "value": {
                    "paymentId": "IHQlakKC",
                    "currencyCode": "EUR",
                    "amount": 700,
                    "createdAt": "2022-12-22T17:27:08Z",
                    "processor": {
                      "name": "STRIPE",
                      "merchantId": "processor-merchant-id-1"
                    },
                    "status": "DECLINED",
                    "statusReason": {
                      "type": "APPLICATION_ERROR",
                      "declineType": "HARD_DECLINE",
                      "code": "EXPIRED_CARD"
                    },
                    "metadata": { "key-123": "value-123" },
                    "paymentType": "FIRST_PAYMENT",
                    "order": { "id": "order-abc", "countryCode": "GB" },
                    "descriptor": "Authorized ticket charge",
                    "paymentMethod": {
                      "paymentMethodType": "PAYMENT_CARD",
                      "threeDSecureAuthentication": {
                        "transStatus": "A",
                        "transStatusReason": "01",
                        "responseCode": "NOT_PERFORMED",
                        "eci": "02",
                        "challengeIssued": false,
                        "protocolVersion": "2.1.0",
                        "reasonCode": "NOT_SUPPORTED_BY_ISSUER",
                        "reasonText": "Access Not Authorized"
                      },
                      "data": {
                        "first6Digits": "220073",
                        "binData": {
                          "network": "VISA",
                          "issuerCountryCode": "GB",
                          "issuerName": "121 FINANCIAL CREDIT UNION",
                          "productUsageType": "BUSINESS",
                          "accountFundingType": "PREPAID"
                        }
                      }
                    }
                  },
                  "summary": "Create payment example"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsInsightsPayment"
                },
                "examples": {
                  "CreatePaymentExample": {
                    "value": {
                      "paymentId": "IHQlakKC",
                      "currencyCode": "EUR",
                      "amount": 700,
                      "createdAt": "2022-12-22T17:27:08Z",
                      "processor": {
                        "name": "STRIPE",
                        "merchantId": "processor-merchant-id-1"
                      },
                      "status": "DECLINED",
                      "statusReason": {
                        "type": "APPLICATION_ERROR",
                        "declineType": "HARD_DECLINE",
                        "code": "EXPIRED_CARD"
                      },
                      "metadata": { "key-123": "value-123" },
                      "paymentType": "FIRST_PAYMENT",
                      "order": { "id": "order-abc", "countryCode": "GB" },
                      "descriptor": "Authorized ticket charge",
                      "paymentMethod": {
                        "paymentMethodType": "PAYMENT_CARD",
                        "threeDSecureAuthentication": {
                          "transStatus": "A",
                          "transStatusReason": "01",
                          "responseCode": "NOT_PERFORMED",
                          "eci": "02",
                          "challengeIssued": false,
                          "protocolVersion": "2.1.0",
                          "reasonCode": "NOT_SUPPORTED_BY_ISSUER",
                          "reasonText": "Access Not Authorized"
                        },
                        "data": {
                          "first6Digits": "220073",
                          "binData": {
                            "network": "VISA",
                            "issuerCountryCode": "GB",
                            "issuerName": "121 FINANCIAL CREDIT UNION",
                            "productUsageType": "BUSINESS",
                            "accountFundingType": "PREPAID"
                          }
                        }
                      }
                    },
                    "summary": "Create payment example"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/loyalty-customers/{id}": {
      "get": {
        "tags": ["Loyalty API"],
        "summary": "Get a loyalty customer's points balance",
        "description": "The Loyalty API is currently in beta.\nPlease contact [support@primer.io](mailto:support@primer.io) for access.\n\nCreate an API key with the `loyalty-transactions:read` scopes.\n\nGet a loyalty customer by ID and connection ID. This includes the customer's points balance.\n\nThe `connectionId` is the unique Primer identifier for your loyalty provider connection. Primer will provide this once the loyalty provider connection is created.\n\nThe `customerId` refers to the customer identifier on the loyalty provider's side.\n",
        "operationId": "get_loyalty_customer",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Connection ID", "type": "string" },
            "name": "connectionId",
            "description": "ID of the Primer connection configuration.",
            "in": "query"
          },
          {
            "required": true,
            "schema": { "title": "Loyalty Customer ID", "type": "string" },
            "name": "id",
            "description": "The unique identifier for the customer on the loyalty provider.",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoyaltyAPIBalanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "ConnectionNotFound",
                    "description": "The provided connection ID doesn't exist.",
                    "recoverySuggestion": "Please provide a valid connection ID.",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/loyalty-transactions": {
      "post": {
        "tags": ["Loyalty API"],
        "summary": "Create a loyalty transaction",
        "description": "The Loyalty API is currently in beta.\nPlease contact [support@primer.io](mailto:support@primer.io) for access.\n\nCreate an API key with the `loyalty-transactions:write` scopes.\n\nCreate a loyalty transaction. This is either a points redemption or a points refund.\n",
        "operationId": "post_loyalty_transaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoyaltyAPITransactionRequest",
                "title": "Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoyaltyAPITransactionResponse"
                },
                "example": {
                  "date": "2023-01-01",
                  "id": "t101",
                  "connectionId": "waon-123",
                  "orderId": "order-123",
                  "customerId": "waon-customer-123",
                  "connectionTransactionId": "waonTx1",
                  "connectionName": "WOAN",
                  "type": "REDEMPTION",
                  "value": 200
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "ConnectionNotFound",
                    "description": "The provided connection ID doesn't exist.",
                    "recoverySuggestion": "Please provide a valid connection ID.",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "RequestValidationError",
                    "description": "We were unable to validate your request, please check your payload against https://primer.io/docs/api",
                    "diagnosticsId": "1234567898",
                    "validationErrors": [
                      {
                        "model": "RedeemAPIRequest",
                        "errors": [
                          {
                            "path": "$.order_id",
                            "description": "Value must be a valid string"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Loyalty API"],
        "summary": "List the transactions for a customer",
        "description": "The Loyalty API is currently in beta.\nPlease contact [support@primer.io](mailto:support@primer.io) for access.\n\nCreate an API key with the `loyalty-transactions:read` scopes.\n\nGet all your loyalty transactions. You can filter by `connectionId` (recommended) and by `customerId` and `orderId`.\n\nAdditionally provide a `limit` to restrict the number of transactions in the response, and an `offset` to determine where to start.\n",
        "operationId": "get_loyalty_customer_transactions",
        "parameters": [
          {
            "description": "Filter transactions by customer Id.",
            "required": false,
            "schema": { "title": "Connection ID", "type": "string" },
            "name": "connectionId",
            "in": "query"
          },
          {
            "description": "Filter transactions by customer Id.",
            "required": false,
            "schema": { "title": "Loyalty Customer ID", "type": "string" },
            "name": "customerId",
            "in": "query"
          },
          {
            "description": "Filter transactions by orderId.",
            "required": false,
            "schema": { "title": "Order ID", "type": "string" },
            "name": "orderId",
            "in": "query"
          },
          {
            "description": "Limit the number of returned results",
            "required": false,
            "schema": { "title": "Limit", "type": "integer", "default": 50 },
            "name": "limit",
            "in": "query",
            "example": 10
          },
          {
            "description": "The number of items to skip before returning results",
            "required": false,
            "schema": { "title": "Offset", "type": "integer", "default": 0 },
            "name": "offset",
            "in": "query",
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoyaltyAPITransactionsListResponse"
                },
                "example": {
                  "items": [
                    {
                      "id": "t101",
                      "date": "2023-01-01T12:00:00.00000",
                      "connectionId": "waon-123",
                      "customerId": "waon-customer-123",
                      "orderId": "order-123",
                      "connectionName": "WOAN",
                      "connectionTransactionId": "waonTx1",
                      "type": "REDEMPTION",
                      "value": 200
                    },
                    {
                      "id": "t102",
                      "date": "2023-01-02T12:00:00.00000",
                      "connectionId": "waon-123",
                      "customerId": "waon-customer-123",
                      "orderId": "order-123",
                      "connectionName": "WOAN",
                      "connectionTransactionId": "waonTx1",
                      "type": "REDEMPTION",
                      "value": 200
                    }
                  ],
                  "total": 54,
                  "limit": 2,
                  "offset": 0
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "ConnectionNotFound",
                    "description": "The provided connection ID doesn't exist.",
                    "recoverySuggestion": "Please provide a valid connection ID.",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityErrorResponse"
                },
                "example": {
                  "error": {
                    "errorId": "RequestValidationError",
                    "description": "Invalid type for `orderId`",
                    "recoverySuggestion": "OrderID must be a valid string",
                    "diagnosticsId": "1234567898"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": { "type": "apiKey", "in": "header", "name": "X-API-KEY" }
    },
    "schemas": {
      "AccountFundingTypeEnum": {
        "title": "AccountFundingTypeEnum",
        "enum": ["CREDIT", "DEBIT", "PREPAID", "CHARGE", "DEFERRED_DEBIT", "UNKNOWN"],
        "type": "string",
        "description": "An enumeration."
      },
      "ApayaCustomerTokenAPISchema": {
        "title": "ApayaCustomerTokenAPISchema",
        "required": ["mx"],
        "type": "object",
        "properties": {
          "mx": { "title": "Mx", "type": "string" },
          "mnc": { "title": "Mnc", "type": "integer" },
          "mcc": { "title": "Mcc", "type": "integer" }
        }
      },
      "BinDataAPISchema": {
        "title": "BinDataAPISchema",
        "required": [
          "network",
          "regionalRestriction",
          "accountNumberType",
          "accountFundingType",
          "prepaidReloadableIndicator",
          "productUsageType",
          "productCode",
          "productName"
        ],
        "type": "object",
        "properties": {
          "network": { "$ref": "#/components/schemas/CardNetworkEnum" },
          "issuerCountryCode": {
            "$ref": "#/components/schemas/CountryCodeEnum"
          },
          "issuerName": { "title": "Issuername", "type": "string" },
          "issuerCurrencyCode": { "$ref": "#/components/schemas/Currency" },
          "regionalRestriction": {
            "$ref": "#/components/schemas/CardRegionRestrictionEnum"
          },
          "accountNumberType": {
            "$ref": "#/components/schemas/CardAccountNumberTypeEnum"
          },
          "accountFundingType": {
            "$ref": "#/components/schemas/AccountFundingTypeEnum"
          },
          "prepaidReloadableIndicator": {
            "$ref": "#/components/schemas/PrepaidReloadableEnum"
          },
          "productUsageType": {
            "$ref": "#/components/schemas/CardProductTypeEnum"
          },
          "productCode": { "title": "Productcode", "type": "string" },
          "productName": { "title": "Productname", "type": "string" }
        }
      },
      "BlockingPaymentActionTypeEnum": {
        "title": "BlockingPaymentActionTypeEnum",
        "enum": ["3DS_AUTHENTICATION", "USE_PRIMER_SDK", "PAYMENT_METHOD_VOUCHER", "PROCESSOR_3DS"],
        "type": "string",
        "description": "An enumeration."
      },
      "CardAccountNumberTypeEnum": {
        "title": "CardAccountNumberTypeEnum",
        "enum": ["PRIMARY_ACCOUNT_NUMBER", "NETWORK_TOKEN", "UNKNOWN"],
        "type": "string",
        "description": "An enumeration."
      },
      "CardNetworkEnum": {
        "title": "CardNetworkEnum",
        "enum": [
          "AMEX",
          "DANKORT",
          "DINERS_CLUB",
          "DISCOVER",
          "ENROUTE",
          "ELO",
          "HIPER",
          "INTERAC",
          "JCB",
          "MAESTRO",
          "MASTERCARD",
          "MIR",
          "PRIVATE_LABEL",
          "UNIONPAY",
          "VISA",
          "OTHER"
        ],
        "type": "string",
        "description": "The list of available card networks.\n"
      },
      "CardProductTypeEnum": {
        "title": "CardProductTypeEnum",
        "enum": ["CONSUMER", "BUSINESS", "GOVERNMENT", "UNKNOWN"],
        "type": "string",
        "description": "An enumeration."
      },
      "CardRegionRestrictionEnum": {
        "title": "CardRegionRestrictionEnum",
        "enum": ["DOMESTIC_USE_ONLY", "NONE", "UNKNOWN"],
        "type": "string",
        "description": "An enumeration."
      },
      "ClientSessionUpdateAPIRequest": {
        "title": "ClientSessionUpdateAPIRequest",
        "type": "object",
        "properties": {
          "clientToken": {
            "title": "Client token",
            "type": "string",
            "description": "Client token for use in the Primer-JS SDK obtained via `POST` /client-session API call."
          },
          "customerId": {
            "title": "The ID of the customer using the checkout.",
            "type": "string",
            "description": "A unique identifier for your customer."
          },
          "orderId": {
            "title": "Order ID",
            "type": "string",
            "description": "Your reference for the order."
          },
          "currencyCode": {
            "title": "Currency",
            "type": "string",
[...]
