@layer components {
  .fern-sidebar-heading {
    @apply mb-1 flex min-h-[32px] lg:min-h-[36px];
    @apply inline-flex items-center px-4 lg:px-3;

    .fern-sidebar-heading-content {
      @apply m-0 text-base font-semibold leading-6 lg:text-sm lg:leading-5;
    }

    > svg {
      @apply mr-3 size-4 shrink-0;
      color: var(--color-grayscale-a9);
    }
  }

  .fern-sidebar-group {
    @apply list-none overflow-hidden;
    @apply max-lg:-mx-4;

    .fern-sidebar-group {
      @apply max-lg:mx-0;
    }
  }

  .fern-sidebar-item {
    @apply scroll-my-32;
  }

  .fern-sidebar-link-container {
    @apply relative flex min-h-[36px] items-stretch;
    @apply data-[state=active]:text-accent-a11;

    &:not(.top-level) {
      @apply data-[state=inactive]:text-grayscale-a11;
    }
  }

  .fern-sidebar-link-indent {
    @apply border-border-default relative w-4 flex-none shrink-0 border-l lg:w-3;
  }

  .fern-sidebar-icon {
    @apply my-0.5 mr-3 inline-flex items-center;
  }

  .fern-sidebar-icon > svg {
    @apply size-4;
  }

  .fern-sidebar-link-container[data-state="active"] {
    .fern-sidebar-link-indent::after {
      @apply border-accent-a7 absolute inset-y-1 -left-px border-l;

      content: "";
    }

    .fern-sidebar-icon {
      @apply text-accent-a10;
    }
  }

  .fern-sidebar-link-container[data-state="inactive"] {
    .fern-sidebar-icon {
      @apply text-faded;
    }
  }

  .fern-sidebar-link {
    @apply relative inline-flex flex-1 content-between items-stretch text-left max-lg:px-4 lg:px-3;
    @apply max-lg:rounded-none lg:rounded-lg;
    @apply overflow-hidden;
  }

  .fern-sidebar-link-container[data-state="active"] .fern-sidebar-link {
    @apply bg-accent-a5;
  }

  .fern-sidebar-link-container[data-state="inactive"] .fern-sidebar-link {
    @apply hover:bg-grayscale-a3;
  }

  .fern-sidebar-link-content {
    @apply inline-flex flex-1 items-center py-2.5 sm:py-2;

    &:has(.fern-sidebar-icon > .fern-tag) {
      @apply items-start;
    }
  }

  .fern-sidebar-link-text {
    @apply flex-1 text-base leading-6 lg:text-sm lg:leading-5;

    word-break: break-word;
  }

  .fern-sidebar-link,
  .fern-sidebar-link-expand {
    @apply transition-colors hover:transition-none;
  }

  .fern-sidebar-link-expand {
    @apply relative flex w-10 items-center justify-center rounded-none ease-out lg:w-6;
    @apply lg:rounded-lg;

    &:last-child {
      @apply -mr-3 ml-1 flex;
    }
  }

  .fern-sidebar-link-expand[data-state="active"] {
    @apply text-accent after:bg-tag-primary after:pointer-events-none after:absolute after:inset-1 after:rounded-xl after:content-[''] lg:after:rounded-md;
  }

  .fern-sidebar-tabs {
    @apply mb-6 mt-5 flex list-none flex-col;
  }

  .fern-sidebar-searchbar-container {
    @apply mb-3 hidden last:mb-0 lg:block;
  }

  .fern-sidebar-header {
    @apply h-header-height-real mx-3 hidden border-b border-transparent lg:flex lg:items-center lg:justify-between;
  }
}
