:root {
    --typography-body-font-family: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen, ubuntu, cantarell,
        open sans, helvetica neue, sans-serif;
    --typography-heading-font-family: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen, ubuntu, cantarell,
        open sans, helvetica neue, sans-serif;
    --typography-code-font-family: ui-monospace, sfmono-regular, menlo, monaco, consolas, liberation mono, courier new,
        monospace;
    --spacing-page-width: 1504px;
    --spacing-content-width: 44rem;
    --spacing-content-wide-width: 66.5rem;
    --spacing-sidebar-width: 18rem;
    --spacing-header-height: 7.9375rem;
    --spacing-header-height-padded: 99px;
    --spacing-header-height-real: 5.1875rem;
    --grayscale-a1: var(--sand-a1);
    --grayscale-a2: var(--sand-a2);
    --grayscale-a3: var(--sand-a3);
    --grayscale-a4: var(--sand-a4);
    --grayscale-a5: var(--sand-a5);
    --grayscale-a6: var(--sand-a6);
    --grayscale-a7: var(--sand-a7);
    --grayscale-a8: var(--sand-a8);
    --grayscale-a9: var(--sand-a9);
    --grayscale-a10: var(--sand-a10);
    --grayscale-a11: var(--sand-a11);
    --grayscale-a12: var(--sand-a12);
    --accent: 65, 131, 38;
    --accent-aa: 65, 131, 38;
    --accent-aaa: 49, 99, 29;
    --accent-tinted: 55, 111, 32;
    --background: 255, 255, 255;
    --accent-contrast: 255, 255, 255;
    --bg-color-card: rgba(255, 255, 255, 70%);
    --sidebar-background: transparent;
    --header-background: transparent;
    --border: var(--grayscale-a5);
    --border-concealed: var(--grayscale-a3);
    --body-text: 0, 0, 0;
}

@media (width <= 1024px) {
    :root {
        --spacing-header-height: 7.9375rem;
        --spacing-header-height-padded: 99px;
    }
}

:is(.dark) {
    --grayscale-a1: var(--olive-a1);
    --grayscale-a2: var(--olive-a2);
    --grayscale-a3: var(--olive-a3);
    --grayscale-a4: var(--olive-a4);
    --grayscale-a5: var(--olive-a5);
    --grayscale-a6: var(--olive-a6);
    --grayscale-a7: var(--olive-a7);
    --grayscale-a8: var(--olive-a8);
    --grayscale-a9: var(--olive-a9);
    --grayscale-a10: var(--olive-a10);
    --grayscale-a11: var(--olive-a11);
    --grayscale-a12: var(--olive-a12);
    --accent: 173, 255, 140;
    --accent-aa: 173, 255, 140;
    --accent-aaa: 173, 255, 140;
    --accent-tinted: 191, 255, 165;
    --background: 0, 0, 0;
    --accent-contrast: 0, 0, 0;
    --bg-color-card: var(--grayscale-a2);
    --sidebar-background: transparent;
    --header-background: transparent;
    --border: var(--grayscale-a5);
    --border-concealed: var(--grayscale-a3);
    --body-text: 255, 255, 255;
}

html {
    background-color: #fff;
}

html.dark {
    background-color: #000;
}
