@layer components {
  [data-branch]:has([data-curve]) {
    &:nth-last-child(2) {
      > [data-line] {
        display: none;
      }
    }

    + * {
      position: relative;
      z-index: 10;
    }
  }
}
