/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../../../environments";
import * as core from "../../../../../../../../core";
import * as FernRegistry from "../../../../../../../index";
import urlJoin from "url-join";

export declare namespace Register {
    interface Options {
        environment?: core.Supplier<environments.FernRegistryEnvironment | string>;
        token?: core.Supplier<core.BearerToken | undefined>;
    }

    interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

export class Register {
    constructor(protected readonly _options: Register.Options = {}) {}

    /**
     * @param {FernRegistry.api.v1.register.RegisterApiDefinitionRequest} request
     * @param {Register.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.api.v1.register.registerApiDefinition({
     *         orgId: FernRegistry.OrgId("orgId"),
     *         apiId: FernRegistry.ApiId("apiId"),
     *         definition: undefined,
     *         definitionV2: undefined,
     *         sources: undefined
     *     })
     */
    public async registerApiDefinition(
        request: FernRegistry.api.v1.register.RegisterApiDefinitionRequest,
        requestOptions?: Register.RequestOptions
    ): Promise<
        core.APIResponse<
            FernRegistry.api.v1.register.RegisterApiDefinitionResponse,
            FernRegistry.api.v1.register.registerApiDefinition.Error
        >
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.FernRegistryEnvironment.Prod,
                "/registry/api/register"
            ),
            method: "POST",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: _response.body as FernRegistry.api.v1.register.RegisterApiDefinitionResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as FernRegistry.api.v1.register.registerApiDefinition.Error)?.error) {
                case "UnauthorizedError":
                case "UserNotInOrgError":
                    return {
                        ok: false,
                        error: _response.error.body as FernRegistry.api.v1.register.registerApiDefinition.Error,
                    };
            }
        }

        return {
            ok: false,
            error: FernRegistry.api.v1.register.registerApiDefinition.Error._unknown(_response.error),
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
