/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../environments";
import * as core from "../../../../../../core";
import * as FernRegistry from "../../../../../index";
import urlJoin from "url-join";

export declare namespace Versions {
    interface Options {
        environment?: core.Supplier<environments.FernRegistryEnvironment | string>;
        token?: core.Supplier<core.BearerToken | undefined>;
    }

    interface RequestOptions {
        timeoutInSeconds?: number;
        maxRetries?: number;
        abortSignal?: AbortSignal;
    }
}

/**
 * CRUD API for managing generator versions.
 */
export class Versions {
    constructor(protected readonly _options: Versions.Options = {}) {}

    /**
     * Get the latest generator version that has not been yanked.
     *
     * @param {FernRegistry.generators.GetLatestGeneratorVersionRequest} request
     * @param {Versions.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await fernRegistry.generators.versions.getLatestGeneratorVersion({
     *         type: "string",
     *         retain_major_version: "string",
     *         release_type: FernRegistry.generators.ReleaseType.Ga
     *     })
     */
    public async getLatestGeneratorVersion(
        request: FernRegistry.generators.GetLatestGeneratorVersionRequest,
        requestOptions?: Versions.RequestOptions
    ): Promise<
        core.APIResponse<
            FernRegistry.generators.GeneratorRelease,
            FernRegistry.generators.versions.getLatestGeneratorVersion.Error
        >
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.FernRegistryEnvironment.Prod,
                "/generators/versions/latest"
            ),
            method: "POST",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
            },
            contentType: "application/json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: _response.body as FernRegistry.generators.GeneratorRelease,
            };
        }

        return {
            ok: false,
            error: FernRegistry.generators.versions.getLatestGeneratorVersion.Error._unknown(_response.error),
        };
    }

    /**
     * Get the changelog for the specified generator upgrade.
     *
     * @param {FernRegistry.generators.GeneratorId} generator
     * @param {string} fromVersion
     * @param {string} toVersion
     * @param {Versions.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await fernRegistry.generators.versions.getChangelog("string", "string", "string")
     */
    public async getChangelog(
        generator: FernRegistry.generators.GeneratorId,
        fromVersion: string,
        toVersion: string,
        requestOptions?: Versions.RequestOptions
    ): Promise<
        core.APIResponse<FernRegistry.generators.ChangelogEntry[], FernRegistry.generators.versions.getChangelog.Error>
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.FernRegistryEnvironment.Prod,
                `/generators/versions/${encodeURIComponent(generator)}/changelog/${encodeURIComponent(
                    fromVersion
                )}/to/${encodeURIComponent(toVersion)}`
            ),
            method: "GET",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
            },
            contentType: "application/json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: _response.body as FernRegistry.generators.ChangelogEntry[],
            };
        }

        return {
            ok: false,
            error: FernRegistry.generators.versions.getChangelog.Error._unknown(_response.error),
        };
    }

    /**
     * Update or create the specified generator version.
     *
     * @param {FernRegistry.generators.GeneratorReleaseRequest} request
     * @param {Versions.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await fernRegistry.generators.versions.upsertGeneratorRelease({
     *         generator_id: "string",
     *         ir_version: "string",
     *         migration: "string",
     *         custom_config_schema: "string",
     *         version: "string",
     *         is_yanked: {},
     *         changelog_entry: {},
     *         created_at: new Date("2024-01-15T09:30:00.000Z")
     *     })
     */
    public async upsertGeneratorRelease(
        request: FernRegistry.generators.GeneratorReleaseRequest,
        requestOptions?: Versions.RequestOptions
    ): Promise<core.APIResponse<void, FernRegistry.generators.versions.upsertGeneratorRelease.Error>> {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.FernRegistryEnvironment.Prod,
                "/generators/versions"
            ),
            method: "PUT",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
            },
            contentType: "application/json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: undefined,
            };
        }

        return {
            ok: false,
            error: FernRegistry.generators.versions.upsertGeneratorRelease.Error._unknown(_response.error),
        };
    }

    /**
     * Get the specified generator version.
     *
     * @param {FernRegistry.generators.GeneratorId} generator
     * @param {string} version
     * @param {Versions.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await fernRegistry.generators.versions.getGeneratorRelease("string", "string")
     */
    public async getGeneratorRelease(
        generator: FernRegistry.generators.GeneratorId,
        version: string,
        requestOptions?: Versions.RequestOptions
    ): Promise<
        core.APIResponse<
            FernRegistry.generators.GeneratorRelease,
            FernRegistry.generators.versions.getGeneratorRelease.Error
        >
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.FernRegistryEnvironment.Prod,
                `/generators/versions/${encodeURIComponent(generator)}/${encodeURIComponent(version)}`
            ),
            method: "GET",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
            },
            contentType: "application/json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: _response.body as FernRegistry.generators.GeneratorRelease,
            };
        }

        return {
            ok: false,
            error: FernRegistry.generators.versions.getGeneratorRelease.Error._unknown(_response.error),
        };
    }

    /**
     * Get all generator versions for the specified generator.
     *
     * @param {FernRegistry.generators.GeneratorId} generator
     * @param {Versions.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await fernRegistry.generators.versions.getAllGeneratorReleases("string")
     */
    public async getAllGeneratorReleases(
        generator: FernRegistry.generators.GeneratorId,
        requestOptions?: Versions.RequestOptions
    ): Promise<
        core.APIResponse<
            FernRegistry.generators.GeneratorRelease[],
            FernRegistry.generators.versions.getAllGeneratorReleases.Error
        >
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.FernRegistryEnvironment.Prod,
                `/generators/versions/${encodeURIComponent(generator)}`
            ),
            method: "GET",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
            },
            contentType: "application/json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : undefined,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: _response.body as FernRegistry.generators.GeneratorRelease[],
            };
        }

        return {
            ok: false,
            error: FernRegistry.generators.versions.getAllGeneratorReleases.Error._unknown(_response.error),
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
