@layer components {
  .fern-web-socket-trigger {
    @apply hover:data-[state=closed]:bg-tag-default flex w-full cursor-default items-center gap-2 px-3 py-2 transition-[background,border-radius] duration-75 ease-[cubic-bezier(0.87,_0,_0.13,_1)] data-[state=closed]:rounded-[inherit];
    @apply sticky top-0 z-10 backdrop-blur;

    .fern-web-socket-client,
    .fern-web-socket-server,
    .fern-web-socket-end-sample {
      @apply inline-block shrink-0 rounded-full p-0.5;
    }

    .fern-web-socket-client {
      @apply text-intent-success bg-tag-success;
    }

    .fern-web-socket-server {
      @apply text-accent-aaa bg-tag-primary;
    }

    .fern-web-socket-end-sample {
      @apply text-intent-danger bg-tag-danger;
    }

    .fern-web-socket-type {
      @apply inline-flex flex-1 justify-end;

      .fern-web-socket-badge {
        @apply t-muted bg-tag-default h-5 rounded-md px-1.5 py-1 text-xs leading-none whitespace-nowrap;
      }
    }

    .fern-web-socket-trigger-data {
      @apply min-w-0 flex-1 shrink truncate text-left font-mono text-xs;
    }

    .fern-web-socket-copy {
      @apply -my-2 -mr-2 -ml-1;
    }

    .fern-web-socket-chevron {
      @apply t-muted size-icon shrink-0 transition-transform duration-300 ease-[cubic-bezier(0.87,_0,_0.13,_1)];
    }
  }

  .fern-web-socket-content {
    @apply overflow-hidden;
  }
}
