@layer base {
    html {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;

        @apply outline-transparent;
        @apply focus:outline-border-accent-muted focus-visible:outline-border-accent-muted;
    }

    ::selection {
        @apply bg-accent-highlight;
    }

    html,
    body {
        @apply t-default;

        font-size: 16px !important;
    }

    code.inline-code {
        @apply text-[0.875em];
    }

    h1 {
        @apply text-[2.25rem] font-[420] leading-tight;
        font-variant-ligatures: common-ligatures;
        font-variation-settings:
            "cuts" 300,
            "move" 300;
    }

    h2 {
        @apply text-[1.5rem] font-normal leading-tight;
    }

    h3 {
        @apply text-[1.25rem] font-normal leading-tight;
    }

    h4 {
        @apply text-[1.125rem] font-normal leading-tight;
    }

    h5 {
        @apply text-[1rem] font-normal;
    }

    h6 {
        @apply text-[0.875rem] font-normal;
    }

    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }

    hr {
        @apply border-default;
    }
}
