@layer components {
    .fern-radio-group {
        @apply space-y-4;
    }

    .fern-radio-group.compact {
        @apply space-y-2 text-sm;
    }

    .fern-radio-label {
        @apply flex cursor-pointer;
    }

    .fern-radio-item {
        @apply ring-default relative mt-0.5 inline-block size-4 rounded-full ring-1 ring-inset;
    }

    .fern-radio-item:hover {
        @apply bg-tag-primary;
    }

    .fern-radio-item:focus {
        @apply outline outline-4 outline-offset-0 outline-tag-primary;
    }

    .fern-radio-indicator {
        @apply size-4 bg-accent flex items-center justify-center rounded-full;
    }

    .fern-radio-indicator::after {
        @apply bg-background absolute size-2 rounded-full;

        content: "";
    }
}
