@layer components {
    .fern-scroll-area {
        @apply h-full w-full overflow-hidden flex flex-col z-0;
    }

    .fern-scroll-area-viewport {
        @apply h-full w-full shrink flex flex-col min-h-0;

        border-radius: inherit;

        /* Stop Chrome back/forward two-finger swipe when there is a horizontal scrollbar */
        &:where(:has(.fern-scroll-area-scrollbar[data-orientation="horizontal"])) {
            overscroll-behavior-x: contain;
        }

        > div {
            display: block !important;
            width: fit-content;
            flex-grow: 1;
        }

        &[data-scrollbars="vertical"] > div {
            max-width: 100%;
            width: 100%;
        }
    }

    .fern-scroll-area-scrollbar {
        @apply flex select-none touch-none m-1 transition-all ease-out z-10 rounded-full;
        @apply bg-tag-default;
    }

    .fern-scroll-area-scrollbar[data-state="hidden"] {
        @apply opacity-0;
    }

    .fern-scroll-area-scrollbar[data-orientation="vertical"] {
        @apply w-[4px] hover:w-[6px] my-[5px];
    }

    .fern-scroll-area-scrollbar[data-orientation="horizontal"] {
        @apply flex-col h-[4px] hover:h-[6px] mx-[5px];
    }

    .fern-scroll-area-thumb {
        @apply flex relative z-auto;
        @apply bg-border-accent-muted flex-1 rounded-full;
    }

    /* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
    .fern-scroll-area-thumb::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        min-width: 44px;
        min-height: 44px;
    }

    .fern-scroll-area-corner {
        @apply bg-transparent;
    }
}
