@layer base {
    kbd {
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
        font-variant-numeric: slashed-zero;
        font-weight: 700;
    }
}

@layer components {
    .fern-kbd {
        @apply bg-[var(--grayscale-1)] text-[var(--grayscale-a12)] border border-[var(--grayscale-a6)] rounded-md px-1.5 py-0.5 text-xs;
    }
}
