.form-input {
    @apply block w-full rounded-lg border bg-transparent p-2.5 text-sm;
    @apply border-border-default-light;
    @apply focus:border-accent-primary focus:ring-accent-primary focus:ring-1;

    :global(.dark) & {
        @apply border-border-default-dark;
        @apply focus:border-accent-primary-dark focus:ring-accent-primary-dark;
    }
}

.description-mask {
    @apply overflow-hidden max-h-[4rem];
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: -o-ellipsis-lastline;
}
