@tailwind components;

@layer components {
    .playground-endpoint {
        @apply flex min-w-0 flex-1 shrink items-start gap-2;
        @apply bg-background border-default relative z-10 px-3 py-2 border-x;
        @apply hover:self-start hover:overflow-visible hover:border-b hover:rounded-b-lg;
    }

    .playground-endpoint-url {
        @apply truncate break-all font-mono text-xs hover:whitespace-normal;
        @apply py-1;
    }

    .playground-endpoint:hover .playground-endpoint-url {
        @apply whitespace-normal;
    }

    .playground-endpoint-copy-button {
        @apply hidden -mt-1;
    }

    .playground-endpoint:hover .playground-endpoint-copy-button {
        @apply inline-block;
    }
}
