lib
build
dist
.yarn
.husky
generated
bundle.c?js
.pnp*
.next
../tests/**/*
.circleci
.github
.vscode
**/fern/**
out
pnpm-lock.yaml
**/generated/
**/.serverless/**
clis/docs-migrator/src/__test__/fixtures/**
clis/docs-migrator/src/__test__/fixtures/bland/api-reference/endpoint/call.mdx