@layer components {
  a.fern-anchor {
    @apply relative flex size-6 items-center rounded-md border-0;
  }

  .fern-anchor-icon {
    @apply absolute left-0 flex size-6 items-center justify-center rounded-md;

    > svg {
      @apply size-4;
    }
  }

  .fern-anchor-icon:not(.copied) {
    @apply text-muted bg-card-background ring-card-border ring-1 backdrop-blur;
  }

  .fern-anchor-icon.copied {
    @apply bg-tag-primary ring-border-primary ring-1 backdrop-blur;

    > svg {
      @apply text-accent;
    }
  }
}
