@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family:
        -apple-system,
        blinkmacsystemfont,
        segoe ui,
        roboto,
        oxygen,
        ubuntu,
        cantarell,
        open sans,
        helvetica neue,
        sans-serif;
}

@layer base {
    :root {
        --background: 108 100% 99%;
        --foreground: 120 33% 5%;
        --card: 108 100% 99%;
        --card-foreground: 120 33% 5%;
        --popover: 108 100% 99%;
        --popover-foreground: 120 33% 5%;
        --primary: 127 72% 37%;
        --primary-foreground: 0 0% 98%;
        --secondary: 108 20% 95%;
        --secondary-foreground: 0 0% 9%;
        --muted: 108 20% 95%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 108 20% 95%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 127 72% 37%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 120 33% 5%;
        --foreground: 0 0% 98%;
        --card: 120 33% 5%;
        --card-foreground: 0 0% 98%;
        --popover: 120 33% 5%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 120 34% 12%;
        --secondary-foreground: 0 0% 98%;
        --muted: 120 34% 12%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 120 34% 12%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 120 34% 12%;
        --input: 120 34% 12%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    [cmdk-group-heading] {
        @apply text-xs font-semibold text-[#969696] dark:text-white/50 px-4 my-1;
    }

    [cmdk-item] {
        @apply mx-2 p-2 rounded-md data-[selected=true]:bg-[#CCC]/30 dark:data-[selected=true]:bg-white/10 text-left;
    }
}
