@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer components {
    [cmdk-group-heading] {
        @apply text-xs font-semibold text-[#969696] dark:text-white/50 px-4 my-1;
    }

    [cmdk-item] {
        @apply mx-2 p-2 rounded-md data-[selected=true]:bg-[#CCC]/30 dark:data-[selected=true]:bg-white/10 text-left;
    }
}
