@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "@fern-ui/fern-docs-badges/index.scss";
@import "@fern-ui/fern-docs-badges/colors.scss";
@import "@fern-ui/fern-docs-syntax-highlighter/src/index.scss";

body {
    font-family:
        -apple-system,
        blinkmacsystemfont,
        segoe ui,
        roboto,
        oxygen,
        ubuntu,
        cantarell,
        open sans,
        helvetica neue,
        sans-serif;
}

@layer base {
    :root {
        --background: 108 100% 99%;
        --foreground: 120 33% 5%;
        --card: 108 100% 99%;
        --card-foreground: 120 33% 5%;
        --popover: 108 100% 99%;
        --popover-foreground: 120 33% 5%;
        --primary: 127 72% 37%;
        --primary-foreground: 0 0% 98%;
        --secondary: 108 20% 95%;
        --secondary-foreground: 0 0% 9%;
        --muted: 108 20% 95%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 108 20% 95%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 127 72% 37%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;

        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;

        --grayscale-1: var(--olive-1);
        --grayscale-2: var(--olive-2);
        --grayscale-3: var(--olive-3);
        --grayscale-4: var(--olive-4);
        --grayscale-5: var(--olive-5);
        --grayscale-6: var(--olive-6);
        --grayscale-7: var(--olive-7);
        --grayscale-8: var(--olive-8);
        --grayscale-9: var(--olive-9);
        --grayscale-10: var(--olive-10);
        --grayscale-11: var(--olive-11);
        --grayscale-12: var(--olive-12);
        --grayscale-a1: var(--olive-a1);
        --grayscale-a2: var(--olive-a2);
        --grayscale-a3: var(--olive-a3);
        --grayscale-a4: var(--olive-a4);
        --grayscale-a5: var(--olive-a5);
        --grayscale-a6: var(--olive-a6);
        --grayscale-a7: var(--olive-a7);
        --grayscale-a8: var(--olive-a8);
        --grayscale-a9: var(--olive-a9);
        --grayscale-a10: var(--olive-a10);
        --grayscale-a11: var(--olive-a11);
        --grayscale-a12: var(--olive-a12);

        --border-color-card: var(--grayscale-a7);
    }
    .dark {
        --background: 120 33% 5%;
        --foreground: 0 0% 98%;
        --card: 120 33% 5%;
        --card-foreground: 0 0% 98%;
        --popover: 120 33% 5%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 120 34% 12%;
        --secondary-foreground: 0 0% 98%;
        --muted: 120 34% 12%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 120 34% 12%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 120 34% 12%;
        --input: 120 34% 12%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;

        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .mask-grad-y-3 {
        mask-image: linear-gradient(to bottom, transparent 0, black 12px, black calc(100% - 12px), transparent 100%);
    }
}

@layer components {
    .fern-search-facet-filter-menu-button:has(.fern-docs-badge) {
        padding: 0;
        overflow: hidden;
        border: 0px;

        .fern-docs-badge {
            padding: 0.125rem 0.625rem;
            height: 22px;
            border-radius: inherit;
            width: unset !important;
        }
    }

    .fern-chatbot-terminator {
        @apply bg-black dark:bg-white;

        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-inline: 8px;
    }
}
