@import "./variants.scss";

@layer components {
  .fern-docs-badge {
    align-items: center;
    display: inline-flex;
    gap: 0.25rem;
    justify-content: center;
    line-height: 1rem;
    box-sizing: border-box;
    font-weight: 600;
    white-space: nowrap;

    &.interactive:not(:disabled):hover,
    &[data-state="open"]:not(:disabled) {
      cursor: pointer;
      transition: background-color 150ms ease-in-out;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.rounded {
      border-radius: 9999px !important;
    }

    &.small {
      border-radius: 0.25rem;
      font-size: 0.75rem;
      height: 1rem;
      padding: 0 0.375rem;
    }

    &.large {
      border-radius: calc(0.5rem - 2px);
      font-size: 0.875rem;
      height: 1.5rem;
      padding: 0.25rem 0.5rem;
    }

    &[data-badge-type="http-method"],
    &[data-badge-type="status-code"] {
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace !important;
      font-variant-numeric: slashed-zero;
      text-transform: uppercase;
    }

    &[data-badge-type="http-method"] {
      font-weight: 700;
    }

    &.small[data-http-method="PATCH"],
    &.small[data-http-method="TRACE"] {
      letter-spacing: -0.025em;
    }

    &[data-badge-type="http-method"].small {
      font-size: 0.625rem;
      width: 2.25rem;
    }

    &[data-badge-type="http-method"].large {
      font-size: 0.75rem;
    }

    & > svg {
      width: 1.25em;
      height: 1.25em;
    }
  }
}
