@layer components {
  .fern-background {
    @apply bg-background pointer-events-none overscroll-y-none;
    position: fixed;
    inset: 0;
    z-index: 0;
  }
}

:not(.dark) .fern-background.fern-background-image,
:is(.dark) .fern-background.fern-background-image-dark {
  background-image: var(--docs-background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
