@layer components {
  .fern-background {
    @apply bg-background pointer-events-none sticky inset-0 -z-10 overscroll-y-none;
  }
}

:not(.dark) .fern-background.fern-background-image,
:is(.dark) .fern-background.fern-background-image-dark {
  background-image: var(--docs-background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
