#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    @apply bg-accent;

    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
}

#nprogress .bar.blurout {
    @apply blur-md opacity-0 transition-all ease-out;
}

#nprogress .peg {
    @apply bg-accent blur-md;

    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 120%;
    opacity: 1;
    transform: rotate(3deg) translate(0, -4px);
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}
