@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: var(--color-gray-1200);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #3a8524;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--color-gray-800);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #3a8524;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* design system */
  --color-gray-100: #fcfcfd;
  --color-gray-200: #f9f9fb;
  --color-gray-300: #eff0f3;
  --color-gray-400: #e7e8ec;
  --color-gray-500: #e0e1e6;
  --color-gray-600: #d8d9e0;
  --color-gray-700: #cdced7;
  --color-gray-800: #b9bbc6;
  --color-gray-900: #8b8d98;
  --color-gray-1000: #80828d;
  --color-gray-1100: #62636c;
  --color-gray-1200: #1e1f24;
  --color-blue-100: #fdfdfe;
  --color-blue-200: #f7f9ff;
  --color-blue-300: #edf2fe;
  --color-blue-400: #e0eaff;
  --color-blue-500: #d0dfff;
  --color-blue-600: #bdd2ff;
  --color-blue-700: #a7bff7;
  --color-blue-800: #88a6ed;
  --color-blue-900: #84a1e8;
  --color-blue-1000: #7996dc;
  --color-blue-1100: #4963a4;
  --color-blue-1200: #1e2e5a;
  --color-green-100: #fafef9;
  --color-green-200: #f3fcf1;
  --color-green-300: #dbfdd3;
  --color-green-400: #c3fbb7;
  --color-green-500: #acf49c;
  --color-green-600: #93e97f;
  --color-green-700: #73d95b;
  --color-green-800: #51c233;
  --color-green-900: #70e155;
  --color-green-1000: #65d649;
  --color-green-1100: #008700;
  --color-green-1200: #17450a;
  --color-purple-100: #fefcff;
  --color-purple-200: #fcf8fd;
  --color-purple-300: #f8ecfb;
  --color-purple-400: #f3e0f8;
  --color-purple-500: #ecd4f3;
  --color-purple-600: #e4c5ec;
  --color-purple-700: #d7b1e1;
  --color-purple-800: #c896d5;
  --color-purple-900: #9861a6;
  --color-purple-1000: #8a5498;
  --color-purple-1100: #865094;
  --color-purple-1200: #4e2059;
  --color-yellow-100: #fdfdfb;
  --color-yellow-200: #fcfaef;
  --color-yellow-300: #faf5d0;
  --color-yellow-400: #f5edb3;
  --color-yellow-500: #eee398;
  --color-yellow-600: #e0d58a;
  --color-yellow-700: #cec377;
  --color-yellow-800: #baad53;
  --color-yellow-900: #e5d87e;
  --color-yellow-1000: #dbce74;
  --color-yellow-1100: #80741f;
  --color-yellow-1200: #403c23;

  /* fern brand */
  --color-fern: oklch(62.42% 0.1929 143.94);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
