@layer components {
  .fern-search-bar {
    @apply cursor-pointer;
    @apply text-sm border-default flex items-center rounded-lg border-none px-2.5 py-2 t-muted;
    @apply bg-tag-default;
    @apply hover:bg-tag-default-hover transition-[background,shadow];
    @apply ring-inset ring-default hover:ring-default ring-1;
    @apply max-sm:h-10 max-sm:text-base;

    .search-placeholder {
      @apply inline-flex flex-1 items-center space-x-2.5;

      span {
        @apply text-faded;
      }
    }

    .keyboard-shortcut-hint {
      @apply t-muted ring-card-border shadow-card-light inline-flex size-icon-md items-center justify-center rounded ring-1 font-mono text-xs leading-none;
      @apply dark:shadow-card-dark bg-card;
    }

    &:hover .keyboard-shortcut-hint {
      @apply ring-card-border;
    }

    &:disabled {
      @apply shadow-none bg-tag-default-soft cursor-default;
    }
  }

  .fern-mdx-link {
    @apply t-accent-aaa underline underline-offset-4 decoration-1 hover:decoration-2 decoration-accent-aa;
    @apply font-semibold;

    h1 &,
    h2 &,
    h3 &,
    h4 &,
    h5 &,
    h6 & {
      font-weight: inherit;
    }

    h1 &,
    h2 &,
    h3 & {
      @apply t-accent; // WCAG AA
    }

    svg.external-link-icon {
      @apply ml-0.5 inline-block text-text-muted size-3.5;
    }

    &:hover {
      svg.external-link-icon {
        @apply t-accent;
      }
    }
  }

  .fern-api-property {
    @apply py-4 space-y-4;

    p:last-child {
      @apply mb-0;
    }
  }

  .fern-api-property-header {
    @apply flex items-baseline gap-2;
  }

  .fern-api-property-key {
    @apply font-mono t-default font-semibold text-sm;
  }

  .fern-api-property-meta {
    @apply t-muted inline-flex items-baseline gap-2 text-xs;
  }

  .custom-backdrop [data-rmiz-modal-overlay="visible"] {
    @apply bg-text-default/20;
  }

  .fern-page-heading {
    @apply my-0 inline-block leading-tight;

    text-wrap: balance;
    word-wrap: break-word;
  }
}
