@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./rmiz";
@import "./base";
@import "@fern-docs/components/src/index.scss";
@import "@fern-docs/syntax-highlighter/src/index.scss";
@import "@fern-docs/search-ui/src/index.scss";
@import "./components";
@import "../api-reference";
@import "../playground";
@import "../components";
@import "../mdx/components";
@import "../changelog";
@import "./utilities";
@import "../themes";
@import "../header";
@import "../sidebar";
