name: CI

on:
  push:
    branches:
      - "**"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 5 # This helps turbo resolve changes faster

      - name: Install
        uses: ./.github/actions/install

      - name: Compile
        run: pnpm compile

      - name: Check dependencies
        run: pnpm depcheck

      - name: Check format
        run: pnpm format:check

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install

      - name: Lint monorepo
        run: pnpm lint:monorepo

      - name: Lint style and eslint
        run: pnpm turbo lint:style lint:eslint format:check

  organize-imports:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install

      - name: Organize imports
        # not using --list-different because sometimes this removes a trailing
        # comma that prettier adds back
        run: |
          pnpm organize-imports
          git --no-pager diff --exit-code

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install
        uses: ./.github/actions/install

      - name: Codegen
        run: |
          npm install -g fern-api
          fern generate --local
          pnpm turbo --filter=@fern-platform/fdr codegen
        env:
          FERN_TOKEN: ${{ secrets.FERN_TOKEN }}

      - name: Setup database
        # TODO: re-enable when moving to turbo
        # pnpm turbo --filter= docker:local
        run: |
          pnpm turbo --filter= test-db
          pnpm turbo --filter= test-ete

      - name: Run tests
        run: pnpm test
        env:
          CI: true

      - name: Ensure no changes to git-tracked files
        run: git --no-pager diff --exit-code

  check-docs-release-is-allowed:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install

      - name: Check release blockers
        run: pnpm check-docs-release-blockers
