name: Deploy @fern-docs/pages-router-bundle (dev)

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: app-dev.buildwithfern.com
  cancel-in-progress: true

jobs:
  ignore:
    runs-on: ubuntu-latest
    outputs:
      continue: ${{ steps.ignore.outputs.continue }}
    steps:
      - uses: actions/checkout@v4
      - name: Ignore unchanged files
        id: ignore
        uses: ./.github/actions/turbo-ignore
        with:
          token: ${{ secrets.VERCEL_TOKEN }}
          project: "app-dev.buildwithfern.com"
          package: "@fern-docs/pages-router-bundle"
          environment: "production"
          branch: main

  deploy:
    needs: ignore
    if: needs.ignore.outputs.continue == 1
    runs-on: ubuntu-latest
    environment:
      name: Production - app-dev.buildwithfern.com
      url: ${{ steps.deploy.outputs.deployment_url }}
    outputs:
      deployment_url: ${{ steps.deploy.outputs.deployment_url }}
    steps:
      # set the ref to a specific branch so that the deployment is scoped to that branch (instead of a headless ref)
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name || github.ref }}

      - uses: ./.github/actions/install

      - name: Build & Deploy to Vercel
        id: deploy
        run: |
          pnpm vercel-scripts deploy app-dev.buildwithfern.com --token=${{ secrets.VERCEL_TOKEN }} --environment=production
          echo "deployment_url=$(cat deployment-url.txt)" >> $GITHUB_OUTPUT
