name: Playwright E2E

on:
  workflow_dispatch:
    inputs:
      deployment_url:
        type: string
        description: "The URL of the deployment to test"
        required: true
  workflow_call:
    inputs:
      deployment_url:
        type: string
        description: "The URL of the deployment to test"
        required: true

jobs:
  playwright:
    runs-on: ubuntu-latest
    permissions: write-all # required for the playwright-report-summary action
    if: inputs.deployment_url != ''
    env:
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      FERN_TOKEN: ${{ secrets.FERN_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/install

      - name: Install Fern CLI (used for docs e2e)
        run: pnpm i -g fern-api@latest

      - name: Fetch domains
        run: pnpm vercel-scripts domains.txt app.buildwithfern.com

      - run: pnpm build

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps --browser=chromium

      - name: Run Playwright tests
        run: pnpm exec playwright test playwright --workers 1 --reporter json
        env:
          PLAYWRIGHT_JSON_OUTPUT_NAME: results.json

      - uses: daun/playwright-report-summary@v3
        if: always()
        with:
          report-file: results.json
