name: Vercel Preview Deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
  ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
  ALGOLIA_SEARCH_INDEX: ${{ secrets. ALGOLIA_SEARCH_INDEX }}
  FONTAWESOME_CDN_HOST: https://fontawesome-cdn.vercel.app
on: pull_request
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4

      - name: Comment in PR
        uses: thollander/actions-comment-pull-request@v2.4.3
        with:
          message: "Deploying PR Preview..."
          comment_tag: pr_preview_${{ github.run_id }}

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --debug --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: |
          DEPLOYMENT_URL="$(vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }})"

          DOMAINS="
          docs.joincandidhealth.com
          reference.flatfile.com
          docs.vellum.ai
          docs.flagright.com
          docs.propexo.com
          docs.pier-finance.com
          assemblyai.docs.buildwithfern.com
          docs.hellodata.ai
          docs.privategpt.dev
          docs.mercoa.com
          "

          echo "### PR Preview" >> preview.txt
          for DOMAIN in $DOMAINS
          do
              echo "- [_] [$DOMAIN]($DEPLOYMENT_URL/api/fern-docs-preview?host=$DOMAIN)" >> preview.txt
          done

      - name: Comment URL in PR
        uses: thollander/actions-comment-pull-request@v2.4.3
        with:
          filePath: preview.txt
          comment_tag: pr_preview_${{ github.run_id }}
