name: Vercel Preview Deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
  ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
  ALGOLIA_SEARCH_INDEX: ${{ secrets. ALGOLIA_SEARCH_INDEX }}
  FONTAWESOME_CDN_HOST: https://fontawesome-cdn.vercel.app
on: pull_request
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4

      - name: Comment in PR
        uses: thollander/actions-comment-pull-request@v2.4.3
        with:
          message: |
            ## PR Preview
            Building...
          comment_tag: pr_preview_${{ github.run_id }}

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --debug --token=${{ secrets.VERCEL_TOKEN }}

      - name: Comment in PR
        uses: thollander/actions-comment-pull-request@v2.4.3
        with:
          message: |
            ## PR Preview
            Deploying...
          comment_tag: pr_preview_${{ github.run_id }}

      - name: Deploy Project Artifacts to Vercel
        run: |
          DEPLOYMENT_URL="$(vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }})"
          echo "Deployment URL: $DEPLOYMENT_URL"

          CUSTOM_DOMAINS=$(curl -s -X GET "https://api.vercel.com/v13/deployments/app.buildwithfern.com?teamId=team_6FKOM5nw037hv8g2mTk3gaH7&withGitRepoInfo=true" -H "Authorization: Bearer ${{ secrets.VERCEL_TOKEN }}" | jq -r '.alias[]')

          CUSTOM_DOMAINS=$(echo $CUSTOM_DOMAINS | grep -v "buildwithfern.com" | grep -v "vercel.app")

          echo "## PR Preview" >> preview.txt
          for DOMAIN in $CUSTOM_DOMAINS
          do
              echo "- [ ] [$DOMAIN]($DEPLOYMENT_URL/api/fern-docs/preview?host=$DOMAIN)" >> preview.txt
          done

      - name: Comment URL in PR
        uses: thollander/actions-comment-pull-request@v2.4.3
        with:
          filePath: preview.txt
          comment_tag: pr_preview_${{ github.run_id }}
