name: Customer Docs

on: workflow_dispatch

jobs:
  generate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        customer: [candid, fern, flatfile, mercoa, primer, superagent, vellum]
    steps:
      - uses: actions/checkout@v4

      - name: Install fern-dev CLI
        run: |
          npm config set //registry.npmjs.org/:_authToken ${{ secrets.YARN_NPM_AUTH_TOKEN }}
          npm install -g @fern-api/fern-api-dev --prefix=$HOME/.local

      - name: Generate Customer Docs
        run: |
          export FERN_TOKEN="${{ secrets.FERN_ORG_TOKEN_DEV }}"
          cd test/customer-fixtures/${{ matrix.customer }}
          fern-dev generate --docs --log-level debug
          echo "Generated docs for ${{ matrix.customer }}!"
