name: Revalidate All

on:
  workflow_call:
    inputs:
      deployment_url:
        type: string
        description: "The deployment URL to revalidate"
        required: true
        default: "legacy.buildwithfern.com"
  workflow_dispatch:
    inputs:
      deployment_url:
        type: string
        description: "The deployment URL to revalidate"
        required: false
        default: "legacy.buildwithfern.com"

env:
  VERCEL_ORG_ID: team_6FKOM5nw037hv8g2mTk3gaH7
  VERCEL_PROJECT_ID: prj_QX3venU6jwRUmdt8ArfL8AU5r1d4

jobs:
  revalidate-all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install

      - name: Revalidate all
        run: pnpm vercel-scripts revalidate-all ${{ inputs.deployment_url || 'legacy.buildwithfern.com' }} --token ${{ secrets.VERCEL_TOKEN }}
