@layer components {
  [data-theme="cohere"] {
    &#fern-header {
      .fern-header-navbar-links,
      .fern-header-mobile-menu-button {
        @apply -mr-2;
      }

      .fern-header-tabs {
        @apply lg:items-center;
      }

      [role="tablist"] {
        @apply flex items-center gap-3;
      }

      [data-radix-collection-item] {
        @apply rounded-2 flex h-[40px] select-none items-center border px-3 text-sm;

        &[data-state="active"] {
          border-color: var(--border-color-header-tab-active);
          background-color: var(--bg-color-header-tab-active);
        }

        &[data-state="inactive"] {
          @apply text-body border-border-default;

          @variant hover {
            background-color: var(--bg-color-header-tab-inactive-hover);
          }
        }
      }
    }

    #fern-cohere-content {
      @apply relative flex w-full gap-3;
    }

    #fern-sidebar[data-viewport="desktop"] {
      @apply bg-sidebar-background border-border-default rounded-2 w-sidebar-width shrink-0 overflow-clip border;

      #fern-sidebar-scroll-area {
        @apply px-2 py-6 pb-12;
      }
    }

    #fern-sidebar[data-viewport="mobile"] {
      @apply bg-sidebar-background rounded-2 border-border-default overflow-clip border;
      @apply sm:w-sidebar-width border-border-concealed pointer-events-auto fixed bottom-3 right-3 top-[calc(var(--header-height)+1.5rem)] z-40 flex w-full max-w-[calc(100dvw-3rem)] flex-col border-l backdrop-blur-xl;

      #fern-sidebar-scroll-area {
        @apply px-4 py-6 pb-12;
      }
    }

    #fern-toc {
      @apply top-0 max-h-[calc(100dvh-var(--spacing-header-height)-2.25rem-2px)];
    }

    .fern-layout-reference-aside[data-kind="api"] {
      @apply max-h-[calc(100svh-var(--header-height)-8.25rem-2px)] md:top-6 md:max-h-[calc(100vh-var(--header-height)-5.25rem-2px)];
    }

    .fern-layout-reference-aside[data-kind="guide"] {
      @apply top-6 pb-12;
    }

    .fern-changelog-content > aside {
      @apply top-4;
    }

    #fern-sidebar-overlay {
      @apply bg-background/70 pointer-events-auto fixed inset-0 top-[calc(var(--header-height)+1.5rem)] z-30;
    }
  }
}
